@use 'sass:map';
@use '../colors.scss' as colors;
@use '../text-setting.scss' as fonts;

.label {
  width: 100%;
  padding-bottom: 0.3125rem;

  &::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
}

.label__left {
  float: left;
  height: 1.25em;
  text-align: left;
  @include fonts.label-h3(1.25em);
}

.label__right {
  float: right;
  height: 1.25em;
  text-align: right;
  @include fonts.label-right(1.25em);
}