  .header
  .header__logo
    +logo("small", true, true)
  .header__nav
    a(class="header__nav-item header__nav-item_about") О нас
    a(class="header__nav-item header__nav-item_exp") Услуги 
    a.header__nav-item Вакансии
    a.header__nav-item Новости
    a(class="header__nav-item header__nav-item_exp") Соглашения
    a(class="header__nav-item" style="height: 1.875rem; border-left: 0.063rem solid rgba(31, 32, 65, 0.1);")
    a.header__nav-item Юлий Цезарь