.dropdown {
  position: relative;
  width: 100%;
  max-width: 266px;
}

.dropdown_width_large {
  max-width: 320px;
}

.dropdown__head {
  position: relative;

  line-height: 0;
}

.dropdown__input {
  width: 100%;
  height: 3.143em;
  padding-left: 1em;
  padding-right: 3.143em;
  padding-bottom: 2px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  @include p-text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include non-selectable;

  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    border-color: $dark-shade-50;

    & + .dropdown__icon {
      color: $dark-shade-75;
    }
  }

  &.dropdown__input_expanded + .dropdown__icon {
    color: $dark-shade-75;
  }
}

.dropdown__input_angled {
  border-radius: 4px 4px 0 0;
}

.dropdown__input_expanded {
  border-radius: 4px 4px 0 0;
  border-color: $dark-shade-50;
}

.dropdown__icon {
  position: absolute;
  bottom: 0;
  right: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75em;
  height: 2.75em;

  color: $dark-shade-50;

  cursor: pointer;

  &:hover {
    color: $dark-shade-75;
  }
}

.dropdown__bar {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 6px;
  border: 1px solid $dark-shade-50;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: white;
  box-shadow: 0px 10px 20px $dark-shade-05;

  line-height: 0;
}

.dropdown__bar_hidden {
  display: none;
}

.dropdown__bar_fixed {
  display: block;
}

.dropdown__option {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 1.875em;
  padding-left: 0.875em;
  padding-right: 6px;
  padding-bottom: 7px;
}

.dropdown__option-description {
  height: 1.875em;
  padding-top: 6.5px;

  @include label-text;
}

.dropdown__option-button {
  position: relative;

  width: 1.667em;
  height: 1.667em;
  padding-top: 5px;

  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  cursor: pointer;

  @include Montserrat-normal;
  font-size: 1.125em;
  line-height: 1;
  text-align: center;
  color: $dark-shade-50;

  @include non-selectable;

  &:hover {
    border-color: $dark-shade-50;
  }
}

.dropdown__option-button_minus {
  margin-left: auto;
}

.dropdown__option-output {
  float: right;

  width: 32px;
  height: 2.5em;
  padding-top: 6.5px;

  @include label-text;
  text-align: center;
}

.dropdown__option-button_faded {
  border-color: dark-shade(0.095);

  color: dark-shade(0.095);

  &:hover {
    border-color: dark-shade(0.095);
  }
}

.dropdown__buttons {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  padding: 14px 7px 0 13px;
}

.dropdown__button-clear_hidden {
  visibility: hidden;
}
