$colors: (
    dark-shade-5: rgba(31, 32, 65, 0.05),
    dark-shade-25: rgba(31, 32, 65, 0.25),
    dark-shade-50: rgba(31, 32, 65, 0.50),
    dark-shade-75: rgba(31, 32, 65, 0.75),
    dark-shade-100: #1F2041,
    'purple': #BC9CFF,
    'green': #6FCF97
);

* {
    box-sizing: border-box;
}

@mixin block-for-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

@each $class-name, $color-hex in $colors {
    .#{$class-name}-sample {
        background-color: $color-hex;
        @include block-for-color();
    }
}

.box-for-sample {
    padding: 0;
    font: {
        family: Quicksand, sans-serif;
        size: 19px;
        weight: normal;
    }
    line-height: 29px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 270px;
}

.sample-text {
    margin-left: 40px;
    min-width: 160px;
}