.toggle {
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-width: min-content;
  height: 24px;
}

.toggle__descr {
  position: relative;
  padding-left: 10px;

  @include p-text(0.875em, 1.25);

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    left: -40px;

    box-sizing: border-box;
    width: 40px;
    height: 20px;

    border: 1px solid $dark-shade-25;
    border-radius: 20px;
    background-color: #FFFFFF;

    transition: border-color 0.3s linear;
  }

  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    left: -36px;
    top: 4px;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    background: $dark-shade-25;
    transition: transform 0.3s linear;
  }
}

.toggle__input {
  margin: 3.6px 13.6px;

  &:checked + .toggle__descr {
    &::before {
      border: 1px solid $purple;
    }

    &::after {
      background: linear-gradient(180deg, $purple, $malibu);
      transform: translateX(1.25rem);
    }
  }

  &:focus + .toggle__descr::before,
  &:hover + .toggle__descr::before {
    border-color: $dark-shade-50;
  }

  &:checked:focus + .toggle__descr::before,
  &:checked:hover + .toggle__descr::before {
    border: 1px solid $purple-darken-10;
  }
}
