mixin toggle(args = {})
  - const { name, value, text } = args
  label.toggle
    input(
      class = 'toggle__input'
      type = 'checkbox'
      name = name
      value = value
    )
    .toggle__text= text
