@use 'sass:map';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.toggle {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  min-width: min-content;
  height: 1.5rem;
}

.toggle__text {
  position: relative;
  height: 1.5rem;
  margin-left: 1.85rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.32;
  color: map.get(colors.$map, dark-shade-75);

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    left: -3.125rem;

    width: 2.375rem;
    height: 1.125rem;

    border: 1px solid map.get(colors.$map, dark-shade-25);
    border-radius: 10px;
    background-color: #FFFFFF;

    -webkit-transition: border-color 0.3s linear;
      -moz-transition: border-color 0.3s linear;
        -ms-transition: border-color 0.3s linear;
            transition: border-color 0.3s linear;
  }

  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    left: -2.875rem;
    top: 4px;

    width: 0.75rem;
    height: 0.75rem;

    border-radius: 10px;
    background: map.get(colors.$map, dark-shade-25);

    -webkit-transition: transform 0.3s linear;
      -moz-transition: transform 0.3s linear;
        -ms-transition: transform 0.3s linear;
            transition: transform 0.3s linear;
  }
}

.toggle__input {
  margin-left: 0.5rem;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .toggle__text,
  &:hover + .toggle__text {
    &:before {
      border-color: map.get(colors.$map, dark-shade-50);
    }
  }

  &:checked + .toggle__text {
    &::before {
      border: 1px solid map.get(colors.$map, 'purple');
    }

    &::after {
      background: linear-gradient(180deg, map.get(colors.$map, 'purple'), map.get(colors.$map, 'malibu'));
      -webkit-transform: translateX(1.25rem);
          -ms-transform: translateX(1.25rem);
              transform: translateX(1.25rem);
    }
  }

  &:focus:checked + .toggle__text::before,
  &:hover:checked + .toggle__text::before {
    border: 1px solid map.get(colors.$map, 'purple-darken');
  }
}
