@use "sass:map";
@use "sass:color";
@use "~styles/_colors";
@use "~styles/_text";

.fe__wrapper {
  background-color: #FFFFFF;
}

.fe__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.fe__content {
  padding: 143px 9.908%;
}

.fe__r-1,
.fe__r-2,
.fe__r-3,
.fe__r-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    flex-grow: 0;
  }
}

.fe__r-1__c-2,
.fe__r-1__c-3,
.fe__r-2__c-2,
.fe__r-2__c-3,
.fe__r-3__c-2,
.fe__r-3__c-3 {
  flex-basis: 320px;
}

.fe__r-1__c-1,
.fe__r-2__c-1,
.fe__r-3__c-1,
.fe__r-4__c-1 {
  flex-basis: 371px;
}

.fe__r-4__c-2 {
  flex-basis: 711px;
}

.fe__m-10 {
  margin-bottom: 0.625rem;
}

.fe__m-20 {
  margin-bottom: 1.25rem;
}

.fe__m-30 {
  margin-bottom: 1.875rem;
}

.fe__m-40 {
  margin-bottom: 2.5rem;
}

.fe__w-222 {
  width: 222px;
}

.fe__w-266 {
  width: 266px;
}

.fe__radio-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 13.75rem;
}

.fe__like-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 5.625rem;
}

.fe__rate-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 16.125rem;
}

.fe__plug {
  display: inline-block;
  width: 1.25rem;
}

.fe__button_faded {
  color: $dark-shade-50;
}

.fe__button-filled_faded {
  opacity: 0.5;
  color: #FFFFFF;
}

.fe__button-bordered_faded {
  $primary-50: color.scale($primary, $alpha: -50%);
  $primary-gradient-50: color.scale($primary-gradient, $alpha: -50%);
  background-image: linear-gradient(#FFF, #FFF),
                    linear-gradient(180deg, $primary-50, $primary-gradient-50);
  color: $primary;
}
