include ../../components/favicon/favicon.pug
include ../../components/layout/layout.pug
include ../../components/logo/logo.pug
include ../../components/label/label.pug
include ../../components/input/input.pug
include ../../components/text-field/text-field.pug
include ../../components/icon/icon.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/input-date/input-date.pug
include ../../components/calendar/calendar.pug
include ../../components/dropdown-date/dropdown-date.pug
include ../../components/dropdown-filter-date/dropdown-filter-date.pug
include ../../components/subscription-field/subscription-field.pug
include ../../components/checkbox/checkbox.pug
include ../../components/checkbox-rich/checkbox-rich.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/radio-button/radio-button.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button-short/button-short.pug
include ../../components/button-long/button-long.pug
include ../../components/pagination/pagination.pug
include ../../components/dropdown-facilities/dropdown-facilities.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/icon-item/icon-item.pug
include ../../components/comment/comment.pug
- const data = htmlWebpackPlugin.options.data
- const { title, checkboxList, checkboxRich, checkboxItems, bulletList } = data

+layout()
  +layout__block('head')
    title= pageTitle

  +layout__block('header')
    .fe__logo
      +logo({ size: 'big', isColored: false, isSigned: false })

  +layout__block('content')
    .fe__wrapper
      .fe__content
        .fe__r-1
          .fe__r-1__c-1
            .fe__m-20
              +text-field({ name: 'input-1st', placeholder: 'Email', labelText: 'text field', labelAppendix: 'default' })
            .fe__m-20
              +text-field({ name: 'input-2nd', labelText: 'text field', labelAppendix: 'hover / focus' })
            .fe__m-20
              +dropdown-guests('dropdown-guests-1st', 'dropdown')(class='js-auto-init')
            .fe__m-40
              +label({ text: 'masked text field' })
                +input-date({ name: 'input-date-1st' })
            .fe__m-40
              +dropdown-date({ name: 'dropdown-date-1st', labelText: 'date dropdown', labelAppendix: 'date dropdown' })(class='js-dropdown-date-1st')
            .fe__m-40
              +dropdown-filter-date({ name: 'dropdown-filter-date-1st', labelText: 'filter date dropdown' })(class='js-dropdown-filter-date-1st')
            .fe__w-266
              +label({ text: 'subscription text field' })
                +subscription-field({ name: 'subscr-field-1st', placeholder: 'Email' })
          .fe__r-1__c-2
            .fe__m-40.fe__w-222
              +checkbox-list({ label: 'checkbox buttons', items: checkboxItems })
            .fe__m-40.fe__w-222
              +label({ text: 'radio buttons', hasLargePadding: true })
              .fe__flex-box
                +radio-button({ name: 'sex', value: 'man', checked: true, text: 'Мужчина' })
                +radio-button({ name: 'sex', value: 'women', text: 'Женщина' })
            .fe__m-40.fe__w-270
              +label({ text: 'toggle', hasLargePadding: true })
                .fe__m-10
                  +toggle({ name: 'spec', value: 'first', checked: true, text: 'Получать спецпредложения' })
                +toggle({ name: 'spec', value: 'second', text: 'Получать спецпредложения' })
            .fe__m-40
              +label({ text: 'like button', hasLargePadding: true })
              .fe__like-buttons
                +like-button({ name: 'like-btn-1st', count: 2 })(class='js-auto-init')
                +like-button({ name: 'like-btn-2nd', count: 12, checked: true })(class='js-auto-init')
            +label({ text: 'rate button', hasLargePadding: true })
              .fe__rate-buttons
                +rate-button({ amount: 5, filled: 5, name: 'rate-button-1st' })(class='js-auto-init')
                +rate-button({ amount: 5, filled: 4, name: 'rate-button-2nd' })(class='js-auto-init')
          .fe__r-1__c-3
            .fe__m-40
              +range-slider({ labelText: 'range slider'}).js-auto-init
            .fe__m-30
              +label({ text: 'buttons', hasLargePadding: true })
              .fe__m-30
                +button-short({ name: 'button-short-1st', text: 'click me', isFilled: true })
                .fe__plug
                +button-short({ name: 'button-short-2nd', text: 'click me', isFilled: true })
              .fe__m-30
                +button-short({ name: 'button-short-3rd', text: 'click me', isBordered: true })
                .fe__plug
                +button-short({ name: 'button-short-4th', text: 'click me', isBordered: true })
              .fe__m-30.fe__buttons
                +button({ name: 'button-1st', text: 'click me' })
                .fe__plug
                +button({ name: 'button-2nd', text: 'click me' })
            .fe__m-40
              +button-long({ name: 'button-long-1st', text: 'перейти к оплате', isArrowed: true })
            +pagination({ amount: 10 })(class = 'js-auto-init')
        .fe__r-2
          .fe__r-2__c-1
            .fe__m-20
              +dropdown-facilities('dropdown-facilities-1st', 'dropdown', 'default')(class='js-dropdown-facilities-1st')
            .fe__m-20
              +dropdown-facilities('dropdown-facilities-2nd', 'dropdown', 'expanded')(class='js-dropdown-facilities-2nd')
          .fe__r-2__c-2
            +dropdown-guests('dropdown-guests-1st', 'dropdown')(class='js-dropdown-guests-1st')
          .fe__r-2__c-3
            +dropdown-guests('dropdown-guests-2nd', 'dropdown')(class='js-dropdown-guests-2nd')
        .fe__r-3
          .fe__r-3__c-1
            .fe__m-20.fe__w-266
              +expandable-list('expandable checkbox list')(class='js-auto-init')
                +checkbox-list({ items: checkboxList })
            .fe__m-20.fe__w-266
              +expandable-list('expandable checkbox list')
                +checkbox-list({ items: checkboxList })
          .fe__r-3__c-2
            +checkbox-list({ label: 'rich checkbox buttons', items: checkboxRich, isRich: true })
          .fe__r-3__c-3
            +label({ text: 'bullet list', hasLargePadding: true })
              +bullet-list(bulletList)
        .fe__r-4
          .fe__r-4__c-1
            +icon-item({ name: 'insert_emoticon', headline: 'Комфорт', descr: 'Шумопоглощающие стены' })
            +icon-item({ name: 'location_city', headline: 'Удобство', descr: 'Окно в каждой из спален' })
          .fe__r-4__c-2
            +comment({ img: 'image.jpg', date: '5 дней назад', nickname: 'Мурад Сарафанов', value: '11', message: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' })

