.pagination {
  display: grid;
  grid-template-columns: 2.5rem min-content 2.5rem auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'backward positions forward .......'
    '........ caption   caption caption';
}

.pagination__position-list {
  display: flex;
  grid-area: positions;

  @include cancel-list-style;
}

.pagination__position {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;

  cursor: pointer;

  @include p-text(0.75rem, 2.5rem, $dark-shade-50);
  text-align: center;

  @include non-selectable;
}

.pagination__position_current {
  padding-inline-end: 2px;
  background: linear-gradient(180deg, $primary, $primary-gradient);
  border-radius: 50%;

  font-weight: bold;
  color: white;
}

.pagination__position_hidden {
  display: none;
}

%pagination__button {
  background: linear-gradient(180deg, $secondary, $secondary-gradient);
  border-radius: 50%;

  @include material-icons;
  text-align: center;
  line-height: 2.5rem;
  color: white;

  cursor: pointer;
}

.pagination__button-backward {
  @extend %pagination__button;

  grid-area: backward;
}

.pagination__button-forward {
  @extend %pagination__button;

  grid-area: forward;
}

.pagination__button_faded {
  background: linear-gradient(180deg, $secondary-50, $secondary-50);
}

.pagination__button_hidden {
  visibility: hidden;
}

.pagination__caption-wrapper {
  grid-area: caption;
  height: 1.5rem;
  margin-top: 0.625rem;
}

.pagination__caption {
  padding-inline-start: 5px;

  @include p-text(0.875rem, 1, $dark-shade-75);
}
