mixin pagination()
  .pagination.js-pagination&attributes(attributes)
    table.pagination__table
      tbody
        tr.pagination__tr.js-pagination__tr
      caption.pagination__caption.js-pagination__caption
