mixin pagination()
  .pagination.js-pagination&attributes(attributes)
    ul.pagination__page-list
      tbody
        tr.pagination__tr.js-pagination__tr
      caption.pagination__caption.js-pagination__caption
