.pagination {
  width: max-content;
}

.pagination__table {
  position: relative;

  caption-side: bottom;
  border-collapse: collapse;

  text-align: center;
}

.pagination__td {
  
  width: 2.5rem;
  height: 2.5rem;

  @include Montserrat-normal;
  font-size: 0.750rem;
  line-height: 0.9375rem;
  color: $dark-shade-50;
  user-select: none;

  cursor: pointer;
}

.pagination__caption {
  
  height: 1.5rem;
  padding-top: 0.625rem;

  @include Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark-shade-75;
}

.pagination__button {
  background: linear-gradient(180deg, $secondary, $secondary-gradient);
  border-radius: 1.25rem;

  @include material-icons;
  display: table-cell;
  color: white;

  cursor: pointer;
}

.pagination__icon_rotate_180deg {
  transform: rotate(180deg);
}

.pagination__button_faded {
  background: linear-gradient(180deg, $secondary-50, $secondary-50);
}

.pagination__td_hide {
  display: none;
}

.pagination__button_hide {
  visibility: hidden;
}

.pagination__td_current {
  background: linear-gradient(180deg, $primary, $primary-gradient);
  border-radius: 1.25rem;

  font-weight: bold;
  color: white;
}
