mixin checkbox-list(checkboxName)
  div(class="checkbox-list" + " checkbox-list__exp_up") #{checkboxName}
  div(class="chekbox-list__dropdown" + " checkbox-list__dropdown_display")
    if block
      block