.invoice__hotel-room-heading {
  height: 1.875rem;
  padding-top: 0.5625rem;
  padding-bottom: 1.2813rem;

  font-size: 1rem;
}

.invoice__mid-indent {
  margin-bottom: 1.25rem;
}

.invoice__big-indent {
  margin-bottom: 1.875rem;
}

.invoice__table-container {
  padding: 0;
}

.invoice__table {
  min-width: calc(100% + 0.625rem);
  margin: -0.625rem -0.3125rem;
  border-collapse: separate;
  border-spacing:  0.3125rem 0.625rem;

  @include Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark-shade-75;

  & td {
    vertical-align: baseline;
  }
}

.invoice__td-last-child {
  text-align: end;
}

.invoice__service-charge-info {
  position: relative;
  width: 1.25rem;

  &:after {
    content: 'i';

    position: absolute;
    top: 0;
    left: 0;

    
    width: 1.25rem;
    height: 1.25rem;

    border: 1px solid $dark-shade-25;
    border-radius: 0.625rem;
    cursor: pointer;

    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: $dark-shade-25;
  }
}

.invoice__addit-charge-info {
  position: relative;
  width: 1.25rem;

  &:after {
    content: 'i';
    position: absolute;
    top: 3.5px;
    left: 0;

    
    width: 1.25rem;
    height: 1.25rem;

    border: 1px solid $dark-shade-25;
    border-radius: 0.625rem;
    cursor: pointer;

    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: $dark-shade-25;
  }
}

.invoice__addit-charge {
  width: 13.375rem;

  line-height: 1.125rem;
}

.invoice__service-charge {
  width: 13.375rem;
}

.invoice__total {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 1.5rem;

  @include Montserrat-bold;
  font-size: 1.1875rem;
  color: $dark-shade-100;
}

.invoice__total-text {
  flex: 0 1 auto;
}

.invoice__total-dashed-border {
  flex: 1 0 auto;
  margin: 0 4px;
  border-bottom: 1px dashed $dark-shade-25;
}

.invoice__total-price {
  flex: 0 1 auto;

  white-space: nowrap;
}
