.invoice-card {
  min-width: 300px;
  width: 100%;
  max-width: 380px;
}

.invoice-card__heading-wrapper {
  padding-top: 0.625em;
  padding-bottom: 1.25em;
}

.invoice-card__account {
  padding-top: 1.5px;
  padding-left: 0.5px;
}

.invoice-card__account-line {
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;

  @include p-text($height: 1.2857142em);
}

.invoice-card__gross,
.invoice-card__discount,
.invoice-card__service-price,
.invoice-card__extra-price,
.invoice-card__final-price {
  white-space: nowrap;
}

@mixin tooltip() {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 0;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;

  &::after {
    content: 'i';
    position: absolute;
    bottom: -4px;
    left: 1px;
    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;

    @include Montserrat-bold;
    font-size: 12px;
    line-height: 1.5;
    color: $dark-shade-25;
    text-align: center;
  }
}

.invoice-card__service-tooltip {
  @include tooltip;
}

.invoice-card__extra-tooltip {
  @include tooltip;

  &::after {
    bottom: -6px;
  }
}

.invoice-card__final {
  display: flex;
  height: 1.5rem;

  @include widget-text;
}

.invoice-card__dashed-border {
  flex-grow: 1;
  margin: 0 5px;
  margin-bottom: 5.5px;
  border-bottom: 1px dotted $dark-shade-25;
}

.invoice-card__final-price {
  flex: 0 0;

  white-space: nowrap;
}
