mixin dropdown-date(args)
  - const { name, labelArrival, labelDeparture } = args
  div(class='dropdown-date js-dropdown-date')&attributes(attributes)
    .dropdown-date__head
      .dropdown-date__arrival
        +label({ text: labelArrival })
          +input-date({ name: `${name}-arrival` }).js-dropdown-date__input-arrival
        +dropdown-date__icon
      .dropdown-date__departure
        +label({ text: labelDeparture })
          +input-date({ name: `${name}-departure` }).js-dropdown-date__input-departure
        +dropdown-date__icon
    .dropdown-date__bar.js-dropdown-date__bar.dropdown-date__bar_hidden
      +calendar().js-dropdown-date__calendar

mixin dropdown-date__icon()
  div(class='dropdown-date__icon js-dropdown-date__icon', role='button', tabindex='0')
    +icon({ name: 'expand_more' })
