.dropdown-date {
  position: relative;
  min-width: 270px;
  width: 100%;
  max-width: 320px;
}

.dropdown-date__head {
  display: flex;
  justify-content: space-between;
}

.dropdown-date__arrival,
.dropdown-date__departure {
  display: inline-block;
  position: relative;
  width: segment(270px, 320px, 130px, 150px);
}

.dropdown-date__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /**
   * width: [130px, 150px] --> [24px, 44px]
   */
  width: calc(1.5em + (100% - 130px));
  height: 2.5625em;

  color: $dark-shade-50;

  &:hover {
    cursor: pointer;
    color: $dark-shade-75;
  }
}

.dropdown-date__icon_shaded {
  color: $dark-shade-75;
}

.dropdown-date__bar {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 5.6px;
}

.dropdown-date__bar_hidden {
  display: none;
}
