.rate-button {
  display: flex;
  flex-direction: row-reverse;
  width: min-content;
  height: 1.5rem;
}

.rate-button__input {
  display: none;
}

.rate-button__icon {
  width: 1.5rem;
  background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;

  &:hover,
  &:hover ~ & {
    background: linear-gradient(180deg, $primary-darken-10 0%, $primary-gradient-darken-10 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
