mixin user-bar(args = {})
  - const { userName = 'Юлий Цезарь', hasLeftBorder = true, isUserLogIn = false } = args
  section(class=`user-bar ${mod}`)
    if isUserLogIn
      if hasLeftBorder
      .user-bar__left-border
      span.user-bar__name= userName
    else
      a(class='user-bar__sign-in', target='_self', href='/')
        +button({ name: 'button-sign-in', type: 'button', text: 'войти', isBordered: true, isStretchy: true })
      a(class='user-bar__sign-up', target='_self', href='/')
        +button({ name: 'button-sign-up', type: 'button', text: 'зарегистрироваться', isFilled: true, isArrowed: false, isStretchy: true })