mixin user-bar(args = {})
  -
    const { userName = 'Юлий Цезарь', hasLeftBorder = true, isUserLoggedIn = false, isStretchy = false } = args;
    const userBarClass = ['user-bar'];
    if (isStretchy) userBarClass.push('user-bar_stretchy');
    const signUpClass = ['user-bar__sign-up'];
    if (isStretchy) signUpClass.push('user-bar__sign-up_without_margin');

  section(class=userBarClass)
    if isUserLoggedIn
      if hasLeftBorder
      .user-bar__left-border
      span.user-bar__name= userName
    else
      a(class='user-bar__sign-in', target='_self', href='/')
        +pseudo-button({ text: 'войти', isBordered: true, isStretchy: true })
      a(class=signUpClass, target='_self', href='/')
        +pseudo-button({ text: 'зарегистрироваться', isFilled: true, isArrowed: false, isStretchy: true })
