@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;


.date-dropdown {
  box-sizing: border-box; 
  width: 150px;
}

.date-dropdown__label {
  margin-bottom: 5px;

  &::after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }
}

.date-dropdown__label-left {
  float: left;
  height: 15px; 
  @include fonts.label-h3();
}

.date-dropdown__input {
  position: relative;
  box-sizing: border-box;
  width: 148px;
  height: 42px;
  padding: 0px;
  margin: 0px;
  border: 1px solid map.get(colors.$map, 'dark-shade-25');
  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px;
          border-radius: 4px;

  &::after {
    content: "expand_more";
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 9px;
    box-sizing: content-box;
    width: 42px;
    height: 24px;
    @include fonts.material-icons;
    color: map.get(colors.$map, 'dark-shade-50');
    text-align: center;
  }
}

.date-dropdown__input-text {
  box-sizing: border-box;
  height: 18px;
  width: 134px; 
  padding-inline-start: 14px;
  margin-top: 10px;
  border: none;
  text-align: left;
  text-transform: uppercase;
  @include fonts.body-p;
  line-height: 18px;
  
  &:hover,
  &:focus,
  &:active {
    border-color: map.get(colors.$map, 'dark-shade-50');
    outline: none;
  } 

  &::-webkit-datetime-edit { 
    padding: 0px;
    margin: 0px;
  }

  &::-webkit-datetime-edit-text {
    padding: 0px;
    margin: 0px;
  }

  &::-webkit-datetime-edit-month-field { 
    padding: 0px;
    margin: 0px;
  }

  &::-webkit-datetime-edit-day-field {
    padding: 0px;
    margin: 0px; 
  }

  &::-webkit-datetime-edit-year-field { 
    padding: 0px;
    margin: 0px; 
  }

  &::-webkit-calendar-picker-indicator {
    z-index: 1;
    background: none;
    color: transparent;
    padding: 0px;
    margin: 0px;
  }
}