.layout-grid__wrapper {
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.layout-grid__grid {
  display: grid;
  grid-template-columns: 9.722222% [sidebar-start] min-content [sidebar-end] 4.166666% [content-start] auto [content-end] 9.722222%;
  grid-template-rows: [header-start] 4.375rem [header-end] 1.875rem [main-start] auto [main-end] 2.5rem [footer-start] auto [footer-end];
  grid-template-areas:
    'header header  header header  header'
    '...... ......  ...... ......  ......'
    '...... sidebar ...... content ......'
    '...... ......  ...... ......  ......'
    'footer footer  footer footer  footer';
}

.layout-grid__header {
  position: relative;
  z-index: 15;
  grid-area: header;
}

.layout-grid__sidebar {
  position: relative;
  z-index: 10;
  grid-area: sidebar;
  align-self: start;
}

.layout-grid__content {
  position: relative;
  z-index: 5;
  grid-area: content;
  align-self: start;
}

.layout-grid__footer {
  grid-area: footer;
}

@media only screen and (max-width: 768px) {
  .layout-grid__footer {
    display: none;
  }
}

.layout-grid__footer-creative {
  display: none;
  grid-area: footer;
}

@media only screen and (max-width: 768px) {
  .layout-grid__footer-creative {
    display: block;
  }
}
