mixin dropdown-facilities(name, left, right) 
    - var args = {
    -    haveButtons: false,
    -    left: left,
    -    right: right,
    -    name: name,
    -    value: 'Сколько удобств',
    -    options: {'спальни' : 0, 'кровати' : 0, 'ванные комнаты' : 0}
    - }
    +dropdown(args).dropdown-facilities.js-dropdown-facilities