mixin dropdown-facilities(name, left, right) 
  - const args = {
  -   left,
  -   right,
  -   name,
  -   haveButtons: false,
  -   value: 'Сколько удобств',
  -   options: {
  -     'спальни': 0,
  -     'кровати': 0,
  -     'ванные комнаты': 0,
  -   },
  - }
  +dropdown(args)(class='dropdown-facilities js-dropdown-facilities')
