.text-field_masked {
    font-size: 0;
  
    &::placeholder {
        font-size: 0;
    }
  
    &::-webkit-input-placeholder {
        font-size: 0;
    }
  
    &::-moz-placeholder {
        font-size: 0;
    }
  
    /* - IE 10-11 - */
    &:-ms-input-placeholder {
        font-size: 0;
    }
  
    &:hover,
    &:focus,
    &:active {
        font-size: 0.875rem;
    
        &::placeholder {
            font-size: 0.875rem;
        }
        
        &::-webkit-input-placeholder {
            font-size: 0.875rem;
        }
        
        &::-moz-placeholder {
            font-size: 0.875rem;
        }
        
        /* - IE 10-11 - */
        &:-ms-input-placeholder {
            font-size: 0.875rem;
        }
    }
}