.copyright-bar {
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  height: 69px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
}

.copyright-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 9.722%;
}

@media only screen and (max-width: 1280px) {
  .copyright-bar__wrapper {
    padding: 0 5%;
  }
}
