.card-sign-in {
  box-sizing: border-box;
  width: 23.75rem;
  padding: 1.8125rem;

  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card-sign-in__heading {
  margin: 0.625rem 0 1.25rem;

  @include widget-text;
}

.card-sign-in__small_indent {
  margin-bottom: 0.625rem;
}

.card-sign-in__mid_indent {
  margin-bottom: 1.25rem;
}

.card-sign-in__big_indent {
  margin-bottom: 1.875rem;
}

.card-sign-in__sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.card-sign-in__text {
  @include body-text;
  color: black;
}
