section.card-sign-in
  form(action = '')
    h1.card-sign-in__heading Войти
    +input-text({ name: 'user-email', placeholder: 'Email' })(class = 'box_margin-bottom_10px')
    +input-text({ name: 'user-password', placeholder: 'Пароль' })(class = 'box_margin-bottom_20px')
    .box_margin-bottom_30px
      +button-long({ name: 'button-sing-up', text: 'ВОЙТИ', fill: true, arrowed: true })
    .card-sign-in__sign-up.box_width_20rem
      p.card-sign-in__text= 'Нет аккаунта на Toxin?'
      +button-short({ name: 'button-sing-in', text: 'СОЗДАТЬ', border: true })
