mixin button(args)
  -
    const {
      text = '',
      type = 'button',
      isFilled = false,
      isBordered = false,
      isArrowed = false,
      isLong = false,
      isShort = false,
      isStretchy = false,
    } = args
    const buttonClass = ['button']
    if (isBordered) buttonClass.push('button_style_bordered')
    if (isArrowed) buttonClass.push('button_style_arrowed')
    if (isFilled) buttonClass.push('button_style_filled')
    if (isShort) buttonClass.push('button_length_short')
    if (isLong) buttonClass.push('button_length_long')
    if (isStretchy) buttonClass.push('button_stretchy')

  button(class=buttonClass, type=type)&attributes(attributes)= text
