.button {
  position: relative;
  width: min-content;
  height: 1.25em;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include label-text($color: $primary);
  text-align: center;
  white-space: nowrap;

  cursor: pointer;

  @include non-selectable;

  &:hover {
    color: $dark-shade-50; 
  }
}

.button_stretchy {
  width: 100%;
  height: 100%;
}

.button_length_short {
  min-width: min-content;
  width: 100%;
  max-width: 99px;
  height: 3.667em;
}

.button_length_long {
  min-width: min-content;
  width: 100%;
  max-width: 320px;
  height: 3.667em;
}

.button_style_filled {
  border-radius: 3.667em;
  background: linear-gradient(180deg, $primary, $primary-gradient);

  color: #FFFFFF;

  &:hover {
    opacity: 0.5;

    color: #FFFFFF;
  }
}

.button_style_bordered {
  border: 2.048px solid transparent;
  border-radius: 3.667em;
  background-image: linear-gradient(#FFFFFF, #FFFFFF),
                    linear-gradient(180deg, $primary, $primary-gradient);
  background-clip: content-box,
                   border-box;
  background-origin: border-box;

  color: $primary;

  &:hover {
    background-image: linear-gradient(#FFFFFF, #FFFFFF),
                      linear-gradient(180deg, $primary-50, $primary-gradient-50);

    color: $primary;
  }
}

.button_style_arrowed::after {
  content: 'arrow_forward';
  position: absolute;
  right: 0.417em;
  top: 50%;
  transform: translateY(-50%);

  @include material-icons;
  font-size: 2em;
}
