mixin button(args = {})
  -
    const { isFilled = false, isBordered = false, isArrowed = false, isLong = false, isShort = false } = args
    const { text = '', type = 'button' } = args
    const modifiers = []
  -
    if (isBordered) modifiers.push('button_style_bordered')
    if (isArrowed) modifiers.push('button_style_arrowed')
    if (isFilled) modifiers.push('button_style_filled')
    if (isShort) modifiers.push('button_length_short')
    if (isLong) modifiers.push('button_length_long')
  -
    const classes = ['button', ...modifiers];

  button(
    class=classes.join(' '),
    type=type,
  )&attributes(attibutes)= text
