.footer-creative {
  width: 100%;
  max-width: 768px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
}

.footer-creative__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.footer-creative__copyright {
  padding-top: 20px;
  padding-left: 3px;
  text-align: center;
}

.footer-creative__social-follow {
  padding-top: 25px;
}
