.footer-creative {
  min-width: 320px;
  width: 100%;
  max-width: 768px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
}

.footer-creative__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0;
}

.footer-creative__copyright {
  margin-top: 1.25rem;
  padding-left: 3px;
  align-self: stretch;

  text-align: center;
}

.footer-creative__social-follow {
  margin-top: 1.5625rem;
}
