.input-date {
  box-sizing: border-box;
  height: 2.75rem;
  width: 100%;
  
  padding-left: 0.875rem;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  @include body-text(0.875rem, 1.125rem);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: $dark-shade-50;
  }
}
