mixin input-date(args = {})
  - args.placeholder = 'ДД.ММ.ГГГГ';
  - const mask = { 'data-inputmask': "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'clearIncomplete': true" }
  +input-text-masked(args, mask)
