@use '../../styles/service' as service;

.like-button {
  position: relative;

  
  height: 1.25rem;
  width: 2.5rem;
}

.like-button__counter {
  position: absolute;
  top: 0;
  left: 0;

  
  width: 2.5rem;
  height: 1.25rem;
  padding-left: 1.125rem;
  padding-right: 0.5rem;

  border: 1px solid $dark-shade-25;
  border-radius: 0.625rem;
  background-color: #FFFFFF;

  @include Montserrat-normal;
  font-size: 0.625rem;
  line-height: 1.7;
  text-align: center;
  color: $dark-shade-25;

  @include service.non-selectable;

  &::after {
    content: 'favorite_border';

    position: absolute;
    top: 0;
    left: 0;

    
    width: 1.125rem;
    height: 1.125rem;

    background-color: transparent;

    @include material-icons;
    font-size: 0.625rem;
    line-height: 1.85;
    text-align: center;
    color: $dark-shade-25;
  }
}

.like-button__input {
  margin-left: 0.5rem;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .like-button__counter,
  &:hover + .like-button__counter {
    border-color: $dark-shade-50;

    color: $dark-shade-50;

    &::after {
      color: $dark-shade-50;
    }
  }

  &:checked + .like-button__counter {
    border: 1px solid transparent;
    background-image: linear-gradient(#FFFFFF, #FFFFFF),
                      linear-gradient(180deg, $primary, $primary-gradient);
    background-clip: padding-box,
                      border-box;
    background-origin: border-box;

    &::after {
      content: 'favorite';

      color: $primary;
    }  
  }

  &:checked:focus + .like-button__counter,
  &:checked:hover + .like-button__counter {
    background-image: linear-gradient(#FFFFFF, #FFFFFF),
                      linear-gradient(180deg, $primary-darken-10, $primary-gradient-darken-10);

    &::after {
      color: $primary-darken-10;
    }
  }
}
