mixin like-button(args = {})
  - const { name, count, checked } = args
  label.like-button.js-like-button&attributes(attributes)
    input(
      class = 'like-button__input',
      type = 'checkbox',
      name = name,
      checked = (checked === true) ? 'checked': undefined,
      data-value = count,
    )
    .like-button__counter= count
