mixin dropdown-guests(name, left, right = '')
  -
    const args = {
      name,
      left,
      right,
      hasButtons: true,
      hasLargeWidth: true,
      options: [
        { name: 'adult', descr: 'взрослые', value: 0 },
        { name: 'child', descr: 'дети', value: 0 },
        { name: 'baby', descr: 'младенцы', value: 0 },
      ],
    }

  +dropdown(args)(class='js-dropdown-guests')&attributes(attributes)
