mixin input-date(args)
  -
    const options = {
      placeholder: 'ДД.ММ.ГГГГ',
      isMasked: true,
      mask: "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'clearIncomplete': true",
      ...args
    }

  +input(options)&attributes(attributes)
