mixin input-date(args = {})
  -
    const argsParam = {
      placeholder: 'ДД.ММ.ГГГГ',
      mask: "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'clearIncomplete': true",
      isMasked: true,
      ...args
    }

  +input(argsParam)&attributes(attributes)
