mixin input-date(argsParam = {})
  -
    const args = { ...argsParam }
    args.placeholder = 'ДД.ММ.ГГГГ'
    args.mask = "'placeholder': 'ДД.ММ.ГГГГ', 'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'clearIncomplete': true"
    args.isMasked = true

  +input(args)&attributes(attributes)
