.expandable-list {
  position: relative;

  width: 100%;
}

.expandable-list__header {
  height: 2.75rem;

  cursor: pointer;
}

.expandable-list__heading {
  float: left;

  margin: 0;

  @includeh3-text(0.75rem);
  line-height: 2.75rem;
}

.expandable-list__icon {
  float: right;

  width: 2.75rem;
  height: 2.75rem;

  line-height: 2.75rem;
  text-align: center;
  color: $dark-shade-50;

  transition: transform 300ms ease;

  .js-expandable__trigger_active & {
    transform: rotate(180deg);
  }
}

.expandable-list__body {
  padding-top: 0.2rem;
}
