mixin expandable-list(text='')
    .expandable-list.js-expandable-list
        .expandable-list__head
            .expandable-list__heading= text
            +icon({text: "expand_more"}).expandable-list__icon
        .expandable-list__body.expandable-list__body_hidden&attributes(attributes)
            if block
                block