mixin expandable-list(heading)
  div(class = 'expandable-list js-expandable')&attributes(attributes)
    .expandable-list__header.js-expandable__trigger
      h3.expandable-list__heading= heading
      +icon({ name: 'expand_more' })(class = 'expandable-list__icon')
    .js-expandable__container.expandable-list__body
      if block
        block
