@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.account-registration {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  width: 380px;
  height: 646px;
  padding: 30px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 100px; // временно
}

.account-registration__h1 {
  @include fonts.widget-h1;
}

.account-registration__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.account-registration__text {
  @include fonts.body-p;
  color: black;
}