include ../input/input.pug
include ../radio-button/radio-button.pug
include ../button/button-custom.pug
include ../toggle/toggle.pug

mixin account-registration
  div.account-registration
    h1.account-registration__h1 Регистрация аккаунта
    +text-field("firstName", "Имя")
    +text-field("lastName", "Фамилия")(class="account-registration__indent")
    +radio-button("gender", "male", "Мужчина")(class = "account-registration__radio-button")
    +radio-button("gender", "female", "Женщина")
    +label("Дата рождения", "")
      +text-field("birtdDate", "ДД.ММ.ГГГГ")
    +label("Данные для входа в сервис", "")
      +text-field("userEmail", "Email")
      +text-field("userPassword", "Пароль")(class="text-field_masked account-registration__indent")
    +toggle-custom("mailing", "mailing", "Получать спецпредложения")
    +button-custom("Submit", "Зарегистрироваться", "submit", false, false, true)(class="account-registration__indent-big")
    div.account-registration__login
      p.account-registration__text Уже есть аккаунт на Toxin 
      +button-custom("signIn", "Войти", "button", false, true, false)
