include ../../components/label/label.pug
include ../../components/input/input.pug
include ../../components/input-date/input-date.pug
include ../../components/icon/icon.pug
include ../../components/button/button.pug
include ../../components/carousel/carousel.pug
include ../../components/calendar/calendar.pug
include ../../components/dropdown-date/dropdown-date.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/button-long/button-long.pug
include ../../components/room-search/room-search.pug
include ../../components/hotel-room-heading/hotel-room-heading.pug
include ../../components/rate-button/rate-button.pug
include ../../components/card-hotel-room/card-hotel-room.pug
include ../../components/radio-button/radio-button.pug
include ../../components/toggle/toggle.pug
include ../../components/button-short/button-short.pug
- const data = htmlWebpackPlugin.options.data
- const { title } = data
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
  body.cards__body
    .cards__grid
      .cards__1st
       +room-search
      .cards__2nd
        include ../../components/sign-up/sign-up.pug
      .cards__3rd
        include ../../components/sign-in/sign-in.pug
      .cards__4th
        include ../../components/invoice/invoice.pug
      .cards__5th
        +card-hotel-room({ itemAmount: 4 })
