include ../../components/field/field.pug
include ../../components/frame/frame.pug
include ../../components/label/label.pug
include ../../components/input/input.pug
include ../../components/input-date/input-date.pug
include ../../components/icon/icon.pug
include ../../components/button/button.pug
include ../../components/carousel/carousel.pug
include ../../components/calendar/calendar.pug
include ../../components/dropdown-date/dropdown-date.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/button-long/button-long.pug
include ../../components/room-search-card/room-search-card.pug
include ../../components/hotel-room-heading/hotel-room-heading.pug
include ../../components/rate-button/rate-button.pug
include ../../components/hotel-room-card/hotel-room-card.pug
include ../../components/fieldset/fieldset.pug
include ../../components/radio-button/radio-button.pug
include ../../components/toggle/toggle.pug
include ../../components/button-short/button-short.pug
- const data = htmlWebpackPlugin.options.data
- const { title } = data
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
  body.cards__body
    .cards__grid
      .cards__1st
       //+room-search-card
      .cards__2nd
        include ../../components/sign-up-card/sign-up-card.pug
      .cards__3rd
        include ../../components/sign-in-card/sign-in-card.pug
      .cards__4th
        include ../../components/invoice-card/invoice-card.pug
      .cards__5th
        //+hotel-room-card({ itemAmount: 4 })
