@use 'sass:map';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.bullet-list__label {
  padding-bottom: 0.8125rem;
}

.bullet-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 0.625rem;
}

.bullet-list__ellipse {
  width: 11.25px;
  height: 10px;

  background-color: map.get(colors.$map, dark-shade-25);
  border-radius: 50%;
}

.bullet-list__text {
  width: 100%;
  margin-left: 0.652rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  white-space: pre-wrap;
  color: map.get(colors.$map, dark-shade-75);
}
