mixin bullet-list(listItems, leftLabel="Bullet list")
  div.bullet-list
    +label(leftLabel, "")(class="bullet-list__label")
    each item in listItems
      .bullet-list__item  
        .bullet-list__ellipse 
        .bullet-list__text!= item