.bullet-list__label {
  padding-bottom: 13px;
}

.bullet-list__item {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}

.bullet-list__ellipse {
  width: 11.25px;
  height: 10px;

  background-color: $dark-shade-25;
  border-radius: 50%;
}

.bullet-list__text {
  width: 100%;
  margin-left: 0.652rem;

  @include p-text;
  white-space: pre-wrap;
  color: $dark-shade-75;
}
