mixin bullet-list(items="", label=null)
    .bullet-list
        if (label !== null)
            +label(label, "").bullet-list__label
        each item in items
            .bullet-list__item  
                .bullet-list__ellipse
                .bullet-list__text!= item