mixin calendar   
  div(class="calendar calendar_hidden")
    div.calendar__title
      +icon("arrow_back")(class="calendar__icon-backward")
      +icon("arrow_back")(class="calendar__icon-forward")
      div.calendar__month Август 2019
    table.calendar__table
      thead
        tr.calendar__table-tr
          each val in ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
            th.calendar__table-th= val
      tbody
        each i in [1, 2, 3, 4, 5]
          tr.calendar__table-tr
            each j in [1, 2, 3, 4, 5, 6, 7]
              td.calendar__table-td= i + j
        tr(class="calendar__table-tr calendar__table-tr_hidden")
          each k in [1, 2, 3, 4, 5, 6 , 7] 
            td.calendar__table-td
    div.calendar__buttons
      +button-custom("", "очистить", "button-clear")(class="calendar__button-clear calendar__button-clear_hidden")
      +button-custom("", "применить", "button-apply")(class="calendar__button-apply")

mixin date-picker
  div
    div.date-picker
      div.date-picker__arrival
        +label("прибытие", "")(class="date-picker__label-box")
          +text-field("arrival", " ")(readonly, value="ДД.ММ.ГГГГ", class="date-picker__arrival")
          +icon("expand_more")(class=" date-picker__icon-expand")        
      div.date-picker__stub
      div.date-picker__departure
        +label("выезд", "")(class="date-picker__label-box")
            +text-field("departure", " ")(readonly, value="ДД.ММ.ГГГГ")
            +icon("expand_more")(class=" date-picker__icon-expand")
    +calendar