include ../label/label.pug 
include ../text-field/text-field.pug

mixin input(inputSize = 320, labelLeft, labelRight, inputName, inputPlaceholder, isMasked, isLabel = true)
  - var size = (inputSize === 320) ? "input_320px": "input_160px";
  div(class=size)
    if isLabel
      +label(labelLeft, labelRight)
        +text-field(inputName, inputPlaceholder, isMasked)
    else
      +text-field(inputName, inputPlaceholder, isMasked)