@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.text-field {
  box-sizing: border-box;
  width: 100%;
  height: 2.75rem;
  padding: 0 0 0.125rem 0.875rem;
  border: 1px solid map.get(colors.$map, dark-shade-25);
  border-radius: 4px;
  @include fonts.body-p(1);

  &:hover,
  &:focus,
  &:active { 
    outline: none;
    border-color: map.get(colors.$map, dark-shade-50);
  }

  &::placeholder {
    color: map.get(colors.$map, dark-shade-25);
  }

  &::-webkit-input-placeholder {
    color: map.get(colors.$map, dark-shade-25);
  }

  &::-moz-placeholder {
    opacity: 1; 
    color: map.get(colors.$map, dark-shade-25);
  }

  /* - IE 10-11 - */
  &:-ms-input-placeholder {
    color: map.get(colors.$map, dark-shade-25);
  }

}

.text-field_masked {
  font-size: 0;

  &::placeholder {
    font-size: 0;
  }

  &::-webkit-input-placeholder {
    font-size: 0;
  }

  &::-moz-placeholder {
    font-size: 0;
  }

  /* - IE 10-11 - */
  &:-ms-input-placeholder {
    font-size: 0;
  }

  &:hover,
  &:focus,
  &:active {
    font-size: 0.875rem;

    &::placeholder {
      font-size: 0.875rem;
    }
  
    &::-webkit-input-placeholder {
      font-size: 0.875rem;
    }
  
    &::-moz-placeholder {
      font-size: 0.875rem;
    }
  
    /* - IE 10-11 - */
    &:-ms-input-placeholder {
      font-size: 0.875rem;
    }
  }
}
