include ../../common.blocks/link/link.pug
include ../../common.blocks/logo/logo.pug
include ../../common.blocks/label/label.pug
include ../../common.blocks/icon/icon.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/button-short/button-short.pug
include ../../common.blocks/button-long/button-long.pug
include ../../common.blocks/navbar/navbar.pug
include ../../common.blocks/hamburger/hamburger.pug
include ../../common.blocks/header/header.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, navbarItems } = data
doctype html
html
  head
    meta(charset='UTF-8')
    title= pageTitle
  body
    .headers-and-footers
      +header({ navbarItems })