include ../../common.blocks/input-text/input-text.pug
include ../../common.blocks/subscription-field/subscription-field.pug
include ../../common.blocks/social-follow/social-follow.pug
include ../../common.blocks/copyright-bar/copyright-bar.pug
include ../../common.blocks/logo/logo.pug
include ../../common.blocks/label/label.pug
include ../../common.blocks/icon/icon.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/button-short/button-short.pug
include ../../common.blocks/button-long/button-long.pug
include ../../common.blocks/navbar/navbar.pug
include ../../common.blocks/link/link.pug
include ../../common.blocks/hamburger/hamburger.pug
include ../../common.blocks/header/header.pug
include ../../common.blocks/footer/footer.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, navbarItems, footerItems } = data
doctype html
html
  head
    meta(charset='UTF-8')
    title= pageTitle
  body
    +header({ navbarItems })
    +footer({ footerItems })
