include ../../components/logo/logo.pug
include ../../components/link/link.pug
include ../../components/icon/icon.pug
include ../../components/button/button.pug
include ../../components/button-short/button-short.pug
include ../../components/button-long/button-long.pug
include ../../components/navbar/navbar.pug
include ../../components/hamburger/hamburger.pug
include ../../components/header/header.pug
include ../../components/copyright/copyright.pug
include ../../components/social-follow/social-follow.pug
include ../../components/copyright-bar/copyright-bar.pug
include ../../components/input-text/input-text.pug
include ../../components/subscription-form/subscription-form.pug
include ../../components/footer/footer.pug
include ../../components/footer-creative/footer-creative.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, navbarItems, footerItems } = data
doctype html
html
  head
    meta(charset='UTF-8')
    title= pageTitle
  body
    .hf
      .hf__logo
        +logo({ size: 'big', isColored: false, isSigned: false })
      .hf__wrapper
        .hf__header
          +header()
        .hf__header-reg
          +header
        .hf__footer
          +footer({ items: footerItems })
        .hf__footer-creative-wrapper
          +footer-creative
