- const data = htmlWebpackPlugin.options.data
- const { title } = data
doctype html
html
  head
    meta(charset='UTF-8')
    title= title
  body
    .headers-and-footers
      include ../../common.blocks/header/header.pug
