include ../../components/favicon/favicon.pug
include ../../components/layout/layout.pug
include ../../components/logo/logo.pug
include ../../components/icon/icon.pug
include ../../components/button/button.pug
include ../../components/button-short/button-short.pug
include ../../components/button-long/button-long.pug
include ../../components/link/link.pug
include ../../components/navbar/navbar.pug
include ../../components/hamburger/hamburger.pug
include ../../components/header/header.pug
include ../../components/input-text/input-text.pug
include ../../components/radio-button/radio-button.pug
include ../../components/label/label.pug
include ../../components/input-text-masked/input-text-masked.pug
include ../../components/input-date/input-date.pug
include ../../components/toggle/toggle.pug
include ../../components/sign-up/sign-up.pug
include ../../components/copyright/copyright.pug
include ../../components/social-follow/social-follow.pug
include ../../components/copyright-bar/copyright-bar.pug
include ../../components/footer-creative/footer-creative.pug
include ../../components/subscription-form/subscription-form.pug
include ../../components/footer/footer.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, navbarItems, footerItems } = data
+layout
  +layout__block('head')
    title= pageTitle

  +layout__block('header')
    +header

  +layout__block('content')
    main.main
      .bg
        .bg__image
      .form-wrapper
        +sign-up

  +layout__block('footer')
    //- +footer
    +footer-creative
