include ../../common.blocks/favicon/favicon.pug
include ../../common.blocks/layout/layout.pug
include ../../common.blocks/logo/logo.pug
include ../../common.blocks/icon/icon.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/button-short/button-short.pug
include ../../common.blocks/button-long/button-long.pug
include ../../common.blocks/link/link.pug
include ../../common.blocks/navbar/navbar.pug
include ../../common.blocks/hamburger/hamburger.pug
include ../../common.blocks/header/header.pug
include ../../common.blocks/ar-responsive-box/ar-responsive-box.pug
include ../../common.blocks/label/label.pug
include ../../common.blocks/input-text/input-text.pug
include ../../common.blocks/input-text-masked/input-text-masked.pug
include ../../common.blocks/input-date/input-date.pug
include ../../common.blocks/carousel/carousel.pug
include ../../common.blocks/calendar/calendar.pug
include ../../common.blocks/dropdown-date/dropdown-date.pug
include ../../common.blocks/dropdown/dropdown.pug
include ../../common.blocks/dropdown-guests/dropdown-guests.pug
include ../../common.blocks/room-search/room-search.pug
include ../../common.blocks/copyright/copyright.pug
include ../../common.blocks/social-follow/social-follow.pug
include ../../common.blocks/copyright-bar/copyright-bar.pug
include ../../common.blocks/footer-creative/footer-creative.pug
include ../../common.blocks/subscription-field/subscription-field.pug
include ../../common.blocks/footer/footer.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, navbarItems, footerItems } = data
+layout()
  +layout__block('head')
    title= pageTitle

  +layout__block('header')
    +header({ navbarItems })

  +layout__block('content')
    main.main
      .bg
        +ar-responsive-box().bg__wrapper
          .bg__image
        p.bg__caption
        | "Лучшие номера для вашей работы,\nотдыха и просто вдохновения"
      .form-wrapper
        +room-search

  +layout__block('footer')
    +footer({ footerItems })
    +footer-creative()(class='landing__footer-creative')
