@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;

.card-price-calculator {
  box-sizing: border-box;
  width: 23.75rem;
  padding: 1.875rem;
  
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card-price-calculator__header {
  display: flex;
  align-items: baseline;
  height: 1.875rem;
  padding: 0.625rem 0 1.25rem;
}

.card-price-calculator__number {
  color: map.get(colors.$map, dark-shade-100);
  @include fonts.Quicksand-bold;
  font-size: 0.875rem;

  & strong {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}
    
.card-price-calculator__lux {
  text-transform: uppercase;

  color: map.get(colors.$map, 'purple');
  @include fonts.Montserrat-bold;
  font-size: 0.75rem;
  line-height: 1em;
}

.card-price-calculator__coast {
  flex-grow: 1;
  height: 1.25rem;
  padding-top: 0.25rem;

  text-align: right;

  color: map.get(colors.$map, dark-shade-50);
  @include fonts.Montserrat-normal;
  font-size: 0.750rem;
  line-height: 1.125rem;

  & b {
    font-size: 0.875rem;
  }
} 

.card-price-calculator__indent-big {
  margin: 1.25rem 0 1.25rem;
}

.card-price-calculator__line {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  margin-bottom: 1rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: map.get(colors.$map, dark-shade-75);

  & div:first-child {
    flex-basis: 13.375rem;
    flex-shrink: 0;
  }

  & div:last-child {
    flex-grow: 1;

    text-align: right;
  }
}

.card-price-calculator__hint {
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 5px;
  padding-top: 2.5px;
  text-align: center;

  border: 1px solid map.get(colors.$map, dark-shade-25);
  border-radius: 0.625rem;

  color: map.get(colors.$map, dark-shade-25);
  @include fonts.Montserrat-bold;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.card-price-calculator__total {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  margin: 1.875rem 0 1.25rem;

  @include fonts.title-text;

  & div:nth-child(2) {
    flex-grow: 1;
    margin: 0 5px;

    border-bottom: 1px dashed map.get(colors.$map, dark-shade-25);
  }
}