mixin card-price-calculator(roomNumber= 888, roomCoast= '9 999', isLux= true)
  .card-price-calculator
    .card-price-calculator__header
      .card-price-calculator__number №&#32;#[strong #{roomNumber}]
        if isLux
          span.card-price-calculator__lux &#32;ЛЮКС
      .card-price-calculator__coast(data-coast=roomCoast) #[b #{roomCoast}₽] в сутки
    +date-picker
    +input-dropdown(true)(class="card-price-calculator__indent-big")
    .card-price-calculator__line
      div 9&#32;990₽ х 4 суток
      div 39&#32;960₽
    .card-price-calculator__line  
      div Сбор за услуги: скидка 2&#32;179₽ 
      div.card-price-calculator__hint i
      div 0₽
    .card-price-calculator__line
      div Сбор за дополнительные услуги
      div.card-price-calculator__hint i
      div 300₽
    .card-price-calculator__total
      div Итого
      div
      div 38&#32;081₽
    +button-custom("long", "Забронировать", "button-submit")