@use "sass:math";
@use "sass:map";
@use "colors" as colors;

@mixin font-Quicksand-normal {
  font: {
    family: Quicksand, sans-serif;
    style: normal;
    weight: normal;
  };
};

@mixin font-Quicksand-bold {
  font: { 
    family: Quicksand, sans-serif;
    style: normal;
    weight: bold;
  };
};

@mixin font-Montserrat-normal {
  font: {
    family: Montserrat, sans-serif;
    style: normal;
    weight: normal;
  };
};

@mixin font-Montserrat-bold {
  font: {
    family: Montserrat, sans-serif;
    style: normal;
    weight: bold;
  };
};
//- This one is the sub-section or widget title
@mixin text-widget-h1 {
  @include font-Quicksand-bold;
  font-size: 24px;
  line-height: 30px;
  color: map.get(colors.$map, 'dark-shade-100');
};
//- Next one is the item title inside widgets 
@mixin text-title-h2 {
  @include font-Quicksand-bold;
  font-size: 19px;
  line-height: 24px;
  color: map.get(colors.$map, 'dark-shade-100');
};
//- This is a label or CTA text
@mixin text-label-h3($height: 15px) {
  @include font-Montserrat-bold;
  font-size: 12px;
  line-height: $height;
  text-transform: uppercase;
  color: map.get(colors.$map, 'dark-shade-100');
};
//- This is the body text which is used for most of the design, like paragraphs, lists, etc.
@mixin text-body-p {
  @include font-Montserrat-normal;
  $custom-font-size: 14; 
  $custom-line-height: math.round($custom-font-size*1.71);
  font-size: $custom-font-size + 0px; 
  line-height: $custom-line-height + 0px;
  color: map.get(colors.$map, 'dark-shade-75');
}