.button-long {
  width: min(100%, 320px);
  height: 3.667em;
}

.button-long_arrowed {
  padding-right: 4px;

  &::after {
    content: 'arrow_forward';

    position: absolute;
    right: 0.417em;
    top: 50%;
    transform: translateY(-50%);

    @include material-icons;
    font-size: 2em;
  }
}
