@use "sass:map";
@use "sass:color";

.button-long {
  width: 20rem;
  height: 2.75rem;
}

.button-long_arrowed {
  padding-right: 0.25rem;

  &::after {
    content: "arrow_forward"; 

    position: absolute;
    right: 0.625rem;
    top: 50%;
    margin-top: -0.75rem;

    @include material-icons;
  }
}
