@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;

.button-long {
  min-width: 20rem;
  height: 2.75rem;
}

.button-long_arrowed {
  &::after {
    content: "arrow_forward"; 

    position: absolute;
    right: 0.75rem;
    margin-top: -0.75rem;
    top: 50%;

    @include fonts.material-icons;
  }
}
