mixin sign-in()
  section.sign-in.card
    form(action='')
      h1.card__heading.sign-in__heading Войти
      .card__spot.card__spot_indent_small
        +input-text({ name: 'user-email', placeholder: 'Email' })
      .card__spot.card__spot_indent_mid
        +input-text({ name: 'user-password', placeholder: 'Пароль' })
      .card__spot.card__spot_indent_big
        +button-long({ name: 'button-sing-up', text: 'ВОЙТИ', isFilled: true, isArrowed: true })
    .sign-in__sign-up
      p.sign-in__text
        | Нет аккаунта на Toxin?
      a(href='#', target='_self')
        +button-short({ name: 'button-sing-in', text: 'СОЗДАТЬ', isBordered: true })
