mixin checkbox-custom(inputName, inputValue, inputLabel)
  label.checkbox-custom
    input.checkbox-custom__input(type="checkbox" name=inputName value=inputValue)
    div.checkbox-custom__label= inputLabel
