mixin calendar   
  div
    div
      +icon
      h2
      +icon
    div
    div

mixin date-picker
  div
    div
      +label
        +text-field
        +icon
      +label
        +text-field
        +icon
    +calendar
