include ../label/label.pug 
include ../text-field/text-field.pug 
include ../icon/icon.pug 
include ../button/button-custom.pug

mixin calendar   
  div.calendar
    div.calendar__title
      +icon("arrow_back")(class="calendar__icon-backward")
      +icon("arrow_back")(class="calendar__icon-forward")
      div.calendar__month Август 2019
    table.calendar__table
      tr.calendar__table-tr
        each val in ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
          th.calendar__table-th= val
      tdoby
        each i in [1, 2, 3, 4, 5]
          tr.calendar__table-tr
            each j in [1, 2, 3, 4, 5, 6, 7]
              td.calendar__table-td= i + j
        tr(class="calendar__table-tr calendar__table-tr_hidden")
          each k in [1, 2, 3, 4, 5, 6 , 7] 
            td.calendar__table-td
    div.calendar__buttons
      +button-custom("buttonClear", "очистить")(class=" calendar__button-clear calendar__button-clear_hidden")
      +button-custom("buttonApply", "применить")(class=" calendar__button-apply")

mixin date-picker
  div.date-picker
    div.date-picker__departure
      +label("выезд", "")
        +text-field("departure", " ")(readonly, value="ДД.ММ.ГГГГ")
        +icon("expand_more")(class=" date-picker__icon-expand")
    div.date-picker__stub
    div.date-picker__arrival
      +label("прибытие", "")(class="input_150px")
        +text-field("arrival", " ")(readonly, value="ДД.ММ.ГГГГ", class="date-picker__arrival")
        +icon("expand_more")(class=" date-picker__icon-expand")
  +calendar