@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;
@use "../block" as block;

.date-picker {
  display: flex;
  width: 320px;
}

.date-picker__stub {
  width: 20px;
  height: 20px;
  align-self: flex-end;
}

.date-picker__departure,
.date-picker__arrival {
  position: relative;
  width: 150px;
}

.date-picker__icon-expand {
  position: absolute;
  right: 0px;
  bottom: 10px;
  box-sizing: border-box;
  width: 44px;
  height: 24px;
  text-align: center;
  color: map.get(colors.$map, 'dark-shade-75');

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

.calendar {
  position: absolute;
  z-index: 15;
  box-sizing: border-box;
  width: 320px;
  height: 369px;
  padding: 19px;
  margin-top: 5px;
  box-shadow: 0px 10px 20px map.get(colors.$map, dark-shade-05);
  border: 1px solid map.get(colors.$map, dark-shade-25);
  border-radius: 4px;
}

.calendar_hidden {
  display: none;
}

.calendar__title {
  margin-bottom: 30px;
}

.calendar__month {
  height: 24px;
  text-align: center;
  @include fonts.title-h2;
}

.calendar__icon-backward {
  float: left;
  height: 24px;
  color: map.get(colors.$map, "purple");
}

.calendar__icon-forward {
  float: right;
  height: 24px;
  color: map.get(colors.$map, "purple");
  transform: rotate(180deg);
}

.calendar__days {

}


.dropdown__buttons {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 6px;

  &::after {
    content: "";
    position: absolute;
    clear: both;
    width: 100%;
  }
}

.dropdown__button-clear {
  float: left;
  cursor: pointer;
  color: map.get(colors.$map, dark-shade-50);

  &:hover,
  &:focus,
  &:active {
    color: map.get(colors.$map, dark-shade-75);
  }

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

.dropdown__button-clear_hidden {
  visibility: hidden;
}

.dropdown__button-apply {
  float: right;
  cursor: pointer;

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}