mixin toggle-custom(toggleName, toggleValue, toggleLabel)
  label.toggle-custom
    input.toggle-custom__input(type="checkbox" name=toggleName value=toggleValue)
    div.toggle-custom__label= toggleLabel