mixin dropdown-guests(name, left, right = '')
  - const args = {
  -   name,
  -   left,
  -   right,
  -   haveButtons: true,
  -   value: 'Сколько гостей',
  -   options: {
  -     'взрослые': 0,
  -     'дети': 0,
  -     'младенцы': 0,
  -   },
  - }
  +dropdown(args)(class='dropdown-guests js-dropdown-guests')&attributes(attributes)
