.reviews {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 712px;
}

.reviews__counter {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 0;
  height: 1em;

  @include p-text($height: 1, $color: $dark-shade-50);
}

@media screen and (max-width: 425px) {
  .reviews__counter {
    right: 10px;
    top: 30px;
  }
}

.reviews__list {
  & > * + * {
    margin-top: 1.25em;
  }
}

@media screen and (max-width: 425px) {
  .reviews__list {
    padding-top: 25px;
  }
}
