@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.hotel-room-search {
  box-sizing: border-box;
  width: 380px;
  padding: 30px;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  border-radius: 4px;
}

.hotel-room-search__indent {
  margin-top: 20px;
}

.hotel-room-search__h1 {
  @include fonts.widget-h1;
  margin-top: 10px;
  margin-bottom: 5px;
}