div.room-search
  div.room-search__h1 Найдём номера под ваши пожелания
  +date-picker
  div.room-search__indent
  div.room-search__indent
  +input-dropdown(true)
  div.room-search__indent
  div.room-search__indent
  div.room-search__indent
  +button-custom("long", "Подобрать номер", "button-submit")(class="room-search__button" type="submit")
