div.hotel-room-search
  h1.hotel-room-search__h1 Найдём номера под ваши пожелания
  +date-picker
  +input-dropdown(true)
  +button-custom("long", "Подобрать номер", "button-submit")(class="hotel-room-search__indent" type="submit")
