.header
  .header__logo
    +logo("small", true, true)
  .header__nav
    a(class="header__nav-item") О нас
    a(class="header__nav-item header__nav-item_exp") Услуги 
    a.header__nav-item Вакансии
    a.header__nav-item Новости
    a(class="header__nav-item header__nav-item_exp") Соглашения
    +button-custom("border", "войти", "button-sign-in")(class="header__button-sign-in")
    +button-custom("fill", "зарегистрироваться", "button-sign-up")(class="header__button-sign-up")