@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.header {
  height: 4.375rem;
  padding: 0 9.722%;

  background-color: #FFFFFF;
  box-shadow: 0 0.625rem 1.25rem map.get(colors.$map, dark-shade-05);
}

.header__logo {
  float: left;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: max-content;
  height: 4.375rem;
}

.header__nav {
  float: right;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.375rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }
  
  a {
    display: block;
    padding: 0.625rem;

    background-color: #FFFFFF;

    text-align: center;
    white-space: nowrap;

    text-decoration: none;
    color: map.get(colors.$map,  dark-shade-50);
    @include fonts.Montserrat-normal;
    font-size: 0.875rem;

    &:hover {
      @include fonts.Montserrat-bold;
      color: map.get(colors.$map,  dark-shade-75);
    }
  }
}

.header__nav_exp {
  position: relative;

  & > ul {
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    visibility: hidden;

    box-shadow: 0 0 1.25rem map.get(colors.$map, dark-shade-05);

    transition: visibility 300ms;

    & > li {
      width: 100%;

      a { 
        text-align: left;
      }
    }

    &:hover {
      visibility: visible;
    }
  }

  & > a {
    padding-right: 2.125rem;
    
    &::after {
      position: absolute;
      right: 0.625rem;

      content: "expand_more";
      @include fonts.material-icons;
      line-height: 1.25rem;
    }
    
    &:hover ~ ul {
      visibility: visible;
    }

    &:hover::after {
      color: map.get(colors.$map,  dark-shade-75);
    }
  }
}

.header__button-sign-in {
  width: 5.4375rem;
  height: 2.125rem;
  margin-left: 0.625rem;

  border-radius: 1.0625rem;
}

.header__button-sign-up {
  width: 12.25rem;
  height: 2.125rem;
  margin-left: 1.25rem;
  padding: 0 1.25rem;

  border-radius: 1.0625rem;
}