@use '../../styles/_text';

.main {
  height: max(640px, 100vh);
}

.bg {
  height: 100%;
  overflow: hidden;
}

.bg__image {
  position: relative;
  min-height: 640px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.img-first {
  background-image: url(~assets/img/bg001-w1920.jpg);
}

@media screen and (max-width: 1440px) {
  .img-first {
    background-image: url(~assets/img/bg001-w1440.jpg);
  }
}

@media screen and (max-width: 1024px) {
  .img-first {
    background-image: url(~assets/img/bg001-ar1x1.jpg);
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .img-first {
    background-image: url(~assets/img/bg001-ar9x16.jpg);
  }
}

.img-second {
  top: 70px;
  right: 0;
  background-image: url(~assets/img/bg002-w1600.jpg);
}

@media screen and (max-width: 1024px) {
  .img-second {
    background-image: url(~assets/img/bg002-ar1x1.jpg);
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .img-second {
    background-position: center;
    background-image: url(~assets/img/bg002-ar9x16.jpg);
  }
}

.img-third {
  background-image: url(~assets/img/bg003-w1440.jpg);
}

@media screen and (max-width: 1024px) {
  .img-third {
    background-image: url(~assets/img/bg003-ar1x1.jpg);
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .img-third {
    background-image: url(~assets/img/bg003-ar9x16.jpg);
  }
}

.bg__caption {
  position: absolute;
  margin: 0;
  right: 9.31%;
  bottom: 18px;

  @include text.p-text;
  white-space: pre;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .bg__caption {
    right: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .bg__caption {
    right: 50%;
    transform: translateX(50%);
  }
}

.card-wrapper {
  position: absolute;
  top: 140px;
  left: 9.725%;
}

@media only screen and (max-width: 1152px) {
  .card-wrapper {
    left: 6%;
  }
}

@media only screen and (max-width: 480px) {
  .card-wrapper {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
