@use 'sass:map';
@use 'sass:color';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.pagination {
  width: max-content;
}

.pagination__table {
  position: relative;

  caption-side: bottom;
  border-collapse: collapse;

  text-align: center;
}

.pagination__td {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;

  @include fonts.Montserrat-normal;
  font-size: 0.750rem;
  line-height: 0.9375rem;
  color: map.get(colors.$map, dark-shade-50);
  user-select: none;

  cursor: pointer;
}

.pagination__caption {
  box-sizing: border-box;
  height: 1.5rem;
  padding-top: 0.625rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: map.get(colors.$map, dark-shade-75);
}

.pagination__button {
  background: linear-gradient(180deg, map.get(colors.$map, "green"), map.get(colors.$map, "turquoise-blue"));
  border-radius: 1.25rem;

  @include fonts.material-icons;
  display: table-cell;
  color: white;

  cursor: pointer;
}

.pagination__icon_rotate_180deg {
  transform: rotate(180deg);
}

.pagination__button_fade {
  $faded-green: color.scale(map.get(colors.$map, "green"), $alpha: -50%);
  $faded-turquoise-blue: color.scale(map.get(colors.$map, "turquoise-blue"), $alpha: -50%);
  background: linear-gradient(180deg, $faded-green, $faded-turquoise-blue);
}

.pagination__td_hide {
  display: none;
}

.pagination__button_hide {
  visibility: hidden;
}

.pagination__td_current {
  background: linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
  border-radius: 1.25rem;

  font-weight: bold;
  color: white;
}