mixin pagination(currentPage = 1, pageAmount = 15, itemPerPage = 12)
    table.pagination
        tbody
            tr
                td.pagination__current 1
                td 2
                td 3
                td ...
                td 15
                td
                +icon("arrow_forward")(class = "pagination__button-forward")
        caption 1 – 12 из 100+ вариантов аренды