.dropdown-filter-date {
  width: 16.625rem;
}

.dropdown-filter-date__label {
  padding-bottom: 0.3125rem;
}

.dropdown-filter-date__head {
  position: relative;
}

.dropdown-filter-date__pseudo-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  height: 2.75rem;
  padding-left: 0.875rem;
  padding-bottom: 0.125rem;

  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: white;

  @include p-text;
}

.dropdown-filter-date__input-arrival {
  display: none;
}

.dropdown-filter-date__input-departure {
  display: none;
}

.dropdown-filter-date__icon {
  position: absolute;
  right: 1px;
  bottom: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
  color: $dark-shade-50;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-filter-date__icon_shaded {
  color: $dark-shade-75;
}

.dropdown-filter-date__bar_hidden {
  display: none;
}
