mixin dropdown-filter-date(args = {})
  - const { label, name } = args
  .dropdown-filter-date.js-dropdown-filter-date
    .dropdown-filter-date__head
      +label(label, '')
        .dropdown-filter-date__pseudo-input.js-dropdown-filter-date__pseudo-input
      +icon({ text: 'expand_more' })(class='dropdown-filter-date__icon')
      +input-text({ name: `${name}-arrival` })(class='dropdown-filter-date__input-arrival' disabled=true)
      +input-text({ name: `${name}-departure` })(class='dropdown-filter-date__input-departure' disabled=true)
    .dropdown-filter-date__body.dropdown-filter-date__body_hidden
      +calendar({ name })(class='js-dropdown-filter-date__calendar')
