.dropdown-filter-date {
  width: clamp(270px, 100%, 320px);
}

.dropdown-filter-date__label {
  padding-bottom: 5px;
}

.dropdown-filter-date__head {
  position: relative;

  margin-right: calc(100% - 266px);
}

.dropdown-filter-date__pseudo-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 266px;
  height: 3.143em;
  padding-left: 1em;
  padding-bottom: 2px;

  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: white;

  @include p-text;
}

.dropdown-filter-date__input-arrival {
  display: none;
}

.dropdown-filter-date__input-departure {
  display: none;
}

.dropdown-filter-date__icon {
  position: absolute;
  right: 1px;
  bottom: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75em;
  height: 1.75em;

  color: $dark-shade-50;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-filter-date__icon_shaded {
  color: $dark-shade-75;
}

.dropdown-filter-date__bar_hidden {
  display: none;
}

.dropdown-filter-date__calendar {
  position: absolute;
  margin-top: 5.6px;
}
