@import '~nouislider/distribute/nouislider.css';

.range-slider {
  max-width: 266px;
  padding-bottom: 3px;
}

.noUi-target {
  margin-top: 17.5px;
  margin-left: 0.5px;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid $dark-shade-25;
  box-shadow: none;
}

.noUi-base, .noUi-connects {
  height: 6px;
  top: -0.5px;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-connect {
  background: linear-gradient(180deg, $secondary 0%, $secondary-gradient 100%);
}

.noUi-handle {
  box-sizing: content-box;
  background: linear-gradient(180deg, $secondary 0%, $secondary-gradient 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: none;

  &::after,
  &::before {
    display: none;
  }
}

.noUi-horizontal .noUi-handle {
  width: 11px;
  height: 11px;
  right: -6.5px;
  top: -4.5px;
}

.range-slider__caption {
  margin-top: 1em;

  @include p-text(0.75em, 0.857, $dark-shade-50);
}
