mixin range-slider(args)
  - const { labelText: text = '', caption = '' } = args

  div(class='range-slider js-range-slider')&attributes(attributes)
    +label({ text, appendix: '' })
      div(class='js-range-slider__target')
    .range-slider__caption= caption
