mixin range-slider(args)
  - const { label = '', caption = '' } = args
  div(class='range-slider js-range-slider')&attributes(attributes)
    +label({ text: label, appendix: '' })
      div(class='js-range-slider__target')
      .range-slider__caption= caption
