-
  const hamburgerDefault = [
    { 'text': 'О нас', 'href': '#about' },
    { 'text': 'Услуги', 'href': '#services', 'isExpandable': true,
      'submenuItems': [
        { 'text': 'Услуги', 'href': '#services' },
        { 'text': 'Услуги', 'href': '#services' },
        { 'text': 'Услуги', 'href': '#services' },
      ]
    },
    { 'text': 'Вакансии', 'href': '#vacancies' },
    { 'text': 'Новости', 'href': '#news' },
    { 'text': 'Соглашения', 'href': '#agreements', 'isExpandable': true,
      'submenuItems': [
        { 'text': 'Соглашения', 'href': '#agreements' },
        { 'text': 'Соглашения', 'href': '#agreements' },
      ]
    }
  ]

mixin hamburger(args = {})
  - const { isUserLoggedIn = false, items = hamburgerDefault } = args
  nav(class='hamburger js-hamburger')&attributes(attributes)
    div(class='hamburger__main-trigger js-hamburger__main-trigger', role='button', tabindex='0')
      +icon({ name: 'menu' })
    div(class='hamburger__container js-hamburger__container')
      ul.hamburger__menu
        each item in items
          - const isExpandable = item.isExpandable || false;
          if isExpandable
            +hamburger__expandable-item(item)
          else
            +hamburger__item(item)
      .hamburger__user-bar-wrapper
        +user-bar({ isUserLoggedIn, isStretchy: true })

mixin hamburger__expandable-item(args)
  - const { href, text, title = null, submenuItems = [] } = args
  li.hamburger__item.js-hamburger__item-expandable
    .hamburger__header
      .hamburger__link
        +link({ isStretchy: true, ...args })
      div(class='hamburger__trigger js-hamburger__trigger', role='button', tabindex='0')
        +icon({ name: 'expand_more' })
    ul.hamburger__submenu.js-hamburger__submenu
      each item in submenuItems
        +hamburger__item(item)

mixin hamburger__item(args = {})
  li.hamburger__item
    .hamburger__link
      +link({ isStretchy: true, ...args })
