mixin input-text(inputTextName, inputTextPlaceholder)
  div.input-text
    label 
      div.input-text__label
        span(class="input-text__label-left") TEXT FIELD
        span(class="input-text__label-right") DEFAULT
      input.input-text__input(type="text" name=inputTextName placeholder=inputTextPlaceholder)
