mixin input-text(inputTextName, inputTextPlaceholder, leftLabel = "text field", rightLabel = "default")
  div.input-text
    label 
      div.input-text__label
        span(class="input-text__label-left") #{leftLabel}
        span(class="input-text__label-right") #{rightLabel}
      input.input-text__input(type="text" name=inputTextName placeholder=inputTextPlaceholder)
