@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;
@import "../fonts.scss";


.input-text {
  width: 320px;
}

.input-text__input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 13px 15px; 
  border: 1px solid map.get(colors.$map, dark-shade-25);
  border-radius: 4px;
  color: map.get(colors.$map, dark-shade-75);
  @include fonts.Montserrat-normal;
  font-size: 14px;
  line-height: 18px;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: map.get(colors.$map, dark-shade-25);
    @include fonts.Montserrat-normal;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 1px solid map.get(colors.$map, dark-shade-50);
    outline: none;
  } 
}

.input-text__label {
  margin-bottom: 5px;
  padding: 0px;
  
  &::after {
    display: table;
    clear: both;
    width: 100%;
    content: "";
  }
}

.input-text__label-left {
  float: left;
  @include fonts.label-h3();
}

.input-text__label-right {
  float: right;
  @include fonts.label-right();
}