@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;

.filter-date-dropdown {
    position: relative;
    display: flex;
    width: 16.625rem;
}

.filter-date-dropdown__label-box {
    box-sizing: border-box;
    width: 16.625rem;
}

.filter-date-dropdown__range {
  width: 16.625rem;
}

.filter-date-dropdown__icon-expand {
  position: absolute;
  right: 0;
  bottom: 0.625rem;
  box-sizing: border-box;
  width: 2.75rem;
  height: 1.5rem;
  text-align: center;
  color: map.get(colors.$map, 'dark-shade-50');

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}