.card-sign-out
  h1.card-sign-out__widget-h1 Регистрация аккаунта
  +text-field("firstName", "Имя")
  +text-field("lastName", "Фамилия")(class="card-sign-out__indent")
  +radio-button("gender", "male", "Мужчина")(class = "card-sign-out__radio-button")
  +radio-button("gender", "female", "Женщина")
  +label("Дата рождения", "")(class="card-sign-out__indent-big")
    +text-field("birtdDate", "ДД.ММ.ГГГГ")
  +label("Данные для входа в сервис", "")(class="card-sign-out__indent-big")
    +text-field("userEmail", "Email")
    +text-field("userPassword", "Пароль")(class="text-field_masked card-sign-out__indent")
  +toggle-custom("mailing", "mailing", "Получать спецпредложения")
  +button-custom("long", "Зарегистрироваться", "button-sign-on")(class="card-sign-out__indent-big" type="submit")
  .card-sign-out__sign-in
    p.card-sign-out__text Уже есть аккаунт на Toxin
    +button-custom("border", "Войти", "button-sign-in")
