.box_width_20rem {
  width: 20rem;
}

.box_width_16\.625rem {
  width: 16.625rem;
}

.box_width_17\.5rem {
  width: 17.5rem;
}

.box_margin-bottom_0\.625rem {
  margin-bottom: 0.625rem;
}

.box_margin-bottom_0\.725rem {
  margin-bottom: 0.725rem;
}

.box_margin-bottom_0\.75rem {
  margin-bottom: 0.75rem;
}

.box_margin-bottom_1\.25rem {
  margin-bottom: 1.25rem;
}

.box_margin-bottom_1\.875rem {
  margin-bottom: 1.875rem;
}

.box_margin-bottom_2\.5rem {
  margin-bottom: 2.5rem;
}
