.box_width_20rem {
  width: 20rem;
}

.box_width_222px {
  width: 222px;
}

.box_width_266px {
  width: 266px;
}

.box_margin-bottom_5px {
  margin-bottom: 5px;
}

.box_margin-bottom_10px {
  margin-bottom: 10px;
}

.box_margin-bottom_1rem {
  margin-bottom: 1rem;
}

.box_margin-bottom_20px {
  margin-bottom: 20px;
}

.box_margin-bottom_30px {
  margin-bottom: 30px;
}

.box_margin-bottom_40px {
  margin-bottom: 40px;
}