@use 'sass:color';

$dark-shade: #1F2041;
$purple: #BC9CFF;
$malibu: #8BA4F9;
$green: #6FCF97;
$turquoise-blue: #66D2EA;

@function dark-shade($alpha) {
  @return rgba($dark-shade, $alpha);
}

$dark-shade-05: dark-shade(0.05);
$dark-shade-25: dark-shade(0.25);
$dark-shade-50: dark-shade(0.50);
$dark-shade-75: dark-shade(0.75);
$dark-shade-100: dark-shade(1);

$purple-50: color.adjust($purple, $alpha: -0.5);
$malibu-50: color.adjust($malibu, $alpha: -0.5);
$green-50: color.adjust($green, $alpha: -0.5);
$turquoise-blue-50: color.adjust($turquoise-blue, $alpha: -0.5);

$purple-darken-10: color.adjust($purple, $lightness: -10%);
$malibu-darken-10: color.adjust($malibu, $lightness: -10%);
$green-darken-10: color.adjust($green, $lightness: -10%);
$turquoise-blue-darken-10: color.adjust($turquoise-blue, $lightness: -10%);
