.form-elements {
    position: relative;
}

.form-elements__logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.form-elements__content {
    position: absolute;
    padding-top: 10%;
    padding-bottom: 10%;
    left: 9.8%;
    right: 9.8%;
}

.form-elements__grid {
    display: grid;
    grid-template-columns: auto 8.75% auto 5% auto;
    grid-template-rows: auto 7% auto 7% auto;
}

.form-elements__block_1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: gray;
    height: 300px;
}

.form-elements__block_2 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: green;
    height: 300px;
}

.form-elements__block_3 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: rgb(193, 193, 207);
    height: 300px;
}

.form-elements__block_4 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: goldenrod;
    height: 300px;
}

.form-elements__block_5 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: darkblue;
    height: 300px;
}

.form-elements__block_6 {
    grid-area: 5 / 3 / 6 / last-line;
    background-color: brown;
    height: 300px;
}

.form-elements__block_7 {
    grid-area: 1 / 5 / 2 / last-line;
    background-color: aquamarine;
    height: 300px;
}

.form-elements__block_8 {                                                                                                                              
    grid-area: 3 / 5 / 4 / last-line;
    background-color: khaki;
    height: 300px;
}