@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;
@import "../fonts.scss";

.dropdown {
  box-sizing: border-box; 
  width: 320px;
}

.dropdown__label {
  margin-bottom: 5px; 
  
  &::after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
  }
}

.dropdown__label-text {
  float: left;
  height: 15px; 
  @include fonts.text-label-h3();
}

.dropdown__text-field {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  margin-top: 5px;  
  border: 1px solid map.get(colors.$map, 'dark-shade-25');
  border-radius: 4px;
}

.dropdown__text-field-text {
  box-sizing: border-box;
  width: 86.25%; 
  padding-left: 15px;
  text-align: left;
  @include fonts.text-body-p;
}

.dropdown__text-field-expand {
  box-sizing: border-box;
  width: 13.75%;
  text-align: center;
}

.dropdown__text-field_drop {
  border-bottom: 0px;
  border-radius: 4px 4px 0 0;
  border-color: map.get(colors.$map, 'dark-shade-50');
}

.dropdown__menu {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  background-color: white;
  border: 1px solid map.get(colors.$map, 'dark-shade-50');
  border-radius: 0 0 4px 4px;
}

.dropdown__menu_display {
  display: none;
}

.dropdown__table {
  display: table;
  width: 100%;
  border-spacing: 7px;
}

.dropdown__option {
  display: table-row;
  width: 100%;
}

.dropdown__option-name {
  display: table-cell;
  width: 70%;
  height: 15px;  
  padding: 6px 8px;
  vertical-align: middle;
  text-align: left;
  @include fonts.text-label-h3();
}

.dropdown__option-batton {
  display: table-cell;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid map.get(colors.$map, 'dark-shade-25');
  border-radius: 50%;
  color: map.get(colors.$map, 'dark-shade-50');
  @include fonts.font-Montserrat-normal;
  font-size: 18px;
  line-height: 22px;

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

.dropdown__option-value {
  display: table-cell;
  height: 15px;
  vertical-align: middle;
  text-align: center;
  @include fonts.text-label-h3();
}

.dropdown__option-batton_blacked {
  border-color: rgba(map.get(colors.$map, dark-shade-100),  calc(0.25*0.38));
  color: rgba(map.get(colors.$map, dark-shade-100), calc(0.50*0.38));
}

.dropdown__battons {
  display: flex;
  justify-content: space-between;
}

.dropdown__batton-clear {
  height: 15px;
  margin: 12px 0px 13px 14px;
  @include fonts.text-label-h3();
  color: map.get(colors.$map, dark-shade-50); //- переопределяем цвет из миксина
}

.dropdown__batton-apply {
  height: 15px;
  margin: 12px 7px 13px 0px;
  @include fonts.text-label-h3();
  color: map.get(colors.$map, 'purple'); //- переопределяем цвет из миксина
}