mixin expandable-list(heading)
  div(class = 'expandable-list')&attributes(attributes)
    .expandable-list__header
      h3.expandable-list__heading= heading
      +icon({ name: 'expand_more' })(class = 'expandable-list__icon')
    .expandable-list__body
      if block
        block
