mixin expandable-list(heading)
  div(class='expandable-list js-expandable-list')&attributes(attributes)
    .expandable-list__header
      span.expandable-list__heading= heading
      div(class='expandable-list__trigger js-expandable-list__trigger', role='button')
        +icon({ name: 'expand_more' })
    .expandable-list__list.js-expandable-list__list
      if block
        block
