mixin fieldset(args)
  - const { legend, name, id, isIndentSmall = false } = args

  fieldset(
    class='fieldset',
    form=id,
    name=name,
  )
    if (legend !== undefined)
      legend(
        class=(isIndentSmall) ? 'fieldset__legend fieldset__legend_indent_small' : 'fieldset__legend',
      )= legend
    if block
      block
