mixin fieldset(args)
  -
    const { legend, name, id, isIndentSmall = false } = args
    const legendClass = ['fieldset__legend']
    if (isIndentSmall) legendClass.push('fieldset__legend_indent_small')

  fieldset(
    class='fieldset',
    form=id,
    name=name,
  )
    if (legend !== undefined)
      legend(class=legendClass)= legend
    if block
      block
