.fieldset {
  @include cancel-fieldset-style;
}

.fieldset__legend {
  display: inline-block;
  width: 100%;
  height: 1.25em;
  margin-bottom: 1em;

  @include label-text;
  text-align: left;

  cursor: default;
}

.fieldset__legend_indent_small {
  margin-bottom: 0.3125em;
}
