mixin fieldset(args)
  - const { legend, name, id } = args
  fieldset(
    class='fieldset',
    form=id,
    name=name,
  )
    if (legend !== undefined)
      legend.fieldset__legend= legend
    if block
      block
