include logo__circle.pug
include logo__left-branch.pug
include logo__right-branch.pug
- const modificator = " logo_normal-size" // + " logo_color-change"
div(class="logo"+modificator)
    +logo__circle
    +logo__left-branch
    +logo__right-branch