.logo {
  position: relative;
}

.logo__circle {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__left-branch {
  position: absolute;
  top: 37.5%;
  right: 45.83333%; 
}

.logo__right-branch {
  position: absolute;
  top: 37.5%;
  left: 52.08333%;
}

.logo__text {
  margin-left: 0.781rem;
  width: 3.325rem;
  height: 0.809rem;
}

.logo_small-size {
  width: 2.5rem;
  height: 2.5rem;
} 

.logo_normal-size {
  width: 2.75rem;
  height: 2.75rem;
}