@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;
@use '../../styles/service' as service;

.button {
  position: relative;

  min-width: min-content;
  height: 1.25rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  @include fonts.Montserrat-bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  color: map.get(colors.$map, "purple");

  cursor: pointer;

  @include service.non-selectable;

  &:hover {
    color: map.get(colors.$map, dark-shade-50); 
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #FFFFFF,
                0 0 2px 2px map.get(colors.$map, dark-shade-15);
  }
}

.button_style_fill {
  background: linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
  border-radius: 1.375rem;

  color: #FFFFFF;

  &:hover {
    opacity: 0.5;
    color: #FFFFFF;
  }
}

.button_style_border {
  background-image: linear-gradient(#FFF, #FFF),
                    linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
  background-clip: content-box,
                   border-box;
  background-origin: border-box;
  border-radius: 1.375rem;
  border: solid transparent;
  border-width: 0.128rem;

  color: map.get(colors.$map, "purple");

  &:hover {
    $purple-50: color.scale(map.get(colors.$map, "purple"), $alpha: -50%);
    $malibu-50: color.scale(map.get(colors.$map, "malibu"), $alpha: -50%);
    background-image: linear-gradient(#FFF, #FFF),
                      linear-gradient(180deg, $purple-50, $malibu-50);
    color: map.get(colors.$map, "purple");
  }
}
