.button {
  position: relative;
  width: min-content;
  height: 1.25em;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include h3-text;
  text-align: center;
  white-space: nowrap;
  color: $purple;

  cursor: pointer;

  @include non-selectable;

  &:hover {
    color: $dark-shade-50; 
  }
}

.button_style_fill {
  border-radius: 3.667em;
  background: linear-gradient(180deg, $purple, $malibu);

  color: #FFFFFF;

  &:hover {
    opacity: 0.5;

    color: #FFFFFF;
  }
}

.button_style_border {
  border: 2.048px solid transparent;
  border-radius: 3.667em;
  background-image: linear-gradient(#FFF, #FFF),
                    linear-gradient(180deg, $purple, $malibu);
  background-clip: content-box,
                   border-box;
  background-origin: border-box;

  color: $purple;

  &:hover {
    background-image: linear-gradient(#FFF, #FFF),
                      linear-gradient(180deg, $purple-50, $malibu-50);

    color: $purple;
  }
}
