.room-search-card {
  min-width: 300px;
  width: 100%;
  max-width: 380px;
}

.room-search-card__heading {
  height: 2.4583333em;
  margin-top: 0.4166666em;
  margin-bottom: 0.8333333em;

  @include h1-text($height: 1.25);
}

.room-search-card__dropdown-date-wrapper {
  position: relative;
  z-index: 5;
}
