.label {
  &::after {
    @include clearfix;
  }
}

.label__left-mark {
  float: left;
  height: 1.25em;

  @include label-text;
  text-align: left;
}

.label__right-mark {
  float: right;
  height: 1.25em;

  @include Montserrat-normal;
  font-size: 0.75em;
  line-height: 1.25;
  text-align: right;
  color: $dark-shade-50;
}
