mixin label(args)
  -
    const { id, text, appendix = '', hasLargeMargin = false } = args
    const labelClass = ['label']
    if (hasLargeMargin) labelClass.push('label_margin_large')

  label(class=labelClass, for=id)
    | #{text}
    span.label__appendix #{appendix}
  if block
    block
