.label {
  padding-bottom: 5px;

  &::after {
    @include clearfix;
  }
}

.label_padding_large {
  padding-bottom: 1em;
}

.label__left-mark {
  float: left;
  height: 1.25em;

  @include label-text;
  text-align: left;
}

.label__right-mark {
  float: right;
  height: 1.25em;

  @include label-text($color: $dark-shade-50);
  text-align: right;
}
