mixin label(args)
  -
    const { id, text, appendix = '', hasLargeMargin = false } = args
    const textClass = ['label__text']
    if (hasLargeMargin) textClass.push('label__text_margin_large')

  label(class='label', for=id)
    span(class=textClass)
      | #{text}
      span.label__appendix.js-label__appendix #{appendix}
    if block
      block
