mixin label(args = {})
  - const { left = '', right = '', hasLargePadding = false } = args
  label
    span(class=(hasLargePadding) ? 'label label_padding_large' : 'label')
      span.label__left-mark= left
      span.label__right-mark= right
    if block
      block
