@use 'sass:map';
@use '../colors' as colors;
@use '../text-setting' as fonts;

.toggle-custom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 1.5rem;  
  min-width: min-content;
}

.toggle-custom__label {
  position: relative;
  height: 1.5rem;
  margin-left: 1.887rem;
  color: map.get(colors.$map, dark-shade-75);
  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
}

.toggle-custom__label::before {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -3.125rem;
  content: "";
  width: 2.5rem;
  height: 1.25rem;
  background-color: #FFFFFF;
  border: 1px solid map.get(colors.$map, dark-shade-25);
  border-radius: 0.625rem;
  -webkit-transition: border-color 0.3s linear;
     -moz-transition: border-color 0.3s linear;
      -ms-transition: border-color 0.3s linear;
          transition: border-color 0.3s linear;
}

.toggle-custom__label::after {
  position: absolute;
  z-index: 2;
  top: 0.25rem;
  left: -2.875rem;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.375rem;
  background: map.get(colors.$map, dark-shade-25);
  -webkit-transition: transform 0.3s linear;
     -moz-transition: transform 0.3s linear;
      -ms-transition: transform 0.3s linear;
          transition: transform 0.3s linear,
}

.toggle-custom__input:checked + .toggle-custom__label {

  &::before {
    border: 1px solid map.get(colors.$map, "purple");
  }

  &::after {
    background: linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
  }
}