mixin sign-in-card()
  section.sign-in-card.js-sign-in-card
    +frame
      form(class='sign-in-card__form', name='sign-in')
        h1.sign-in-card__heading Войти
        +fieldset({ name: 'login-data' })
          +field({ width: 'big', indent: 'tiny' })
            +input({ name: 'email', type: 'email', placeholder: 'Email' })
          +field({  width: 'big', indent: 'middle' })
            +input({ name: 'password', type: 'password', placeholder: 'Пароль' })
        +field({  width: 'big', indent: 'big' })
          +button-long({ text: 'войти', type: 'submit', isArrowed: true })
      .sign-in-card__sign-up
        p.sign-in-card__text Нет аккаунта на Toxin?
        a(class='sign-in-card__link', target='_self', href='/')
          +pseudo-button({ text: 'создать', isBordered: true, isShort: true })
