.sign-in-card {
  min-width: 300px;
  width: 100%;
  max-width: 380px;
}

.sign-in-card__heading {
  margin-top: 0.417em;
  margin-bottom: 0.834em;

  @include h1-text($height: 1.25);
}

.sign-in__sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in__text {
  margin: 0;

  @include p-text;
  color: black;
}
