mixin checkbox-list(args)
  - const { items, isRich = false } = args

  ul.checkbox-list
    each item in items
      li.checkbox-list__item
        if (!isRich)
          +checkbox(item)
        else
          +checkbox-rich(item)
