.layout__wrapper {
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.layout__header {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}

.layout__content {
  position: relative;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .layout__footer {
    display: none;
  }
}

.layout__footer-creative {
  display: none;
}

@media only screen and (max-width: 768px) {
  .layout__footer-creative {
    display: block;
  }
}
