.navbar {
  height: 100%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar__item {
  display: inline-block;
  padding: 12px 0;
}

.navbar__link {
  padding: 10px;
}

.navbar__dropdown {
  position: relative;

  padding: 12px 0;

  &:hover .navbar__icon {
    color: $dark-shade-75;
  }

  &:hover .navbar__dropdown-list {
    visibility: visible;
    opacity: 1;
  }
}

.navbar__dropdown-head {
  white-space: nowrap;
}

.navbar__dropdown-link {
  vertical-align: middle;
  padding-right: 0;

  &::after {
    padding-left: 10px;
  }

  &:focus + .navbar__icon {
    color: $dark-shade-75;
  }
}

.navbar__icon {
  box-sizing: content-box;
  height: 22px;
  padding: 10px 10px 10px 0;

  vertical-align: middle;
  color: $dark-shade-50;
}

.navbar__dropdown-list {
  position: absolute;
  z-index: 0;
  visibility: hidden;
  opacity: 0;

  margin-top: 13.6px;
  padding: 14px 17px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $dark-shade-05;

  transition: all 300ms linear;

  &:active,
  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.navbar__dropdown-list-item {
  padding: 0;
}

.navbar__button {
  padding: 0 10px;
}

.navbar__button-sign-in {
  width: 87px;
  height: 34px;

  border-radius: 17.2px;

  &:focus {
    opacity: 0.5;
  }
}

.navbar__button-sign-up {
  width: 196px;
  height: 34px;

  border-radius: 17.2px;

  &:focus {
    opacity: 0.5;
  }
}
