mixin navbar(args = {})
  - const { isLoggedIn, navbarItems } = args
  nav(class='navbar')&attributes(attributes)
    ul.navbar__menu
      each item in navbarItems
        - const { isExpandable = false } = item
        if isExpandable
          +navbar__dropdown(item)
        else
          +navbar__item(item)
      +navbar__buttons(isLoggedIn)

mixin navbar__item(args = {})
  li(class='navbar__item')&attributes(attributes)
    +link(args)(class='navbar__link')

mixin navbar__dropdown(args = {})
  - const { href, text, title = null, items = [] } = args
  li.navbar__dropdown
    +navbar__dropdown-head(args)
    ul.navbar__dropdown-list
      each item in items
        +navbar__item(item)(class='navbar__dropdown-list-item')

mixin navbar__dropdown-head(args = {})
  .navbar__dropdown-head
    +link(args)(class='navbar__dropdown-link')
    +icon({ name: 'expand_more' })(class = 'navbar__icon')

mixin navbar__buttons(isloggedIn = false)
  if isloggedIn
    p= 'plug'
  else
    li.navbar__button
      +button-short({ name: 'button-sign-in', text: 'ВОЙТИ', isBordered: true })(
        class = 'navbar__button-sign-in',
        onClick = 'javascript: window.open("http://www.google.com", "_blank");',
      )
    li.navbar__button
      +button-long({ name: 'button-sign-up', text: 'ЗАРЕГИСТРИРОВАТЬСЯ', isFilled: true, isArrowed: false })(
        class = 'navbar__button-sign-up',
        onClick = 'javascript: window.open("http://www.google.com", "_blank");',
      )
