mixin navbar(args)
  - const { isLoggedIn, navbarItems } = args
  nav(class = 'navbar')&attributes(attributes)
    ul.navbar__menu
      each item in navbarItems
        - const { isExpandable = false } = item
        if isExpandable
          +navbar__dropdown(item)
        else
          +navbar__item(item)
      +navbar__buttons(isLoggedIn)

mixin navbar__item(args)
  - const { href, text, title = null } = args
  li(class = 'navbar__item')&attributes(attributes)
    a(
      class = 'navbar__link',
      href = href,
      title = title,
      data-text = text,
    )= text

mixin navbar__dropdown(args)
  - const { href, text, title = null, items = [] } = args
  li.navbar__dropdown
    +navbar__dropdown-head(args)
    ul.navbar__dropdown-list
      each item in items
        +navbar__dropdown-list-item(item)

mixin navbar__dropdown-head(args)
  - const { href, text, title = null } = args
  .navbar__dropdown-head
    a(
      class = 'navbar__link navbar__dropdown-link',
      href = href,
      title = title,
      data-text = text,
    )= text
    +icon({ name: 'expand_more' })(class = 'navbar__icon')

mixin navbar__dropdown-list-item(args)
  - const { href, text, title = null } = args
  li.navbar__dropdown-list-item
    a(
      class = 'navbar__link navbar__dropdown-list-link',
      href = href,
      title = title,
      data-text = text,
    )= text

mixin navbar__buttons(isloggedIn)
  if isloggedIn
    p= 'plug'
  else
    li.navbar__button
      +button-short({ name: 'button-sign-in', text: 'ВОЙТИ', isBordered: true })(
        class = 'navbar__button-sign-in',
        onClick = 'javascript: window.open("http://www.google.com", "_blank");',
      )
    li.navbar__button
      +button-long({ name: 'button-sign-up', text: 'ЗАРЕГИСТРИРОВАТЬСЯ', isFilled: true, isArrowed: false })(
        class = 'navbar__button-sign-up',
        onClick = 'javascript: window.open("http://www.google.com", "_blank");',
      )
