mixin navbar__item(args)
  - const { href, text, title = null } = args
  li.navbar__item
    a(class = 'navbar__link', href = href, title = title, data-text = text)= text

mixin navbar__dropdown(args)
  - const { href, text, title = null, items = [] } = args
  li.navbar__dropdown
    .navbar__dropdown-head
      a(class = 'navbar__link navbar__dropdown-link', href = href, title = title, data-text = text)= text
      +icon({ name: 'expand_more' })(class = 'navbar__icon')
    ul.navbar__dropdown-list
      each item in items
        +navbar__item(item)(class = 'navbar__dropdown-list-item')

mixin navbar(args)
  - const { isLoggedIn, navbarItems } = args
  - const { isExpandable } = navbarItems
  nav(class = 'navbar')&attributes(attributes)
    ul.navbar__menu
      each item in navbarItems
        - const { isExpandable = false } = item
        if isExpandable
          +navbar__dropdown(item)
        else
          +navbar__item(item)
      if isloggedIn
        p= 'plug'
      else
        .navbar__button
          +button-short({ name: 'button-sign-in', text: 'ВОЙТИ', isBordered: true })(
            class = 'navbar__button-sign-in',
            onClick = 'javascript: window.open("http://www.google.com", "_blank");',
          )
        .navbar__button
          +button-long({ name: 'button-sign-up', text: 'ЗАРЕГИСТРИРОВАТЬСЯ', isFilled: true, isArrowed: false })(
            class = 'navbar__button-sign-up',
            onClick = 'javascript: window.open("http://www.google.com", "_blank");',
          )
