mixin like-button(inputName="name", inputValue="like", inputText=11)
    label.like-button
        input.like-button__input(type="checkbox" name=inputName value=inputValue)&attributes(attributes)
        .like-button__label= inputText

