@use 'sass:map';
@use 'sass:color';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.like-button {
  position: relative;

  box-sizing: border-box;
  height: 1.25rem;
  width: 2.5rem;
  padding-left: 0.5rem;
}

.like-button__counter {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 2.5rem;
  height: 1.25rem;
  padding-left: 1.25rem;

  background-color: #FFFFFF;
  border-radius: 0.625rem;
  border: 1px solid map.get(colors.$map, dark-shade-25);

  @include fonts.Montserrat-normal;
  color: map.get(colors.$map, dark-shade-25);
  font-size: 0.625rem;
  line-height: 1.125rem;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  

  &::after {
    content: 'favorite_border';

    position: absolute;
    top: 0.5px;
    left: 0.5px;

    box-sizing: border-box;
    width: 1.0625rem;
    height: 1.0625rem;

    background-color: #FFFFFF;
    border-radius: 0.53rem;

    @include fonts.material-icons;
    color: map.get(colors.$map, dark-shade-25);
    font-size: 0.625rem;
    line-height: 1.125rem;
    text-align: center;
  }
}

.like-button__input:checked + .like-button__counter {
  border: 1px solid transparent;
  background-image: linear-gradient(#FFFFFF, #FFFFFF),
                    linear-gradient(180deg, map.get(colors.$map, 'purple'), map.get(colors.$map, 'malibu'));
  background-clip: padding-box,
                    border-box;
  background-origin: border-box;
}

.like-button__input:checked + .like-button__counter::after {
  content: 'favorite';

  color: map.get(colors.$map, 'purple');
}

.like-button__input:checked + .like-button__counter {
  color: map.get(colors.$map, 'purple');
}
