.sign-up__radio-buttons {
  display: flex;
  flex-direction: row;
}

.sign-up__plug {
  width: 1.25rem;
}

.sign-up__sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up__text {
  @include p-text;
  color: black;
}
