mixin icon(args)
  - let { tag, name, font } = args
  - font = (font === 'awesome') ? 'awesome' : 'material'
  - tag = (tag) ? tag : 'div'
  #{tag}(class=`icon icon_font_${font}`)&attributes(attributes)!= name
