mixin icon(args)
  -
    const { tag = 'span', name, font } = args
    const iconClass = ['icon']
    iconMod = (font === 'awesome') ? 'icon_font_awesome' : 'icon_font_material'
    iconClass.push(iconMod)

  #{tag}(class=iconClass)&attributes(attributes)!= name
