@mixin size($blockWidth: 320px, $blockHeight: auto, $blockPadding: 0px, $blockMargin: 10px 0) {
  width: $blockWidth;
  height: $blockHeight;
  padding: $blockPadding;
  margin: $blockMargin;
}

.input_320px {
  box-sizing: border-box;
  @include size(20rem, auto, 0px, 0.625rem 0);
}

.input_266px {
  box-sizing: border-box;
  @include size(16.625rem, auto, 0px, 0.625rem 0);
}

.input_266px_bottom {
  box-sizing: border-box;
  @include size(16.625rem, auto, 0px, 0 0 0.625rem 0);
}

.input_222px {
  box-sizing: border-box;
  @include size(13.875rem, auto, 0px, 0.625rem 0);
}

.input_150px {
  box-sizing: border-box;
  @include size(9.375rem, auto, 0px, 0.625rem 0);
}