@mixin size($blockWidth: 320px, $blockHeight: auto, $blockPadding: 0px, $blockMargin: 10px 0) {
  width: $blockWidth;
  height: $blockHeight;
  padding: $blockPadding;
  margin: $blockMargin;
}

.input_320px {
  box-sizing: border-box;
  @include size(320px, auto, 0px, 10px 0);
}

.input_266px {
  box-sizing: border-box;
  @include size(266px, auto, 0px, 10px 0);
}

.input_266px_bottom {
  box-sizing: border-box;
  @include size(266px, auto, 0px, 0 0 10px 0);
}

.input_222px {
  box-sizing: border-box;
  @include size(222px, auto, 0px, 10px 0);
}

.input_150px {
  box-sizing: border-box;
  @include size(150px, auto, 0px, 10px 0);
}