@font-face {
  font-family: 'Open Sans';
  src: url('./project/assets/fonts/OpenSans-Bold.eot');
  src: url('./project/assets/fonts/OpenSans-Bold.woff') format('woff'),
       url('./project/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
       url('./project/assets/fonts/OpenSans-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./project/assets/fonts/OpenSans-Regular.eot');
  src: url('./project/assets/fonts/OpenSans-Regular.woff') format('woff'),
       url('./project/assets/fonts/OpenSans-Regular.ttf') format('truetype'),
       url('./project/assets/fonts/OpenSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./project/assets/fonts/Montserrat-Bold.eot');
  src: url('./project/assets/fonts/Montserrat-Bold.woff') format('woff'),
       url('./project/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
       url('./project/assets/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./project/assets/fonts/Montserrat-Regular.eot');
  src: url('./project/assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('./project/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
       url('./project/assets/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./project/assets/fonts/Quicksand-Regular.eot');
  src: url('./project/assets/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
      url('./project/assets/fonts/Quicksand-Regular.ttf') format('truetype'),
      url('./project/assets/fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg'),
      url('./project/assets/fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./project/assets/fonts/Quicksand-Bold.eot');
  src: url('./project/assets/fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
       url('./project/assets/fonts/Quicksand-Bold.ttf') format('truetype'),
       url('./project/assets/fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg'),
       url('./project/assets/fonts/Quicksand-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src: url('./project/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./project/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('./project/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('./project/assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
       url('./project/assets/fonts/MaterialIcons-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("./project/assets/fonts/fa-brands-400.eot");
  src: url("./project/assets/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
       url("./project/assets/fonts/fa-brands-400.woff2") format("woff2"),
       url("./project/assets/fonts/fa-brands-400.woff") format("woff"),
       url("./project/assets/fonts/fa-brands-400.ttf") format("truetype"),
       url("./project/assets/fonts/fa-brands-400.svg#fontawesome") format("svg"); 
  font-style: normal;
  font-weight: 400;
  font-display: block;
}


