doctype html
html
  include ./logo/logo.pug
  include ./label/label.pug
  include ./text-field/text-field.pug
  include ./icon/icon.pug
  include ./subscription-text-field/subscription-text-field.pug
  include ./button/button-custom.pug
  include ./dropdown/dropdown.pug
  include ./date-picker/date-picker.pug
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Landing page
  body
    div.landing__container
      include ./header/header.pug
      div.landing__container-form
        include ./hotel-room-search/hotel-room-search.pug
      div.landing__container-image-sign Лучшие номера для вашей работы, отдыха и просто вдохновения
    include ./footer/footer.pug


