@use 'sass:color';

@mixin custom-focus {
  &:focus {
    outline: none;
    box-shadow: inset 0 0 2px 2px dark-shade(0.25);
  }
}

.calendar {
  min-width: 270px;
  width: 100%;
  max-width: 320px;
  padding: segment(270px, 320px, 12.5px, 19px) segment(270px, 320px, 10.5px, 17px);
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $dark-shade-05;
}

.calendar_hidden {
  display: none;
}

.calendar__head {
  margin-bottom: 1.875em;
  padding: 0 0.125em;
}

.calendar__title {
  height: 1.2635em;

  @include Montserrat-bold;
  font-size: 1.1875em;
  line-height: 1.1;
  text-align: center;
  color: $dark-shade-100;
}

%calendar__button-arrow {
  height: 1.5em;
  cursor: pointer;

  color: $primary;

  @include non-selectable;
}

.calendar__button-backward {
  @extend %calendar__button-arrow;
  float: left;
}

.calendar__button-forward {
  @extend %calendar__button-arrow;
  float: right;
}

.calendar__container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.calendar__stud {
  width: 0;
  padding-bottom: 85.6%;
}

.calendar__sheet {
  transition: all 500ms ease;
}

.calendar__table-wrapper {
  padding: 0 2px;
}

.calendar__table {
  position: relative;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: transparent;
}

.calendar__tr_hidden {
  display: none;
}

.calendar__th,
.calendar__td {
  position: relative;
  padding-bottom: calc(100% / 7);

  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.calendar__th {
  @include label-text(0.75rem, 1.25, $primary);
  text-transform: none;
}

.calendar__td {
  @include p-text(0.75rem, 1.25, $dark-shade-25);
}

.calendar__td_current {
  color: $dark-shade-50;
}

.calendar__trace {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.calendar__trace_today {
  border-radius: 50%;
  background: linear-gradient(180deg, $secondary, $secondary-gradient);

  @include Montserrat-bold;
  color: white;
}

.calendar__trace_filled {
  &::before {
    content: '';
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    $primary-25: color.change($primary, $alpha: 0.25);
    $primary-gradient-25: color.change($primary-gradient, $alpha: 0.25);
    background: linear-gradient(180deg, $primary-25, $primary-gradient-25);
  }
}

.calendar__trace_arrival,
.calendar__trace_departure {
  @include Montserrat-bold;
  color: white;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 1.5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, $primary, $primary-gradient);
  }
}

.calendar__trace_arrival {
  &::before {
    border-radius: 50% 0 0 50%;
    left: 1.5px;
    width: calc(100% - 1.5px);
  }
}

.calendar__trace_departure {
  &::before {
    border-radius: 0 50% 50% 0;
    right: 1.5px;
    width: calc(100% - 1.5px);
  }
}

.calendar__content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.calendar__buttons {
  width: 100%;
  height: 0.9375em;
  margin-top: 20px;
  padding: 0 2px;

  line-height: 0;

  &::after {
    @include clearfix;
  }
}

%calendar__button-wrapper {
  @include non-selectable;
  @include custom-focus;
}

.calendar__button-clear-wrapper {
  @extend %calendar__button-wrapper;
  float: left;
}

.calendar__button-clear_hidden {
  visibility: hidden;
}

.calendar__button-apply-wrapper {
  @extend %calendar__button-wrapper;
  float: right;
}
