mixin calendar(args = {})
  - const { name } = args
  section(class='calendar js-calendar')&attributes(attributes)
    +calendar__head
    .calendar__container
      .js-calendar__sheet.carousel__item.js-carousel__item
        .calendar__table-wrapper
          +calendar__table
      .js-calendar__sheet.carousel__item.js-carousel__item
        .calendar__table-wrapper
          +calendar__table
      .calendar__stud
    +calendar__buttons

mixin calendar__head()
  .calendar__head
    div(class='calendar__button-backward js-calendar__button-backward', role='button', tabindex='0')
      +icon({ name: 'arrow_back' })
    div(class='calendar__button-forward js-calendar__button-forward', role='button', tabindex='0')
      +icon({ name: 'arrow_forward' })
    .calendar__title.js-calendar__title= ''

mixin calendar__table()
  table.calendar__table
    thead
      tr.calendar__tr
        each dayOfTheWeek in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
          th.calendar__th
            .calendar__content= dayOfTheWeek
    tbody.js-calendar__tbody
      each i in [0, 7, 14, 21, 28]
        tr.calendar__tr
          each j in [1, 2, 3, 4, 5, 6, 7]
            +calendar__td(i + j)
      tr.calendar__tr.js-calendar__tr-6th
        each k in [1, 2, 3, 4, 5, 6, 7]
          +calendar__td(35 + k)

mixin calendar__td(index)
  td(class='calendar__td js-calendar__td', data-index=index, tabindex='0')
    .calendar__trace
      .calendar__content= ''

mixin calendar__buttons()
  .calendar__buttons
    .calendar__button-clear-wrapper
      +button({ text: 'очистить' })(class='js-calendar__button-clear')
    .calendar__button-apply-wrapper
      +button({ text: 'применить' })(class='js-calendar__button-apply')
