mixin dropdown-date(args = {})
  - const { left, right, name } = args
  div(class='dropdown-date js-dropdown-date')&attributes(attributes)
    .dropdown-date__head
      .dropdown-date__arrival
        +label(left, '').dropdown-date__label
          +input-date({ name: `${name}-arrival` }).js-dropdown-date__input-arrival
        +icon({ name: 'expand_more' }).dropdown-date__icon.js-dropdown-date__icon-arrival
      .dropdown-date__departure
        +label(right, '').dropdown-date__label
          +input-date({ name: `${name}-departure` }).js-dropdown-date__input-departure
        +icon({ name: 'expand_more' }).dropdown-date__icon.js-dropdown-date__icon-departure
    .dropdown-date__bar.js-dropdown-date__bar.dropdown-date__bar_hidden
      +calendar({ name }).js-dropdown-date__calendar
