@use 'sass:map';
@use 'sass:color';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.dropdown-date {
  width: 20rem;
}

.dropdown-date__head {
  &::after {
    content: '';

    display: table;
    clear: both;
  }
}

.dropdown-date__arrival {
  position: relative;

  float: left;
  width: 9.375rem;
}

.dropdown-date__departure {
  position: relative;

  float: right;
  width: 9.375rem;
}

.dropdown-date__icon {
  position: absolute;
  right: 0;
  bottom: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
  color: map.get(colors.$map, 'dark-shade-50');

  &:hover {
    cursor: pointer;
  }
}

.dropdown-date__icon_shaded {
  color: map.get(colors.$map, 'dark-shade-75');
}

.dropdown-date__body_hidden {
  display: none;
}
