.dropdown-date {
  width: clamp(270px, 100%, 320px);
}

.dropdown-date__label {
  padding-bottom: 5px;
}

.dropdown-date__head {
  display: flex;
  justify-content: space-between;
}

.dropdown-date__arrival,
.dropdown-date__departure {
  position: relative;
  width: segment(270px, 320px, 130px, 150px);
}

.dropdown-date__icon {
  position: absolute;
  right: 0.8px;
  bottom: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  // icon font-size: 24px;
  width: calc(100% - 130px + 1em);
  height: 1.75em;

  color: $dark-shade-50;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-date__icon_shaded {
  color: $dark-shade-75;
}

.dropdown-date__bar_hidden {
  display: none;
}

.dropdown-date__calendar {
  position: absolute;
  margin-top: 5.6px;
}
