mixin sign-up-card()
  section.sign-up-card.js-sign-up-card
    +frame
      form(class='sign-up-card__form', name='sign-up')
        h1.sign-up-card__heading Регистрация аккаунта
        +fieldset({ name: 'full-name'})
          +field({ width: 'big', indent: 'tiny' })
            +input({ name: 'first-name', placeholder: 'Имя' })
          +field({ width: 'big', indent: 'tiny' })
            +input({ name: 'last-name', placeholder: 'Фамилия' })
        +field({ width: 'big', indent: 'middle' })
          .sign-up-card__radio-buttons-wrapper
            +radio-button({ name: 'sex', value: 'male', checked: true, text: 'Мужчина' })
            +radio-button({ name: 'sex', value: 'female', text: 'Женщина' })
        +field({ width: 'big', indent: 'middle' })
          +label({ text: 'дата рождения' })
            +input-date({ name: 'birth-date' })
        +fieldset({ legend: 'данные для входа в сервис', name: 'login-data', isIndentSmall: true })
          +field({ width: 'big', indent: 'tiny' })
            +input({ name: 'email', type: 'email', placeholder: 'Email' })
          +field({ width: 'big', indent: 'tiny' })
            +input({ name: 'password', type: 'passwotd', placeholder: 'Пароль' })
        +field({ width: 'big', indent: 'middle' })
          +toggle({ name: 'spec', value: 'first', checked: false, text: 'Получать спецпредложения' })
        +field({ width: 'big', indent: 'big' })
          +button-long({ text: 'зарегистрироваться', type: 'submit', isArrowed: true })
      .sign-up-card__sign-in
        p.sign-up-card__text Уже есть аккаунт на Toxin?
        a(class='sign-up-card__link', target='_self', href='/')
          +pseudo-button({ text: 'войти', isBordered: true, isShort: true })
