mixin subscription-form(args = {})
  form.subscription-form
    +input-text(args)(type='email')&attributes(attributes)
    div(class='subscription-form__button', type='submit', role='button', tabindex='0')
      +icon({ name: 'arrow_forward' })
