include ../../common.blocks/link/link.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .link-wrapper
      +link({ href: '#', target: '_self', title: 'Что это?', 'data-text': 'Константин Константинопольский', text: 'Константин Константинопольский' })
