.heading {
  margin: 0 0 1.25rem 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

.heading_widget {
  height: 1.2631579em;

  @include widget-text;
}

.heading_h1 {
  @include h1-text;
}

.heading_h4 {
  margin-bottom: 0;

  @include p-text;
  font-weight: bold;
}
