mixin hotel-room-heading()
  .hotel-room-heading&attributes(attributes)
    .hotel-room-heading__left #[span.hotel-room-heading__numero №] #[strong.hotel-room-heading__number.js-hotel-room-heading__number 888]
    .hotel-room-heading__right #[strong.hotel-room-heading__price.js-hotel-room-heading__price 9999] в сутки
