.subscription-field {
  position: relative;

  display: flex;
  height: 2.75rem;
}

.subscription-field__input-text {
  padding-right: 2.625rem;
  padding-bottom: 0.125rem;

  &:hover + .subscription-field__submit-button,
  &:focus + .subscription-field__submit-button,
  &:active + .subscription-field__submit-button {
    outline: none;
    border-color: $dark-shade-50;
  }
}

.subscription-field__icon {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;

  border-radius: 0 4px 4px 0;
  background: linear-gradient(180deg, $purple 0%, $malibu 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

  &::-moz-selection {
    background: transparent;
  }

  &::selection,
  &::-moz-selection {
    background: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}
