mixin subscription-field(args = {})
  .subscription-field
    +input-text(args)(
      class = 'subscription-field__input-text'
      type = 'email'
    )
    .subscription-field__icon
      +icon({ text: 'arrow_forward' })(type = 'submit')
