mixin icon-item(args = {})
  - const { name, headline, descr } = args
  .icon-item
    .icon-item__icon
      +icon({ name })
    .icon-item__info
      +heading({ type: 'h4', text: headline })
      p.icon-item__description= descr
