.icon-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-item__icon {
  display: flex;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2rem;
}

.icon-item__info {
  margin-left: 10px;
}

.icon-item__description {
  margin: 0;

  @include p-text;
}
