mixin dropdown-guests(args)
  -
    const addition = {
      hasButtons: true,
      hasLargeWidth: true,
      defaultValue: 'Сколько гостей',
      options: [
        { name: 'adult', description: 'взрослые', value: 0 },
        { name: 'child', description: 'дети', value: 0 },
        { name: 'baby', description: 'младенцы', value: 0 },
      ],
    }
    const argsAugmented = { ...args, ...addition }

  +dropdown(argsAugmented)(class='js-dropdown-guests')&attributes(attributes)
