@use 'sass:map';
@use 'sass:color';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.comment {
  width: 44.375rem;
}

.comment__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment__avatar {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;

  border: 2px solid #FFFFFF;
  border-radius: 1.5rem;
  box-shadow: 0 0.625rem 1.25rem color.scale(map.get(colors.$map, dark-shade-100), $alpha: -90%);
}

.comment__info {
  margin-left: 0.652rem;
}

.comment__nickname {
  @include fonts.Montserrat-bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: map.get(colors.$map, dark-shade-75);
}

.comment__date {
  @include fonts.body-text(0.875rem, 1.5rem);
}

.comment__body {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 0.625rem;
}

.comment__like-button {
  margin: 0 0.25rem;
  width: 2.5rem;
  flex-shrink: 0;
}

.comment__message {
  width: auto;
  margin-left: 0.652rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: map.get(colors.$map, dark-shade-75);
}