mixin comment(args = {})
  - const { url, nickname, date, text } = args
  .comment
    .comment__header
      img(class='comment__avatar' src=url alt='No available')
      .comment__info
        .comment__nickname= nickname
        br
        .comment__date= date
    .comment__body
      +like-button()(class='comment__like-button')
      .comment__text= text
