mixin comment(args={URL:"", header:"", date:"", body:""})
    - var {url, header, date, body} = args
    .comment
        .comment__header
        img.comment__avatar(src=url alt="No available")
        .comment__text #[b #{header}]<br>#{date}
        .comment__body
            .comment__like-button
                +like-button
                .comment__text #{body}