mixin sign-up()
  section.sign-up.card
    form(action='')
      h1.card__heading Регистрация аккаунта
      .card__spot.card__spot_indent_small
        +input-text({ name: 'first-name', placeholder: 'Имя' })
      .card__spot.card__spot_indent_small
        +input-text({ name: 'last-name', placeholder: 'Фамилия' })
      .sign-up__radio-buttons.card__spot.card__spot_indent_mid
        +radio-button({ name: 'sex', value: 'male', checked: true, descr: 'Мужчина' })
        .sign-up__plug
        +radio-button({ name: 'sex', value: 'female', descr: 'Женщина' })
      +label({ left: 'дата рождения' })
        .card__spot.card__spot_indent_mid
          +input-date({ name: 'birth-date' })
      +label({ left: 'данные для входа в сервис' })
        .card__spot.card__spot_indent_small
          +input-text({ name: 'user-email', placeholder: 'Email' })
        .card__spot.card__spot_indent_small
          +input-text({ name: 'user-password', placeholder: 'Пароль' })
      .card__spot.card__spot_indent_mid
        +toggle({ name: 'spec', value: 'first', checked: false, descr: 'Получать спецпредложения' })
      .card__spot.card__spot_indent_big
        +button-long({ name: 'button-sing-up', text: 'зарегистрироваться', isArrowed: true })
    .sign-up__sign-in
      p.sign-up__text
        | Уже есть аккаунт на Toxin?
      +button-short({ name: 'button-sing-in', text: 'войти', isBordered: true })
