mixin room-search-sidebar()
  -
    const checkboxListItems = [
      { name: 'smoking-allowed', text: 'Можно курить' },
      { name: 'pets-allowed', text: 'Можно с питомцами' },
      { name: 'guest-allowed', text: 'Можно пригласить гостей\n(до 10 человек)' },
    ]
    const checkboxRichListItems = [
      { name: 'wide-hallway', text: 'Широкий коридор', subtext: 'Ширина коридоров в номере\nне менее 91 см.' },
      { name: 'assistant-for-disabled', text: 'Помощник для инвалидов', subtext: 'На 1 этаже вас втретит специалист\nи проводит до номера.' },
    ]
    const expandableListItems = [
      { name: 'dinner', text: 'Завтрак' },
      { name: 'writing-desk', text: 'Письменный стол' },
      { name: 'feeding-chair', text: 'Стул для кормления' },
      { name: 'crib', text: 'Кроватка' },
      { name: 'tv', text: 'Телевизор' },
      { name: 'shampoo', text: 'Шампунь' },
    ]

  section.room-search-sidebar.js-room-search-sidebar&attributes(attributes)
    form(class='room-search-sidebar__form', name='room-search-sidebar')
      +field({ width: 'big', indent: 'middle' })
        .room-search-sidebar__dropdown-filter-date-wrapper
          +dropdown-filter-date({ id: 'room-search-facilities', name: 'date', labelText: 'даты прибывания в отеле' })
      +field({ indent: 'big' })
        .room-search-sidebar__dropdown-guests-wrapper
          +dropdown-guests({ id: 'room-search-guests', name: 'guests', labelText: 'гости' })
      +field({ indent: 'big' })
        .room-search-sidebar__range-slider-wrapper
          +range-slider({ labelText: 'диапазон цены', caption: 'Стоимость за сутки пребывания в номере' })
      +field({ indent: 'big' })
        +fieldset({ legend: 'правила дома', name: 'rules' })
          +checkbox-list({ items: checkboxListItems })
      +field({ indent: 'big' })
        +fieldset({ legend: 'доступность', name: 'accessibility' })
          +checkbox-list({ items: checkboxRichListItems, isRich: true })
      +field({ indent: 'small' })
        .room-search-sidebar__dropdown-facilities-wrapper
          +dropdown-facilities({ id: 'room-search-facilities', name: 'facilities', labelText: 'удобства номера' })
      +field
        +fieldset({ name: 'extra' })
          +expandable-list('дополнительные удобства')
            +checkbox-list({ items: expandableListItems })
