.room-search-sidebar {
  min-width: 266px;
  width: 100%;
  max-width: 320px;
  background-color: #FFFFFF;
}

.room-search-sidebar__dropdown-filter-date-wrapper {
  position: relative;
  z-index: 20;
}

.room-search-sidebar__dropdown-guests-wrapper {
  position: relative;
  z-index: 15;
}

.room-search-sidebar__range-slider-wrapper {
  position: relative;
  z-index: 10;
}

.room-search-sidebar__dropdown-facilities-wrapper {
  position: relative;
  z-index: 5;
}
