mixin account-registration
  div.account-registration
    h1.account-registration__h1 Регистрация аккаунта
    +text-field("firstName", "Имя")
    +text-field("lastName", "Фамилия")(class="account-registration__indent")
    +radio-button("gender", "male", "Мужчина")(class = "account-registration__radio-button")
    +radio-button("gender", "female", "Женщина")
    +label("Дата рождения", "")
      +text-field("birtdDate", "ДД.ММ.ГГГГ")
    +label("Данные для входа в сервис", "")
      +text-field("userEmail", "Email")
      +text-field("userPassword", "Пароль")(class="text-field_masked account-registration__indent")
    +toggle-custom("mailing", "mailing", "Получать спецпредложения")
    +button-custom("long", "Зарегистрироваться", "button-sign-on")(class="account-registration__indent-big" type="submit")
    div.account-registration__login
      p.account-registration__text Уже есть аккаунт на Toxin 
      +button-custom("border", "Войти", "button-sign-in")
