.field {
  width: 100%;
}

.field_width_middle {
  max-width: 266px;
}

.field_width_big {
  max-width: 320px;
}

.field_indent_tiny {
  margin-bottom: 0.625em;
}

.field_indent_small {
  margin-bottom: 0.9375em;
}

.field_indent_middle {
  margin-bottom: 1.25em;
}

.field_indent_big {
  margin-bottom: 1.875em;
}
