.header {
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 9.72%;
}

@media only screen and (max-width: 1152px) {
  .header__wrapper {
    padding: 0 2.5%;
  }
}

@media only screen and (max-width: 320px) {
  .header__wrapper {
    padding: 0;
  }
}

.header__navbar {
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .header__navbar {
    display: none;
  }
}

.header__hamburger {
  display: none;
}

@media only screen and (max-width: 960px) {
  .header__hamburger {
    display: block;
  }
}
