- const socialFollowList = [
-   { name: '&#xf099;', font: 'awesome', tag: 'div' },
-   { name: '&#xf082;', font: 'awesome', tag: 'div' },
-   { name: '&#xf16d;', font: 'awesome', tag: 'div' },
- ]

mixin social-follow(icons = socialFollowList)
  .social-follow&attributes(attributes)
    ul.social-follow__icon-list
      - const length = icons.length
      each icon, i in icons
        li(
          class = (i < length - 1) ? 'social-follow__gap' : null,
        )
          a(
            href = '#',
            target = '_blank',
          )
            +icon(icon)(class = 'social-follow__icon')
