.social-follow {
  padding-bottom: 2.5px;
}

.social-follow__list {
  @include cancel-list-style;
}

.social-follow__item {
  display: inline-block;
}

.social-follow__item_indented {
  padding-right: 1.25rem;
}

.social-follow__link {
  &:visited,
  &:link {
    text-decoration: none;
  }
}

.social-follow__icon {
  width: 1.5rem;
  background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

