-
  const defaultMenuItems = [
    { 'text': 'О нас', 'href': '#about' },
    { 'text': 'Услуги', 'href': '#services', 'isExpandable': true,
      'submenuItems': [
        { 'text': 'Услуги', 'href': '#services' },
        { 'text': 'Услуги', 'href': '#services' },
        { 'text': 'Услуги', 'href': '#services' },
      ]
    },
    { 'text': 'Вакансии', 'href': '#vacancies' },
    { 'text': 'Новости', 'href': '#news' },
    { 'text': 'Соглашения', 'href': '#agreements', 'isExpandable': true,
      'submenuItems': [
        { 'text': 'Соглашения', 'href': '#agreements' },
        { 'text': 'Соглашения', 'href': '#agreements' },
      ]
    }
  ]

mixin navbar(args = {})
  - const { menuItems = defaultMenuItems, isUserLoggedIn = false } = args
  nav(class='navbar js-navbar')&attributes(attributes)
    ul.navbar__menu
      each item in menuItems
        - const { isExpandable = false } = item
        if !isExpandable
          +navbar__item(item)
        else
          +navbar__submenu(item)
    +user-bar({ isUserLoggedIn })

mixin navbar__item(args)
  li.navbar__item.navbar__link
    +link({ hasLeftPadding: true, hasRightPadding: true, ...args })

mixin navbar__submenu(args)
  - const { submenuItems = [] } = args
  li.navbar__item.js-navbar__item_expandable
    .navbar__item-head
      .navbar__link
        +link({ hasLeftPadding: true, ...args })
      div(class='navbar__trigger js-navbar__trigger', role='button', tabindex='0', aria-expanded=false, aria-label='submenu')
        div.navbar__icon-wrapper
          +icon({ name: 'expand_more' })
    ul.navbar__submenu.js-navbar__submenu
      each item in submenuItems
        li.navbar__link.navbar__link_submenu
          +link(item)
