.navbar {
  height: 100%;
}

.navbar__menu {
  display: flex;
  align-items: stretch;
  height: 100%;
  @include cancel-list-style;
}

.navbar__item {
  position: relative;
}

.navbar__item-head {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.navbar__trigger {
  padding-right: 10px;

  color: $dark-shade-50;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $dark-shade-75;
  }

  &::after {
    @include vertical-align-centering;
  }
}

.navbar__trigger_active {
  color: $dark-shade-75;
}

.navbar__icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 1.4em;
}

.navbar__submenu {
  position: relative;
  z-index: 0;
  top: 5px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
  @include cancel-list-style;
  padding: 10px;

  transition: all 250ms ease;
}

.navbar__submenu_visible {
  visibility: visible;
  opacity: 1;
}

.navbar__button {
  padding: 0 10px;
}

.navbar__button-sign-in {
  width: 87px;
  height: 34px;

  border-radius: 17.2px;

  &:focus {
    opacity: 0.5;
  }
}

.navbar__button-sign-up {
  width: 196px;
  height: 34px;

  border-radius: 17.2px;

  &:focus {
    opacity: 0.5;
  }
}
