@use "sass:map";
@use "../colors" as colors;
@use "../text-mixins" as fonts;

.header {
    height: 4.375rem;
    padding: 0 9.722%;

    background-color: #FFFFFF;
    box-shadow: 0 0.625rem 1.25rem map.get(colors.$map, dark-shade-05);
}

.header__logo {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;
    height: 4.375rem;
}

.header__nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 4.375rem;
}

.header__nav-item {
    margin-left: 1.25rem;

    color: map.get(colors.$map,  dark-shade-50);
    @include fonts.Montserrat-normal;
    font-size: 0.875rem;
    line-height: 1.286em;

    &:hover {
        color: map.get(colors.$map,  dark-shade-75);
    }
}

.header__nav-item_about {
    color: map.get(colors.$map,  dark-shade-75);
    @include fonts.Montserrat-bold;

    &:hover {
        color: map.get(colors.$map,  dark-shade-100);
    }
}

.header__nav-item_exp {
    position: relative;
    padding-right: 1.5rem;

    &::after {
        position: absolute;
        right: 0;
        top: 0;

        content: "expand_more";
        @include fonts.material-icons;
        line-height: 0.85em;
    }
}

.header__button-sign-in {
    width: 5.4375rem;
    height: 2.125rem;
    margin-left: 1.25rem;

    border-radius: 1.0625rem;
}

.header__button-sign-up {
    width: 12.25rem;
    height: 2.125rem;
    margin-left: 1.25rem;
    padding: 0 1.25rem;

    border-radius: 1.0625rem;
}