include ../../components/favicon/favicon.pug
include ../../components/layout-grid/layout-grid.pug
include ../../components/logo/logo.pug
include ../../components/button/button.pug
include ../../components/user-bar/user-bar.pug
include ../../components/link/link.pug
include ../../components/icon/icon.pug
include ../../components/navbar/navbar.pug
include ../../components/hamburger/hamburger.pug
include ../../components/header/header.pug
include ../../components/label/label.pug
include ../../components/input/input.pug
include ../../components/carousel/carousel.pug
include ../../components/calendar/calendar.pug
include ../../components/dropdown-filter-date/dropdown-filter-date.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/range-slider/range-slider.pug
include ../../components/fieldset/fieldset.pug
include ../../components/field/field.pug
include ../../components/checkbox/checkbox.pug
include ../../components/checkbox-rich/checkbox-rich.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/dropdown-facilities/dropdown-facilities.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/room-search-sidebar/room-search-sidebar.pug
include ../../components/hotel-room-heading/hotel-room-heading.pug
include ../../components/rate-button/rate-button.pug
include ../../components/hotel-room-card/hotel-room-card.pug
include ../../components/pagination/pagination.pug
include ../../components/copyright/copyright.pug
include ../../components/social-follow/social-follow.pug
include ../../components/copyright-bar/copyright-bar.pug
include ../../components/subscription-field/subscription-field.pug
include ../../components/footer/footer.pug
include ../../components/footer-creative/footer-creative.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle } = data

+layout-grid
  +layout-grid__block('head')
    title= pageTitle

  +layout-grid__block('header')
    +header

  +layout-grid__block('sidebar')
    section.search-room__sidebar
      +room-search-sidebar

  +layout-grid__block('content')
    main.search-room__main
      .search-room__page
        h1.search-room__heading Номера, которые мы для вас подобрали
        .search-room__grid
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
          +hotel-room-card({ itemAmount: 4 })
        .search-room__paginator-wrapper
          +pagination({ amount: 10 })

  +layout-grid__block('footer')
    include ../../components/line/line.pug
    +footer

  +layout-grid__block('footer-creative')
    include ../../components/line/line.pug
    +footer-creative
