@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;
@use "../block" as block;

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__text-field {
  
  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

.dropdown__text-field_angular {
  padding-right: 2.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.25rem 0.25rem 0 0;
}

.dropdown__text-field_expanded {
  border-radius: 0.25rem 0.25rem 0 0;
  border-color: map.get(colors.$map, 'dark-shade-50');
}

.dropdown__icon-expand {
  position: absolute;
  right: 0;
  top: 31px;
  box-sizing: border-box;
  width: 2.75rem;
  height: 1.5rem;
  text-align: center;
  color: map.get(colors.$map, 'dark-shade-75');

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

.dropdown__bar {
  position: absolute;
  z-index: 15;
  box-sizing: border-box;
  width: 100%;
  padding-top: 7px;
  background-color: white;
  border: 1px solid map.get(colors.$map, 'dark-shade-50');
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: none;
}

.dropdown__bar_hidden {
  display: none;
}

.dropdown__bar_shadow {
  box-shadow: 0px 10px 20px map.get(colors.$map, dark-shade-05);
}

.dropdown__options {
  box-sizing: border-box;
  width: 100%;
}

.dropdown__option {
  box-sizing: border-box;
  height: 30px;
  padding-left: 14px;
  padding-right: 6px;
  margin-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    clear: both;
    width: 100%;
  }
}

.dropdown__option-name {
  float: left;
  box-sizing: border-box;
  width: auto;
  height: 30px;
  text-align: left;
  @include fonts.label-h3(30px);
}

.dropdown__option-button {
  float: right;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid map.get(colors.$map, 'dark-shade-25');
  border-radius: 22px;
  cursor: pointer;
  color: map.get(colors.$map, 'dark-shade-50');
  @include fonts.Montserrat-normal;
  font-size: 18px;
  line-height: 30px;

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

.dropdown__option-value {
  float: right;
  box-sizing: border-box;
  height: 30px;
  width: 32px;
  text-align: center;
  @include fonts.label-h3(30px);
}

.dropdown__option-button_blacked {
  border-color: rgba(map.get(colors.$map, dark-shade-100),  calc(0.25*0.38));
  color: rgba(map.get(colors.$map, dark-shade-100), calc(0.50*0.38));
}

.dropdown__buttons {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 6px;

  &::after {
    content: "";
    position: absolute;
    clear: both;
    width: 100%;
  }
}

.dropdown__button-clear {
  float: left;
  cursor: pointer;
  color: map.get(colors.$map, dark-shade-50);

  &:hover,
  &:focus,
  &:active {
    color: map.get(colors.$map, dark-shade-75);
  }

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

.dropdown__button-clear_hidden {
  visibility: hidden;
}

.dropdown__button-apply {
  float: right;
  cursor: pointer;

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}