mixin radio-button(buttonName, buttonValue, buttonLabel)
    label.radio-button&attributes(attributes)
        input.radio-button__input(type="radio" name=buttonName value=buttonValue)
        div.radio-button__label= buttonLabel
