mixin radio-button(args={name:"", value:"", text:""})
    - var {name, value, text} = args
    label.radio-button&attributes(attributes)
        input.radio-button__input(type="radio" name=name value=value)
        .radio-button__text= text
