.radio-button {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;

  min-width: min-content;
  height: 1.5em;
}

.radio-button__descr {
  position: relative;
  height: 1.714em;

  @include p-text(0.875em, 1.3, $dark-shade-50);

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -30px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 4px;
    left: -26px;
    border-radius: 50%;
    background: linear-gradient(180deg, $primary, $primary-gradient);
  }
}

.radio-button__input {
  height: 1.5em;
  margin-left: 3.68px;
  margin-right: 13.28px;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .radio-button__descr::before,
  &:hover + .radio-button__descr::before {
    border-color: $dark-shade-50;
  }

  &:checked + .radio-button__descr {
    color: $dark-shade-75;

    &::before {
      border: 1px solid $primary;
    }

    &::after {
      width: 12px;
      height: 12px;
    }
  }

  &:checked:focus + .radio-button__descr::before,
  &:checked:hover + .radio-button__descr::before {
    border-color: $primary-darken-10;
  }
}
