mixin radio-button(args = {})
  - const { name, value, text } = args
  label(class = 'radio-button')&attributes(attributes)
    input(
      class = 'radio-button__input'
      type = 'radio'
      name = name
      value = value
    )
    .radio-button__text= text
