.radio-button {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  min-width: min-content;
  height: 1.5rem;
}

.radio-button__text {
  position: relative;

  height: 1.5rem;

  @include body-text;
  line-height: 1.3;
  color: $dark-shade-50;

  &::before {
    content: '';
  
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -30px;

    box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    top: 4px;
    left: -26px;

    border-radius: 50%;
    background: linear-gradient(180deg, $purple, $malibu);
  }
}

.radio-button__input {
  height: 1.5rem;
  margin-left: 0.23rem;
  margin-right: 0.83rem;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .radio-button__text::before,
  &:hover + .radio-button__text::before {
    border-color: $dark-shade-50;
  }

  &:checked + .radio-button__text {
    color: $dark-shade-75;

    &::before {
      border: 1px solid $purple;
    }

    &::after {
      width: 12px;
      height: 12px;
    }
  }

  &:checked:focus + .radio-button__text::before,
  &:checked:hover + .radio-button__text::before {
    border-color: $purple-darken-10;
  }
}
