@use "sass:map";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.button-custom {
  width: min-content;
  height: 15px;
  text-align: center;
  padding: 0px;
  border: none;
  color: map.get(colors.$map, "purple");
  background-color: transparent;
  @include fonts.Montserrat-bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &:hover {
    color: map.get(colors.$map, dark-shade-50); 
    outline: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.button-custom_fill {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
  color: #FFF;
  content: "";

  &:hover {
    color: #FFF;
    opacity: 0.5; 
  }
}

.button-custom_border {
  position: relative;
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  margin: 2px;
  background-color: #FFF;
  color: map.get(colors.$map, "purple");

  &:hover {
    color: map.get(colors.$map, "purple");
  }

  &::before {
    position: absolute;
    z-index: -1; 
    left: -2px;
    top: -2px;
    width: 99px;
    height: 44px;
    content: ""; 
    border-radius: 22px;
    background: linear-gradient(180deg, map.get(colors.$map, "purple"), map.get(colors.$map, "malibu"));
  }

  &:hover:before {
    opacity: 0.5;
  }
}

.button-custom_long {
  position: relative;
  width: 320px;
  
  &::after {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 44px;
    height: 24px;
    content: "arrow_forward"; 
    @include fonts.material-icons;
    border-radius: 22px;
  }
}
  