mixin text-field(args, attr)
    - var args = args || 0
    - var attr = attr || 0
    - var {name, placeholder, left, right, size} = args
    - size = (size === 10) ? 10 : 20
    div(class=`text-field text-field_width_${size}rem`)
        +label(left, right)
            +input-text({name, placeholder})&attributes(attr)