mixin text-field(args = {}, attr = {})
  - let { name, placeholder, left, right, size } = args
  - size = (size === 10) ? 10 : 20
  div(class=`text-field text-field_width_${size}rem`)
    +label(left, right)
      +input-text({ name, placeholder })&attributes(attr)
