.copyright-bar {
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  height: 4.375rem;
  padding: 0 9.722%;

  background-color: #FFFFFF;
  box-shadow: 0 0.625rem 1.25rem $dark-shade-05;
}

.copyright-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-bar__copyright {
  height: 4.375rem;

  line-height: 4.375rem;
  white-space: nowrap;
}
