mixin copyright-bar()
  .copyright-bar&attributes(attributes)
    .copyright-bar__wrapper
      span.copyright-bar__copyright Copyright © 2018 Toxin отель. Все права защищены.
      +social-follow()(class = 'copyright-bar__social-follow')
