mixin copyright-bar()
  .copyright-bar&attributes(attributes)
    .copyright-bar__wrapper
      +copyright(2018)(class = 'copyright-bar__copyright')
      +social-follow()(class = 'copyright-bar__social-follow')
