@use 'sass:map';
@use '../colors' as colors;
@use '../text-setting' as fonts;

.bullet-list {
  width: 18.25rem
}

.bullet-list__label {
  margin-bottom: 1.250rem;
}

.bullet-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0.625rem;
}

.bullet-list__ellipse {
  width: 0.652rem;
  height: 0.625rem;

  background-color: map.get(colors.$map, dark-shade-25);
  border-radius: 50%;
}

.bullet-list__text {
  width: 100%;
  margin-left: 0.652rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: map.get(colors.$map, dark-shade-75);
}