mixin checkbox(args={name:"", value: "", text:""})
    - var {name, value, text, size} = args
    label.checkbox
        input.checkbox__input(type="checkbox" name=name value=value)
        .checkbox__text&attributes(attributes)= text
        if block
            block