mixin checkbox(args = {})
  - const { name, checked, text } = args
  label.checkbox&attributes(attributes)
    input(
      class=`checkbox__input`,
      type='checkbox',
      name=name,
      checked=(checked === true) ? "checked" : undefined,
    )
    .checkbox__container
      if block
        block
