mixin checkbox(args = {})
  - const { name, value, text } = args
  label.checkbox
    input.checkbox__input(type='checkbox' name=name value=value)
    .checkbox__text&attributes(attributes)= text
    if block
      block
