@use 'sass:map';
@use '../../styles/colors' as colors;
@use '../../styles/text-mixins' as fonts;

.checkbox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.checkbox__text {
    position: relative;

    box-sizing: border-box;
    height: 1.125rem;
    margin-left: 15px;

    color: map.get(colors.$map, dark-shade-50);
    @include fonts.Montserrat-normal;
    font-size: 0.875rem;
    line-height: 1.125rem;

    &::before {
        content: "";

        position: absolute;
        z-index: 1;
        left: -30px;
        top: -1px;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
       
        background-color: #FFFFFF;
        border: 1px solid map.get(colors.$map, dark-shade-25);
        border-radius: 4px;
    }
}

.checkbox__input {
    margin: 2.6px 1.1px;
}

.checkbox__input:checked + .checkbox__text::before {
    border: 1px solid map.get(colors.$map, "purple");
    background: url(./Check.svg);
    background: {
        color:#FFFFFF;
        repeat: no-repeat;
        position: 4.05px 3.05px;
        size: auto auto;
    }
}