.checkbox {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  min-height: 1.25rem;
}

.checkbox__container {
  position: relative;

  box-sizing: border-box;
  padding-top: 1.1px;
  margin-left: 15px;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    left: -30px;
    top: 0;

    box-sizing: border-box;
    width: 20px;
    height: 20px;

    background-color: #FFFFFF;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
  }
}

.checkbox__input {
  margin: 2.6px 1.1px;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .checkbox__container::before,
  &:hover + .checkbox__container::before {
    border-color: $dark-shade-50;
  }

  &:checked + .checkbox__container::before {
    border: 1px solid $purple;
    background: url(./Check.svg);
    background: {
      color:#FFFFFF;
      repeat: no-repeat;
      position: 4.05px 3.05px;
      size: auto auto;
    }
  }

  &:checked:focus + .checkbox__container::before,
  &:checked:hover + .checkbox__container::before {
    border-color: $purple-darken-10;
  }
}
