mixin icon-item(args = {})
  - const { name, headline, descr } = args
  .icon-item
    +icon({ name })(class='icon-item__icon')
    .icon-item__info
      .icon-item__headline= headline
      .icon-item__description= descr
