.icon-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  width: 17.5rem;
  padding: 1.25rem 0;

  border-bottom: 1px solid dark-shade(0.10);
}

.icon-item__icon {
  display: flex;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;

  background: linear-gradient(180deg, $purple 0%, $malibu 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 3rem;
  line-height: 2.5625rem;
}

.icon-item__info {
  margin-left: 0.652rem;
}

.icon-item__headline {
  @include Montserrat-bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark-shade-75;
}

.icon-item__description {
  @include p-text(0.875rem, 1.5rem);
}
