mixin icon-item(args={icon:"location_city", headline:"", text:""})
    - var {icon, headline, text} = args
    .icon-item
        +icon(icon).icon-item__icon
        .icon-item__text #[b #{headline}]<br>#{text}