@use 'sass:color';

.calendar {
  position: absolute;

  width: clamp(270px, 100%, 320px);
  margin-top: 5.56px;
  padding: clamp(9px, segment(270px, 320px, 9px, 19px), 19px);

  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $dark-shade-05;
}

.calendar_hidden {
  display: none;
}

.calendar__head {
  margin-bottom: 1.875em;
}

.calendar__title {
  height: 1.263em;

  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1875rem;
  line-height: 1.263;
  text-align: center;
  color: $dark-shade-100;
}

%calendar__button-arrow {
  height: 1;

  cursor: pointer;

  color: $purple;

  @include non-selectable;
}

.calendar__button-backward {
  float: left;

  @extend %calendar__button-arrow;
}

.calendar__button-forward {
  float: right;

  @extend %calendar__button-arrow;
}

.calendar__table {
  width: 280px;

  border-collapse: collapse;

  text-align: center;
  vertical-align: middle;
}

.calendar__table-th {
  width: 40px;
  padding: 0;

  cursor: default;

  @include h3-text;
  text-transform: none;
  color: $purple;
}

.calendar__table-row {
  height: 40px;
  padding: 0;
}

.calendar__table-row_hidden {
  display: none;
}

.calendar__table-cell {
  width: 40px;
  padding: 0;

  @include p-text(0.75rem, 1.25);
  color: $dark-shade-25;
}

.calendar__table-cell_recent {
  cursor: pointer;

  color: $dark-shade-50;
}

.calendar__table-cell_today {
  position: relative;

  @include Montserrat-bold;
  color: white;

  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 40px;
    height: 40px;

    border-radius: 22px;
    background: linear-gradient(180deg, $green, $turquoise-blue);
  }
}

.calendar__table-cell_arrival {
  position: relative;

  border-radius: 22px 0 0 22px;
  background: transparent;

  @include Montserrat-bold;
  color: white;

  &::after {
    content: '';

    position: absolute;
    top: 0px;
    left: 0px;

    width: 40px;
    height: 40px;

    border-radius: 22px;
    background: linear-gradient(180deg, $purple, $malibu);
  }
}

.calendar__table-cell_departure {
  position: relative;

  border-radius: 0 22px 22px 0;
  background: transparent;

  @include Montserrat-bold;
  color: white;

  &::after {
    content: '';

    position: absolute;
    top: 0px;
    left: 0px;

    width: 40px;
    height: 40px;

    border-radius: 22px;
    background: linear-gradient(180deg, $purple, $malibu);
  }
}

.calendar__table-cell_filled {
  background: linear-gradient(180deg, color.change($purple, $alpha: 0.25), color.change($malibu, $alpha: 0.25));
}

.calendar__buttons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;

  @include clearfix;
}

.calendar__button-clear {
  float: left;

  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 1px #FFFFFF,
                0 0 2px 2px dark-shade(0.15);
  }

  &::-moz-selection {
    background: transparent;
  }

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}

.calendar__button-clear_hidden {
  visibility: hidden;
}

.calendar__button-apply {
  float: right;

  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 1px #FFFFFF,
                0 0 2px 2px dark-shade(0.15);
  }

  &::-moz-selection {
    background: transparent;
  }

  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}
