@use 'sass:color';

@mixin custom-focus {
  &:focus {
    outline: none;
    box-shadow: inset 0 0 2px 2px dark-shade(0.25);
  }
}

.calendar {
  width: clamp(270px, 100%, 320px);
  padding: clamp(12.5px, segment(270px, 320px, 12.5px, 19px), 19px);
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $dark-shade-05;
}

.calendar_hidden {
  display: none;
}

.calendar__head {
  margin-bottom: 1.875em;
}

.calendar__title {
  height: 1.263em;

  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1875em;
  line-height: 1.263;
  text-align: center;
  color: $dark-shade-100;
}

%calendar__button-arrow {
  height: 1;
  cursor: pointer;

  color: $purple;

  @include non-selectable;
  @include custom-focus;
}

.calendar__button-backward {
  @extend %calendar__button-arrow;
  float: left;
}

.calendar__button-forward {
  @extend %calendar__button-arrow;
  float: right;
}

.calendar__container {
  position: relative;
  width: max(245px, 100%);
  overflow: hidden;
}

.calendar__sheet {
  transition: all 500ms ease;
}

.calendar__table {
  position: relative;
  z-index: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: transparent;
}

.calendar__tr {
  padding: 0;
}

.calendar__tr_hidden {
  display: none;
}

%calendar__table-cell {
  position: relative;
  padding: 0;
  cursor: default;
  outline: none;

  text-align: center;

  &::after {
    width: 100%;
    @include square-ratio;
  }

  &:focus::after {
    width: 100%;
    outline: none;
    box-shadow: inset 0 0 2px 2px dark-shade(0.25);
  }
}

.calendar__th {
  @extend %calendar__table-cell;

  @include h3-text;
  text-transform: none;
  color: $purple;
}

.calendar__td {
  @extend %calendar__table-cell;

  @include p-text(0.75rem, 1.25);
  color: $dark-shade-25;
}

.calendar__td-content,
.calendar__th-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.calendar__td_current {
  cursor: pointer;

  color: $dark-shade-50;
}

%calendar__td_special-date {
  position: relative;

  @include Montserrat-bold;
  color: white;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.calendar__td_today {
  @extend %calendar__td_special-date;

  &::before {
    background: linear-gradient(180deg, $green, $turquoise-blue);
  }
}

.calendar__td_arrival {
  @extend %calendar__td_special-date;
  border-radius: 50% 0 0 50%;

  &::before {
    background: linear-gradient(180deg, $purple, $malibu);
  }
}

.calendar__td_departure {
  @extend %calendar__td_special-date;
  border-radius: 0 50% 50% 0;

  &::before {
    background: linear-gradient(180deg, $purple, $malibu);
  }
}

.calendar__td_filled {
  background: linear-gradient(180deg, color.change($purple, $alpha: 0.25), color.change($malibu, $alpha: 0.25));
}

.calendar__buttons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;

  @include clearfix;
}

%calendar__button {
  @include non-selectable;
  @include custom-focus;
}

.calendar__button-clear {
  @extend %calendar__button;
  float: left;
}

.calendar__button-clear_hidden {
  visibility: hidden;
}

.calendar__button-apply {
  @extend %calendar__button;
  float: right;
}
