.checkbox {
  display: flex;
  flex-wrap: nowrap;
  min-height: 1.25em;
}

.checkbox__input {
  margin: 2.6px 1.1px;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus + .checkbox__container::before,
  &:hover + .checkbox__container::before {
    border-color: $dark-shade-50;
  }

  &:checked + .checkbox__container::before {
    border: 1px solid $primary;
    background: url(./Check.svg);
    background: {
      color:#FFFFFF;
      repeat: no-repeat;
      position: 4.05px 3.05px;
      size: auto auto;
    }
  }

  &:checked:focus + .checkbox__container::before,
  &:checked:hover + .checkbox__container::before {
    border-color: $primary-darken-10;
  }
}

.checkbox__container {
  position: relative;
  margin-left: 14.5px;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -30px;
    top: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
  }
}

.checkbox__container_rich {
  padding-top: 1.5px;
  margin-bottom: -1.5px;
}

.checkbox__text {
  @include p-text($height: 1.286, $color: $dark-shade-50);
  white-space: pre-wrap;
}

.checkbox__text_rich {
  vertical-align: top;

  @include Montserrat-bold;
  color: $dark-shade-75;
}

.checkbox__subtext {
  display: inline-block;
  padding-top: 5px;

  @include p-text(0.75em, $height: 1.167, $color: $dark-shade-50);
  white-space: pre-wrap;
}
