.link {
  position: relative;

  display: inline-block;

  @include Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  white-space: nowrap;
  color: $dark-shade-50;

  transition: opacity 300ms ease;

  &::after {
    content: attr(data-text);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;

    @include Montserrat-bold;
    color: $dark-shade-75;
  }

  &:focus {
    outline: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: transparent;

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}
