@import "color-map.scss";
@import "fonts.scss";
@import "text-sample.scss";

@mixin block-for-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

@each $class-name, $color-hex in $colors {
    .#{$class-name}-sample {
        background-color: $color-hex;
        @include block-for-color();
    }
}

.box-for-sample {
    padding: 0;
    font: {
        family: Quicksand, sans-serif;
        size: 19px;
        weight: normal;
    }
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 269.26px; 
    color: map-get($colors, 'dark-shade-100')
}

.box-for-sample__sample {
    display: flex;
    margin-bottom: 20px;
}

.color-sample-text {
    margin: auto 0px auto 40px;
    min-width: 160px;
}

.box-for-text {
    padding: 0;
    position: relative;
    width: 336px;
}

.box-for-text__label {
    position: absolute;
    padding: 0;
    text-align: right;
    left: -67px;
    width: 37px;
}

.box-for-text__sample {
    padding: 0;
    margin: 0px 0px 50px 0px;
    text-align: left;
}

.color-and-types-template {
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 1440px;
    height: 900px;
}

.color-and-types-template__logo {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 30px;
    left: 30px;
}

.color-and-types-template__box-for-sample  {
    padding: 0px;
    position: absolute;
    top: 145px;
    left: 150px;
}

.color-and-types-template__box-for-text  {
    padding: 0px;
    position: absolute;
    top: 145px;
    right: 191px;
}