.text-h1 {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: map-get($colors, 'dark-shade-100')
};
.text-h2 {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: map-get($colors, 'dark-shade-100');
};
.text-h3 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        text-transform: uppercase;
        color: map-get($colors, 'dark-shade-100');
};
.text-regular {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px; 
        line-height: 24px;
        /* or 171% */
        color: map-get($colors, 'dark-shade-75');
}

.text-h1-label {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: map-get($colors, 'dark-shade-25');  
}

.text-h2-label {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        color: map-get($colors, 'dark-shade-25'); 
}

.text-h3-label {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: map-get($colors, 'dark-shade-25');
}

.text-regular-label {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px; 
        line-height: 24px;
        color: map-get($colors, 'dark-shade-25');
}