@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;

.date-picker {
    display: flex;
    width: 20rem;
}

.date-picker__label-box {
    box-sizing: border-box;
    width: 9.375rem;
}

.date-picker__stub {
    width: 1.25rem;
    height: 1.25rem;
    align-self: flex-end;
}

.date-picker__departure,
.date-picker__arrival {
    position: relative;
    width: 9.375rem;
}

.date-picker__icon-expand {
    position: absolute;
    right: 0;
    bottom: 0.5625rem;
    box-sizing: border-box;
    width: 2.75rem;
    height: 1.5rem;
    text-align: center;
    color: map.get(colors.$map, 'dark-shade-50');

    &::selection {
        background: transparent;
    }

    &::-moz-selection {
        background: transparent;
    }

    &:hover {
        cursor: pointer;
    }
}

.date-picker__icon-expand_shaded {
    color: map.get(colors.$map, 'dark-shade-75');
}