.bullet-list {
  @include cancel-list-style;

  & > * + * {
    margin-top: 10px;
  }
}

.bullet-list__marker {
  display: inline-block;
  vertical-align: top;
  width: 11.25px;
  height: 10px;
  background-color: $dark-shade-25;
  border-radius: 50%;
}

.bullet-list__item-wrapper {
  display: inline-block;
  margin-left: 10px;

  line-height: 1.5;
}

.bullet-list__item {
  vertical-align: top;

  @include p-text(0.875em, 1.357, $dark-shade-75);
  white-space: pre-wrap;
}
