.card-room-selection
  .card-room-selection__widget-h1 Найдём номера под ваши пожелания
  +date-picker
  +input-dropdown(true)(class="card-room-selection__indent-big")
  +button-custom("long", "Подобрать номер", "button-submit")(class="card-room-selection__button")
