mixin input-text(args = {})
  - const { name, placeholder, value } = args
  input(
    class = 'input-text',
    type = 'text',
    name = name,
    placeholder = placeholder,
    value = value,
  )&attributes(attributes)
