.input-text {
  width: 100%;
  height: 3.143em;
  padding-left: 1em;

  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  @include p-text;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus,
  &:active { 
    border-color: $dark-shade-50;
  }

  &:-ms-input-placeholder {
    color: $dark-shade-25;
  }
  
  &::-webkit-input-placeholder {
    color: $dark-shade-25;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $dark-shade-25;
  }

  &::placeholder {
    color: $dark-shade-25;
  }
}

.input-text_hover {
  outline: none;
  border-color: $dark-shade-50;
}
