mixin input-text(args)
    - var args = args || 0
    - var {name, placeholder, value} = args
    input(class='input-text' type='text' name=name placeholder=placeholder value=value)&attributes(attributes)