mixin header(args = {})
  - let { navbarItems } = args
  .header&attributes(attributes)
    .header__wrapper
      .header__logo
        +logo('small', true, true)(class='js-auto-init')
      +navbar({ isLoggedIn: false, navbarItems })(class = 'header__navbar')