mixin header(args = {})
  - let { navbarItems } = args
  .header&attributes(attributes)
    .header__wrapper
      a(class = 'header__logo', target = '_self', href = '/')
        +logo('small', true, true)(class='js-auto-init')
      +hamburger({ isLoggedIn: false, navbarItems })(class = 'header__hamburger')
      //- +navbar({ isLoggedIn: false, navbarItems })(class = 'header__navbar')
