mixin header(args = {})
  - let { navbarItems } = args
  header.header&attributes(attributes)
    .header__wrapper
      a(class = 'header__logo', target = '_self', href = '/')
        +logo({ size: 'small', isColored: true, isSigned: true })(class='js-auto-init')
      +navbar({ isLoggedIn: false, navbarItems })(class = 'header__navbar')
      +hamburger({ isLoggedIn: false, navbarItems })(class = 'header__hamburger')
