.header {
  height: 70px;
  padding: 0 9.725%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  padding: 15px 10px;
  height: 70px;
}

.header__hamburger {
  display: none;
}

@media only screen and (max-width: 1152px) {
  .header {
    padding: 0 2.5%;
  }
}

@media only screen and (max-width: 960px) {
  .header__navbar {
    display: none;
  }

  .header__hamburger {
    display: block;
  }
}

@media only screen and (max-width: 320px)  {
  .header {
    padding: 0;
  }
}
