section.card-sign-up
  form(action = '')
    h1.card-sign-up__heading Регистрация аккаунта
    +input-text({ name: 'first-name', placeholder: 'Имя' }).card-sign-up__small_indent
    +input-text({ name: 'last-name', placeholder: 'Фамилия' }).card-sign-up__small_indent
    .card-sign-up__radio-buttons.card-sign-up__mid_indent
      +radio-button({ name: 'gender', value: 'male', checked: true, text: 'Мужчина' })
      .card-sign-up__plug
      +radio-button({ name: 'gender', value: 'female', text: 'Женщина' })
    .card-sign-up__mid_indent
      +label('Дата рождения').card-sign-up__label
        +input-date({ name: 'birth-date' })
    .card-sign-up__small_indent
      +label('Данные для входа в сервис').card-sign-up__label
        +input-text({ name: 'user-email', placeholder: 'Email' }).card-sign-up__small_indent
        +input-text({ name: 'user-password', placeholder: 'Пароль' })
    .card-sign-up__mid_indent
      +toggle({ name: 'spec', value: 'first', checked: false, text: 'Получать спецпредложения' })
    .card-sign-up__big_indent
      +button-long({ name: 'button-sing-up', text: 'ЗАРЕГИСТРИРОВАТЬСЯ', fill: true, arrowed: true })
    .card-sign-up__sign-in
      p.card-sign-up__text= 'Уже есть аккаунт на Toxin?'
      +button-short({ name: 'button-sing-in', text: 'ВОЙТИ', border: true })
