.card-sign-up {
  
  width: 23.75rem;
  padding: 1.8125rem;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card-sign-up__heading {
  margin: 0.625rem 0 1.25rem;

  @include widget-text;
}

.card-sign-up__radio-buttons {
  display: flex;
  flex-direction: row;
}

.card-sign-up__plug {
  width: 1.25rem;
}

.card-sign-up__small_indent {
  margin-bottom: 0.625rem;
}

.card-sign-up__mid_indent {
  margin-bottom: 1.25rem;
}

.card-sign-up__big_indent {
  margin-bottom: 1.875rem;
}

.card-sign-up__label {
  padding-bottom: 0.3125rem;
}

.card-sign-up__sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-sign-up__text {
  @include body-text;
  color: black;
}
