.footer {
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  background-color: #FFFFFF;
}

.footer__top {
  box-shadow: 0 1px 0 dark-shade(0.10);
}

.footer__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 100px 9.722222%;
}

@media only screen and (max-width: 1280px) {
  .footer__wrapper {
    padding: 100px 4%;
  }
}

@media only screen and (max-width: 1080px) {
  .footer__wrapper {
    flex-wrap: wrap;
    padding: 100px 9.722222%;
  }
}

.footer__info {
  order: 1;
  flex-basis: 260px;
}

@media only screen and (max-width: 1080px) {
  .footer__info {
    flex-basis: 45%;
  }
}

.footer__logo {
  padding-bottom: 20px;
}

.footer__text-wrapper {
  display: inline-block;

  line-height: 1.5rem;
}

.footer__text {
  vertical-align: top;

  @include p-text($height: 1.25);
}

.footer__link-list {
  order: 2;
  flex-basis: 160px;
  flex-shrink: 1;
}

@media only screen and (max-width: 1080px) {
  .footer__link-list {
    padding-top: 40px;
  }
}

.footer__heading {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20.5px;

  @include label-text;
}

.footer__list {
  @include cancel-list-style;

  & > * + * {
    margin-top: 20px;
  }
}

.footer__list-item {
  height: 1.286em;

  @include p-text($height: 1.286);
}

.footer__subscription {
  order: 3;
  flex-basis: 260px;
}

@media only screen and (max-width: 1080px) {
  .footer__subscription {
    order: 1;
    flex-basis: min(45%, 320px);
  }
}

.footer__subscription-text {
  padding-bottom: 20px;
}

.footer__copyright-bar {
  margin-top: 2px;
}
