mixin copyright(args = {})
  -
    const { year = 2018, isWrapNormal = false } = args
    const copyrightClass = ['copyright']
    if (isWrapNormal) copyrightClass.push('copyright_wrap_normal')
    const copyrightText = (year) => `Copyright © ${year} Toxin отель. Все права защищены.`

  span(class=copyrightClass)!= copyrightText(year)
