mixin copyright(args = {})
  -
    const { year = 2018, withСentering = false } = args
    const mod = (withСentering) ? 'copyright_centered' : '';
    const copyrightText = (year) => `Copyright © ${year} Toxin отель.\n Все права защищены.`;

  span(class = `copyright ${mod}`)!= copyrightText(year)
