mixin radio-button-custom(buttonName, buttonValue, buttonLabel)
  label.radio-button-custom
    input.radio-button-custom__input(type="radio" name=buttonName value=buttonValue)
    div.radio-button-custom__label= buttonLabel
