.checkbox-rich__text {
  @include Montserrat-bold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: $dark-shade-75;
}

.checkbox-rich__subtext {
  padding-top: 0.37rem;

  @include Montserrat-normal;
  font-size: 0.75rem; 
  line-height: 0.875rem;
  white-space: pre-wrap;
  color: $dark-shade-50;
}
