mixin subscription-field(args = {})
  .subscription-field
    +input({ isIndented: true, type: 'email', ...args })&attributes(attributes)
    button(class='subscription-field__button', type='submit', tabindex='0')
      +icon({ name: 'arrow_forward' })