mixin subscription-field(args = {})
  .subscription-field&attributes(attributes)
    +input-text(args)(class='subscription-field__input-text', type='email')
    .subscription-field__button
      +icon({ name: 'arrow_forward' })(class='subscription-field__icon', type='submit', role='button')
