.subscription-field {
  position: relative;
  display: flex;
  min-width: 260px;
  max-width: 320px;
  height: 2.75em;

  &:hover  + .subscription-field__button,
  &:focus  + .subscription-field__button,
  &:active + .subscription-field__button {
    border-color: $dark-shade-50;
  }
}

.subscription-field__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75em;
  height: 2.75em;
  border: none;
  border-radius: 0 4px 4px 0;
  background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);

  @supports (-webkit-text-fill-color: transparent) {
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @supports not (-webkit-text-fill-color: transparent) {
    background-clip: content-box;
    padding: calc((2.75em - 1.5em) / 2);
  }

  &:hover {
    cursor: pointer;
  }
}

.subscription-field__icon {
  @supports not (-webkit-text-fill-color: transparent) {
    background-color: #FFFFFF;
    mix-blend-mode: screen;
  }
}
