mixin rate-button(amount=5, filled=0)
    div(data-value=filled).rate-button.js-rate-button
        - let i = 0
        while i < filled
            +icon("star")(data-index=i).rate-button__icon.js-rate-button__icon
            - i += 1
        while filled < amount
            +icon("star_border")(data-index=filled).rate-button__icon.js-rate-button__icon
            - filled += 1
    