mixin rate-button(args = {})
  - const { amount, filled, name } = args
  div(
    class = 'rate-button js-rate-button',
    data-amount = amount,
  )&attributes(attributes)
    input(
      class = 'rate-button__input js-rate-batton__input',
      type = 'number',
      name = name,
      min = 0,
      max = amount,
    )
    - let i = 0
    while i < filled
      +icon({ name: 'star' })(
        data-index = i,
        class = 'rate-button__icon js-rate-button__icon',
      )
      - i += 1
    while i < amount
      +icon({ name: 'star_border' })(
        data-index = i,
        class = 'rate-button__icon js-rate-button__icon',
      )
      - i += 1
