.rate-button {
  display: flex;
  flex-direction: row-reverse;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 1.5rem;
}

.rate-button__input {
  display: none;
}

.rate-button__icon {
  width: 1.5rem;

  background: linear-gradient(180deg, $purple 0%, $malibu 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;

  &:hover,
  &:hover ~ & {
    background: linear-gradient(180deg, $purple-darken-10 0%, $malibu-darken-10 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
