mixin rate-button(amount, filled=0)
    .rate-button.js-rate-button
        - let i = 0
        while i < filled
            +icon("star").rate-button__icon
            - i += 1
        while filled < amount
            +icon("star_border")(class="rate-button__icon")
            - filled += 1
    
    