.dropdown {
  position: relative;
}

.dropdown__label {
  padding-bottom: 5px;
}

.dropdown__input {
  padding-bottom: 2px;
  padding-right: 3.143em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include non-selectable;

  &:hover {
    cursor: pointer;
  }
}

.dropdown__input_angled {
  border-radius: 4px 4px 0 0;
}

.dropdown__input_expanded,
.dropdown__input_fixed {
  border-radius: 4px 4px 0 0;
  border-color: $dark-shade-50;
}

.dropdown__icon {
  position: absolute;
  bottom: 0.5px;
  right: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(2.75em - 2px);
  height: calc(2.75em - 2px);

  color: $dark-shade-50;

  &:hover {
    cursor: pointer;
  }
}

.dropdown__bar {
  position: absolute;
  z-index: 1;

  width: 100%;
  padding-top: 6px;

  border: 1px solid $dark-shade-50;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: white;
}

.dropdown__bar_hidden {
  display: none;
}

.dropdown__bar_fixed {
  display: block;
}

.dropdown__bar_shadow {
  box-shadow: 0px 10px 20px $dark-shade-05;
}

.dropdown__option {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 1.875em;
  padding-left: 0.875em;
  padding-right: 6px;
  padding-bottom: 7px;
}

.dropdown__option-name {
  height: 1.875em;
  padding-top: 6px;

  @include h3-text(0.75em, 1.25);
}

.dropdown__option-button-minus {
  margin-left: auto;
}

.dropdown__option-button {
  position: relative;

  width: 1.667em;
  height: 1.667em;
  padding-top: 5px;

  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  cursor: pointer;

  @include Montserrat-normal;
  font-size: 1.125em;
  line-height: 1;
  text-align: center;
  color: $dark-shade-50;

  @include non-selectable;

  &:focus,
  &:hover {
    outline: none;
    border-color: $dark-shade-50;
  }
}

.dropdown__option-value {
  float: right;

  width: 32px;
  height: 2.5em;
  padding-top: 6px;

  @include h3-text(0.75em, 1.25);
  text-align: center;
}

.dropdown__option-button_faded {
  border-color: dark-shade(0.095);

  color: dark-shade(0.095);

  &:focus,
  &:hover {
    outline: none;
    border-color: dark-shade(0.095);
  }
}

.dropdown__buttons {
  height: 2.5em;
  padding-top: 0.8125em;
  padding-left: 0.8125em;
  padding-right: 6px;

  @include clearfix;
}

.dropdown__button-clear {
  float: left;
  @extend %dropdown__button_focus;
}

.dropdown__button-apply {
  float: right;
  @extend %dropdown__button_focus;
}

.dropdown__button-clear_hidden {
  visibility: hidden;
}

%dropdown__button_focus {
  &:focus {
    box-shadow: 0 0 0 1px #FFFFFF,
                0 0 2px 2px dark-shade(0.15);
  }
}
