mixin card-hotel-room(args = {})
  section.card-hotel-room
    .card-hotel-room__head
      +carousel(args).card-hotel-room__carousel.js-auto-init
    .card-hotel-room__body
      +hotel-room-heading().card-hotel-room__hotel-room-heading
      .card-hotel-room__hr
      .card-hotel-room__rating-panel
        +rate-button({ amount: 5 }).card-hotel-room__rate-button
        .card-hotel-room__reviews #[b.card-hotel-room__rebiew-amount.js-card-hotel-room__rebiew-amount 69] Отзывов
