mixin hotel-room-card(args = {})
  section.hotel-room-card.js-hotel-room-card&attributes(attributes)
    .hotel-room-card__carousel
      +carousel(args)
    .hotel-room-card__body
      .hotel-room-card__hotel-room-heading
        +hotel-room-heading({ hasSmallSize: true })
      .hotel-room-card__hr
      .hotel-room-card__rating-panel
        +rate-button({ amount: 5 })
        span.hotel-room-card__reviews.js-hotel-room-card__review
          b.hotel-room-card__number
          | text
