include ../icon/icon.pug

mixin rate-button
  div.rate-button
    +icon("star")(class="rate-button__icon")
    +icon("star")(class="rate-button__icon")
    +icon("star")(class="rate-button__icon")
    +icon("star")(class="rate-button__icon")
    +icon("star")(class="rate-button__icon")
    