mixin footer__link-list(args = {})
  - const { heading, items } = args
  section.footer__link-list
    h3(class = 'footer__heading')= heading
    ul.footer__list
      each item in items
        li.footer__list-item
          +link(item)(class = 'footer__link')

mixin footer__subscription-form()
  section.footer__subscription-form
    form
      h3.footer__subscription-form-heading Подписка
      p Получайте специальные предложения и новости сервиса
      +subscription-field({ name: 'subscr-field-1st', placeholder: 'Email' })

mixin footer(args = {})
  - const { footerItems } = args
  footer.footer
    .footer__top
      .footer__logo
        +logo('small', true, true)
        span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      each item in footerItems
        +footer__link-list(item)
      +footer__subscription-form()
    +copyright-bar()(class = 'footer__copyright-bar')
