.footer {
  background-color: #FFFFFF;
}

.footer__top {
  height: 23.25rem;
  padding: 6.25rem 9.722%;
  margin-bottom: 1px;

  box-shadow: 0 1px 0 dark-shade(0.10);
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  flex-basis: 16.25rem;
}

.footer__logo {
  padding-bottom: 1.25rem;
}

.footer__p {
  @include p-text;
}

.footer__link-list {
  flex-basis: 10rem;
}

.footer__heading {
  padding-top: 0.25rem;
  border-bottom: 1px solid transparent;

  @include h3-text;
}

.footer__list-item {
  padding-top: 1.25rem;
}

.footer__subscription {
  flex-basis: 16.25rem;
}

.footer__subscription-p {
  padding: 1.25rem 0;
}

.footer-creative {
  display: none;
}

@media only screen and (max-width: 1152px) {
  .footer__top {
    padding: 6.25rem 2.5%;
  }

  .footer__copyright-bar {
    padding: 0 2.5%;
  }
}

@media only screen and (max-width: 960px) {
  .footer__info {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    display: none;
  }

  .footer__copyright-bar {
    display: none;
  }
}
