.toggle {
  display: flex;
  flex-wrap: nowrap;

  @supports (width: fit-content) {
    width: fit-content;
  }

  @supports not (width: fit-content) {
    width: 100%;
    max-width: 270px;
  }
}

.toggle__input {
  margin: 3.6px 13.6px;

  &:checked + .toggle__descr-wrapper {
    &::before {
      border: 1px solid $primary;
    }

    &::after {
      transform: translateX(1.25rem);
      background: linear-gradient(180deg, $primary, $primary-gradient);
    }
  }

  &:focus + .toggle__descr-wrapper::before,
  &:hover + .toggle__descr-wrapper::before {
    border-color: $dark-shade-50;
  }

  &:checked:focus + .toggle__descr-wrapper::before,
  &:checked:hover + .toggle__descr-wrapper::before {
    border: 1px solid $primary-darken-10;
  }
}

.toggle__descr-wrapper {
  position: relative;
  display: inline-block;
  padding-left: 10px;

  line-height: 1.5;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -40px;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 20px;
    background-color: #FFFFFF;

    transition: border-color 0.3s linear;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: -36px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $dark-shade-25;

    transition: transform 0.3s linear;
  }
}

.toggle__descr {
  vertical-align: top;
  margin: 0;

  @include p-text(0.875em, 1.25);
}
