mixin dropdown-facilities(args)
  -
    const addition = {
      hasButtons: false,
      defaultValue: 'Сколько удобств',
      options: [
        { name: 'bedroom', description: 'спальни', value: 0 },
        { name: 'bed', description: 'кровати', value: 0 },
        { name: 'bathroom', description: 'ванные комнаты', value: 0 },
      ],
    }
    const argsAugmented = { ...args, ...addition }

  +dropdown(argsAugmented)(class='js-dropdown-facilities')&attributes(attributes)
