doctype html
html
  include ./logo/logo.pug
  include ./label/label.pug
  include ./text-field/text-field.pug
  include ./icon/icon.pug
  include ./toggle/toggle.pug
  include ./rate-button/rate-button.pug
  include ./radio-button/radio-button.pug
  include ./subscription-text-field/subscription-text-field.pug
  include ./button/button-custom.pug
  include ./dropdown/dropdown.pug
  include ./date-picker/date-picker.pug
  include ./card-hotel-room/card-hotel-room.pug
  include ./card-price-calculator/card-price-calculator.pug
  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cards
  body.cards__body
    .cards__grid
      .cards__first
        include ./card-room-selection/card-room-selection.pug
      .cards__second
        include ./card-sign-on/card-sign-on.pug
      .cards__third
        include ./card-sign-in/card-sign-in.pug
      .cards__forth
        +card-hotel-room(['../src/assets/img/room888-01.jpg', '../src/assets/img/room888-02.jpg', '../src/assets/img/room888-03.jpg'])
      .cards__fifth
        +card-hotel-room([''],487, 9230, 87, false)
      .cards__sixth
        +card-price-calculator