include ./common.blocks/logo/logo.pug
include ./common.blocks/label/label.pug
include ./common.blocks/text-field/text-field.pug
include ./common.blocks/icon/icon.pug
include ./common.blocks/toggle/toggle.pug
include ./common.blocks/rate-button/rate-button.pug
include ./common.blocks/radio-button/radio-button.pug
include ./common.blocks/subscription-text-field/subscription-text-field.pug
include ./common.blocks/button/button-custom.pug
include ./common.blocks/dropdown/dropdown.pug
include ./common.blocks/date-picker/date-picker.pug
include ./common.blocks/card-hotel-room/card-hotel-room.pug
include ./common.blocks/card-price-calculator/card-price-calculator.pug
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cards
  body.cards__body
    .cards__grid
      .cards__first
        include ./card-room-selection/card-room-selection.pug
      .cards__second
        include ./card-sign-on/card-sign-on.pug
      .cards__third
        include ./card-sign-in/card-sign-in.pug
      .cards__forth
        +card-hotel-room(['../src/assets/img/room888-01.jpg', '../src/assets/img/room888-02.jpg', '../src/assets/img/room888-03.jpg'])
      .cards__fifth
        +card-hotel-room([''],487, 9230, 87, false)
      .cards__sixth
        +card-price-calculator