doctype html
html
  head
    meta(charset='UTF-8')
    title Colors Type
- const colorArr = [{className: 'dark-shade-100', textIn: 'Dark Shade 100%', codeIn: '#1F2041'}, {className: 'dark-shade-75', textIn: 'Dark Shade 75%', codeIn: '#1F2041'}, {className: 'dark-shade-50', textIn: 'Dark Shade 50%', codeIn: '#1F2041'}, {className: 'dark-shade-25', textIn: 'Dark Shade 25%', codeIn: '#1F2041'}, {className: 'dark-shade-5',textIn: 'Dark Shade 5%', codeIn: '#1F2041'}, {className: 'purple', textIn: 'Purple', codeIn: '#BC9CFF'}, {className: 'green', textIn: 'Green', codeIn: '#6FCF97'}]
  body.color-and-types-template
    .color-and-types-template__logo
      include ./logo/logo.pug
    .color-and-types-template__box-for-sample
      .box-for-sample
        each val in colorArr
          .box-for-sample__sample
            div(class=val.className+"-sample")
            p.color-sample-text <b>#{val.textIn}</b><br>#{val.codeIn}
    .color-and-types-template__box-for-text        
      .box-for-text
        div(class="text-h1-label box-for-text__label") H1
        div(class="text-h1 box-for-text__sample") This one is the sub-section or widget title
        div(class="text-h2-label box-for-text__label") H2 
        div(class="text-h2 box-for-text__sample") Next one is the item title inside widgets
        div(class="text-h3-label box-for-text__label") H3
        div(class="text-h3 box-for-text__sample" style="margin-bottom: 47px") This is a label or CTA text
        div(class="text-regular-label box-for-text__label") Body
        div(class="text-regular box-for-text__sample") This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.         