doctype html
html
    head
        meta(charset="UTF-8")
        title Form Elements
    body
        include project/common.block/input-text/input-text.pug
        +input-text("TEXT_001", "Email")
        include project/common.block/input-dropdown/input-dropdown.pug
        +input-dropdown