doctype html
html
    head
        meta(charset="UTF-8")
        title Form Elements
    body
        include project/common.block/input-text/input-text.pug
        +input-text("textFirst", "Email")
        br
        include project/common.block/dropdown/dropdown.pug
        +dropdown-guest()
        include project/common.block/checkbox/checkbox-custom.pug
        br
        +checkbox-custom("smoke", "smoke", "Можно курить")
        br
        +checkbox-custom("animal", "animal", "Можно с питомцами")
        br
        +checkbox-custom("paty", "paty", "Можно пригласить гостей (до 10 человек)")