doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Landing page
  body
    .landing
      include ./header/header.pug
      .landing__container-form
        include ./card-room-selection/card-room-selection.pug
      .landing__container
        .landing__container-image-sign Лучшие номера для вашей работы, отдыха и просто вдохновения
      include ./footer/footer.pug


