include ./common.blocks/logo/logo.pug
include ./common.blocks/button-custom/button-custom.pug
include ./common.blocks/text-field/text-field.pug
include ./common.blocks/radio-button/radio-button.pug
include ./common.blocks/label/label.pug
include ./common.blocks/subscription-text-field/subscription-text-field.pug
include ./common.blocks/icon/icon.pug
doctype html
html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Registration
body
    div.registration__container
        include ./common.blocks/header/header.pug
        div.registration__container-form
            include ./common.blocks/card-sign-on/card-sign-on.pug
    include ./common.blocks/footer/footer.pug