doctype html
html
  include ./logo/logo.pug
  include ./label/label.pug
  include ./text-field/text-field.pug
  include ./icon/icon.pug
  include ./subscription-text-field/subscription-text-field.pug
  include ./button/button-custom.pug
  include ./radio-button/radio-button.pug
  include ./toggle/toggle.pug
  include ./dropdown/dropdown.pug
  include ./date-picker/date-picker.pug
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Registration
  body
    div.registration__container
      include ./header/header.pug
      div.registration__container-form
        include ./card-sign-on/card-sign-on.pug
    include ./footer/footer.pug