@use "sass:map";
@use "./project/text-setting.scss" as fonts;
@use "./project/colors.scss" as colors;
@import "./project/fonts.scss";

body {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #E5E5E5;
}

.landing__container {
  position: relative;
  width: 100%;
  height: 56.25rem;

  background: url('./project/assets/img/img_02.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.landing__container-form {
  position: absolute;
  top: 15.556%;
  left: 9.722%;
}

.landing__container-image-sign {
  position: absolute;
  bottom: 2.667%;
  right: 8.611%;

  width: 18.5625rem;
  height: 3rem;
  text-align: right;

  color: map.get(colors.$map, dark-shade-75);
  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.registration__container {
  position: relative;
  width: 100%;
  height: 47.0625rem;
  overflow: hidden;

  background: url('./project/assets/img/registration.png');
  background-repeat: no-repeat;
  background-position: center;  
}

.registration__container-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  margin-top: 19px;
}

@media only screen and (max-width: 1140px) {
  /* --- */
}

@media only screen and (max-width: 768px)  {
  .landing__container-form {
    position: absolute;
    top: 15.556%;
    left: 50%;
    transform: translateX(-50%);
  }
}
