doctype html
html
  include ./project/logo/logo.pug
  include ./project/input/input.pug
  include ./project/dropdown/dropdown.pug
  include ./project/checkbox/checkbox.pug
  include ./project/checkbox-list/checkbox-list.pug
  include ./project/checkbox-rich/checkbox-rich.pug
  include ./project/date-picker/date-picker.pug
  include ./project/range-slider/range-slider.pug
  include ./project/rate-button/rate-button.pug
  include ./project/account-registration/account-registration.pug
  include ./project/hotel-room-search/hotel-room-search.pug
  include ./project/header/header.pug
  head
    meta(charset="UTF-8")
    title Testing ground
  body(style="background-color: lightgrey; padding: 0; margin: 0;")
    +range-slider
    +date-picker
    +input-text(320, "text field", "default", "textField", "Email")
    +input-text(320, "text field", "hover / focus", "textFieldHover", "Text")
    +input-dropdown(true)
    +input-dropdown(false)
    +checkbox("first", "smoke", "Можно курить")
    +checkbox("second", "animal", "Можно с животными")
    +checkbox("third", "guest", "Можно пригласить гостей")
    +checkbox-list("expandable checkbox list")
      +checkbox("che_001", "che", "Завтрак", "input_266px_bottom")
      +checkbox("che_002", "che", "Письменный стол")
      +checkbox("che_003", "che", "Стул для кормления")
      +checkbox("che_004", "che", "Кроватка")
      +checkbox("che_005", "che", "Телевизор")
      +checkbox("che_006", "che", "Шампунь")
      +input-text(160, "test field", "default", "textField", "Test")
    +checkbox-rich("che_001", "che", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
    +checkbox-rich("che_002", "che", "Помошник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")
    +rate-button
    +account-registration
    div(style="height: 100px; width: 10px")
    +hotel-room-search
    +button-custom("", "Click on", "button-01")
    br
    +button-custom("fill", "Click on", "button-02")
    br
    +button-custom("border", "Click on", "button-03")
    include ./project/header/header.pug
    div(style="height: 250px;")
    include ./project/footer/footer.pug
    div(style="height: 250px;")