include ./common.blocks/text-field/text-field.pug
doctype html
html
head
    meta(charset="UTF-8")
    title Testing ground
body(style="background-color: #E5E5E5; padding: 0; margin: 0;")
    include ./common.blocks/text-fielqd/text-field.pug
    include ./common.blocks/text-field/text-field.pug
        include ./common.blocks/text-fiweld/text-field.pug
    +text-field("textFieldName", "ДД.ММ.ГГГГ")