doctype html
html
  include ./project/common.block/input/input.pug
  include ./project/common.block/dropdown/dropdown.pug
  include ./project/common.block/checkbox/checkbox.pug
  include ./project/common.block/checkbox-list/checkbox-list.pug
  include ./project/common.block/checkbox-rich/checkbox-rich.pug
  head
    meta(charset="UTF-8")
    title Testing ground
  body
    +input-text(320, "text field", "default", "textField", "Email")
    +input-text(320, "text field", "hover / focus", "textFieldHover", "Text")
    +input-dropdown(true)
    +input-dropdown(false)
    +checkbox("first", "smoke", "Можно курить")
    +checkbox("second", "animal", "Можно с животными")
    +checkbox("third", "guest", "Можно пригласить гостей")
    +checkbox-list("expandable checkbox list")
      +checkbox("che_001", "che", "Завтрак", "input_266px_bottom")
      +checkbox("che_002", "che", "Письменный стол")
      +checkbox("che_003", "che", "Стул для кормления")
      +checkbox("che_004", "che", "Кроватка")
      +checkbox("che_005", "che", "Телевизор")
      +checkbox("che_006", "che", "Шампунь")
      +input-text(160, "test field", "default", "textField", "Test")
    +checkbox-rich("che_001", "che", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
    +checkbox-rich("che_002", "che", "Помошник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")