doctype html
html
  include ./project/common.block/input/input.pug
  head
    meta(charset="UTF-8")
    title Testing ground
  body
    +input(320, "text field", "default", "textField", "Email", isMasked)
    +input(320, "text field", "hover / focus", "textFieldHover", "Text", isMasked)
    +input(160, "", "", "Masked", "Masked", true, false)