include ./common.blocks/rate-button/rate-button.pug
include ./common.blocks/icon/icon.pug
include ./common.blocks/text-field/text-field.pug
doctype html
html
    head
        meta(charset="UTF-8")
        title Testing ground
    body(style="background-color: #E5E5E5; padding: 0; margin: 0;")
        +text-field("textFieldName", "ДД.ММ.ГГГГ")
        +rate-button(10)