mixin button-short(args)
  - const { name, text, type = 'button', isFilled = true, isBordered = false } = args
  +button({ name, text, type, isFilled, isBordered, isShort: true })&attributes(attributes)
