include ../label/label.pug

mixin range-slider
  div.input_266px
    +label("range slider", "5000ла - 10000ла")
      div.range-slider
        div.range-slider__track 
        div.range-slider__left-slider
        div.range-slider__plug
        div.range-slider__right-slider