mixin text-field(args = {}, attr = {})
  - const { name, placeholder, left, right } = args
  .text-field&attributes(attributes)
    +label(left, right).text-field__label
      +input-text({ name, placeholder })&attributes(attr)
