@use 'sass:map';
@use '../../styles/text-mixins' as fonts;

.icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.icon_font_material {
  @include fonts.material-icons;
} 

.icon_font_awesome {
  @include fonts.font-awesome-icons;
}
