@use "sass:map";
@use "sass:color";
@use "../colors" as colors;
@use "../text-setting" as fonts;

.footer {
  justify-content: center;
  width: 48rem;
  height: 10rem;
  padding: 0 9.722%;
  box-shadow: none;
}

.footer__logo {
  flex-basis: none;
  margin-top: 7.5rem;

  & > div {
    margin-bottom: 0;
  }

  & span {
    display: none;
  }
}

.footer__list {
  display: none;
}

.footer__subscribe {
  display: none;
}

.copyright-bar {
  width: 48rem;
  height: 14.188rem;
  margin-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-bar__copyright {
  float: none;
  height: 1.125rem;
  margin-top: 1.25rem;

  line-height: 1.125rem;
}

.copyright-bar__widgets {
  float: none;

  justify-content: space-evenly;

  width: 10.75rem;
  height: 1.5rem;
  margin-top: 1.25rem;
  
  & a {
    margin-left: 0;
  }
}
