.link {
  position: relative;
  display: inline-block;

  @include p-text($color: $dark-shade-50);
  white-space: nowrap;

  transition: opacity 300ms ease;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;

    @include Montserrat-bold;
    color: $dark-shade-75;
  }

  &:focus {
    outline: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: transparent;

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
  }
}
