.link {
  display: inline-block;
  height: 100%;

  &:active {
    outline: none;
  }

  &:hover  > .link__text,
  &:focus  > .link__text,
  &:active > .link__text {
    color: transparent;

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
  }

  &::before {
    @include vertical-align-centering;
  }
}

.link_with_left-padding {
  padding-left: 10px;
}

.link_with_right-padding {
  padding-right: 10px;
}

.link__text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-right: 0.5px;

  @include p-text($color: $dark-shade-50);
  white-space: nowrap;

  transition: opacity 300ms ease;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;

    @include Montserrat-bold;
    color: $dark-shade-75;
  }
}
