@use 'sass:map';
@use '../../styles/colors.scss' as colors;
@use '../../styles/text-mixins.scss' as fonts;

.label {
  width: 100%;
  padding-bottom: 5px;
}

.label__clearfix {
  &::after {
    content: '';
    clear: both;

    display: table;
  }
}

.label__left-mark {
  float: left;
  height: 0.9375rem;

  @include fonts.label-text(0.75rem);
  text-align: left;
}

.label__right-mark {
  float: right;
  height: 0.9375rem;

  @include fonts.regular-label-text(0.75rem);
  text-align: right;
}
