.main {
  padding-top: 70px;
}

.illustrations {
  position: relative;
  padding-bottom: 33.6805555%;
}

@media screen and (max-width: 1080px) {
  .illustrations {
    padding-bottom: 77%;
  }
}

@media screen and (max-width: 425px) {
  .illustrations {
    padding-bottom: 154%;
  }
}

.illustrations__grid {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 68.125% 31.875%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'main second'
    'main third ';
  overflow: hidden;
  background-color: #525252;
}

@media screen and (max-width: 1080px) {
  .illustrations__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      'main   main '
      'second third';
  }
}

@media screen and (max-width: 425px) {
  .illustrations__grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'main  '
      'second'
      'third ';
  }
}

.illustrations__main {
  grid-area: main;
  background-image: url(~assets/img/room888-details-1440w.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.illustrations__second {
  grid-area: second;
  background-image: url(~assets/img/room888-details2-1024w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.illustrations__third {
  grid-area: third;
  background-image: url(~assets/img/room888-details3-918w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.details {
  display: grid;
  width: 80.555555%;
  margin: 0 auto;
  padding: 70px 0;
  grid-template-columns: minmax(270px, 291px) auto minmax(300px, 380px);
  column-gap: 70px;
  row-gap: 30px;
  grid-template-areas:
    'info    diagram  invoice'
    'reviews reviews  invoice'
    'rules   cancel   invoice';
}

@media screen and (min-width: 1600px) {
  .details {
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-areas:
      'diagram reviews reviews  invoice'
      'info    rules   cancel   invoice';
  }
}

@media screen and (max-width: 1280px) {
  .details {
    width: 90%;
    column-gap: 35px;
  }
}

@media screen and (max-width: 1024px) {
  .details {
    width: 80.555556%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'info     invoice'
      'diagram  invoice'
      'reviews  reviews'
      'rules    cancel ';
  }
}

@media screen and (max-width: 768px) {
  .details {
    padding: 35px 0;
    grid-template-areas:
      'invoice invoice'
      'info    diagram'
      'reviews reviews'
      'rules   cancel ';
  }
}

@media screen and (max-width: 662px) {
  .details {
    width: calc(100% - 20px);
    grid-template-columns: auto;
    grid-template-areas:
      'invoice'
      'info   '
      'diagram'
      'reviews'
      'rules  '
      'cancel ';
  }
}

.details__info {
  grid-area: info;
}

.details__text-wrapper {
  margin: 0;
  line-height: 1.5em;
}

.details__text {
  vertical-align: top;

  @include p-text($height: 1.5);
}

.details__diagram {
  grid-area: diagram;
}

.details__reviews {
  grid-area: reviews;
}

.details__rules {
  grid-area: rules;
}

.details__heading-wrapper {
  margin-left: 21px;
}

.details__cancel-terms {
  grid-area: cancel;
  max-width: 341px;
}

.details__invoce {
  grid-area: invoice;
}

@media screen and (max-width: 1024px) {
  .details__invoce {
    justify-self: center;
  }
}
