include ../../components/favicon/favicon.pug
include ../../components/layout/layout.pug
include ../../components/logo/logo.pug
include ../../components/button/button.pug
include ../../components/pseudo-button/pseudo-button.pug
include ../../components/user-bar/user-bar.pug
include ../../components/link/link.pug
include ../../components/icon/icon.pug
include ../../components/navbar/navbar.pug
include ../../components/hamburger/hamburger.pug
include ../../components/header/header.pug
include ../../components/heading/heading.pug
include ../../components/icon-item/icon-item.pug
include ../../components/icon-item-list/icon-item-list.pug
include ../../components/diagram/diagram.pug
include ../../components/like-button/like-button.pug
include ../../components/comment/comment.pug
include ../../components/reviews/reviews.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/field/field.pug
include ../../components/fieldset/fieldset.pug
include ../../components/frame/frame.pug
include ../../components/hotel-room-heading/hotel-room-heading.pug
include ../../components/label/label.pug
include ../../components/input/input.pug
include ../../components/input-date/input-date.pug
include ../../components/carousel/carousel.pug
include ../../components/calendar/calendar.pug
include ../../components/dropdown-date/dropdown-date.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/button-long/button-long.pug
include ../../components/invoice-card/invoice-card.pug
include ../../components/copyright/copyright.pug
include ../../components/social-follow/social-follow.pug
include ../../components/copyright-bar/copyright-bar.pug
include ../../components/subscription-field/subscription-field.pug
include ../../components/footer/footer.pug
include ../../components/footer-creative/footer-creative.pug
- const data = htmlWebpackPlugin.options.data
- const { pageTitle, comments, iconItems, bulletListItems, cancelTerms } = data

+layout
  +layout__block('head')
    title= pageTitle

  +layout__block('header')
    +header

  +layout__block('content')
    main.main
      section.illustrations
        img
        img
        img
      .details
        section.details__info
          +heading({ type: 'widget', text: 'сведения о номере' })
          +icon-item-list(iconItems)
        section.details__diagram
          +heading({ type: 'widget', text: 'впечатления от номера' })
            //+diagram()
        section.details__reviews
          +reviews(comments)
        section.details__rules
          .details__heading-wrapper
            +heading({ type: 'widget', text: 'правила' })
          +bullet-list(bulletListItems)
        section.details-cancel-terms
          +heading({ type: 'widget', text: 'отмена' })
          p.details__text-wrapper
            span.details__text= cancelTerms
        .details__invoce
          +invoice-card

  +layout__block('footer')
    include ../../components/line/line.pug
    +footer

  +layout__block('footer-creative')
    include ../../components/line/line.pug
    +footer-creative