.hotel-room-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hotel-room-heading__numero {
  display: inline-block;

  @include Montserrat-bold;
  color: $dark-shade-100;
  font-size: 0.875em;
  line-height: normal;
}

.hotel-room-heading__number {
  display: inline-block;
  height: 1.25em;

  font-size: 1.7143em;
}

.hotel-room-heading__number_size_small {
  height: 1.2632em;

  font-size: 1.3572em;
}

.hotel-room-heading__lux {
  position: relative;
  top: 0.5px;
  right: -8px;
  transform: translateX(100%);

  font-size: 0.857em;
  text-transform: uppercase;
  color: $primary;
}

.hotel-room-heading__lux_hidden {
  visibility: hidden;
}

.hotel-room-heading__price-per-day {
  @include label-appendix($height: 1.5);
  text-transform: none;
}

.hotel-room-heading__price {
  @include Montserrat-bold;
  font-size: 1.167em;
}
