.hotel-room-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hotel-room-heading__left {
  @include Montserrat-bold;
  color: $dark-shade-100;
}

.hotel-room-heading__numero {
  font-size: 0.875em;
}

.hotel-room-heading__number {
  position: relative;

  font-size: 1.5em;
}

.hotel-room-heading__number_lux {
  &::after {
    content: 'люкс';
    right: -2.5625em;
    bottom: 0.4375em;

    font-size: 0.75rem;
    text-transform: uppercase;
    color: $primary;
  }
}

.hotel-room-heading__right {
  @include Montserrat-normal;
  color: $dark-shade-50;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.hotel-room-heading__price {
  @include Montserrat-bold;
  font-size: 0.875rem;
}
