mixin date-dropdown(inputName="dropdownDate", inputValue="", labelLeft="date dropdown")
  div.date-dropdown
    label
      div.date-dropdown__label
        span.date-dropdown__label-left #{labelLeft}
      div.date-dropdown__input
        input.date-dropdown__input-text(type="date" name=inputName)