section.card-room-search
  form(action = '')
    h1.card-room-search__heading Найдём номера под ваши пожелания
    .box_margin-bottom_20px
      +dropdown-date({ name: 'dropdown-date-1st', left: 'ПРИБЫТИЕ', right: 'ВЫЕЗД' })(
        class='js-auto-init',
      )
    .box_margin-bottom_30px
      +dropdown-guests('dropdown-guests-1st', 'ГОСТИ')(
        class='js-auto-init',
      )
    +button-long({ name: 'button-long-1st', text: 'ПОДОБРАТЬ НОМЕР', fill: true, arrowed: true })(
      type = 'submit',
    )
