.social-follow {
  width: fit-content;
}

.social-follow__icons {
  width: fit-content;
}

.social-follow__link {
  width: fit-content;
}

.social-follow__icon {
  // width: 1.5rem;
  // height: 1.5rem;

  text-align: center;

  background: linear-gradient(180deg, $purple 0%, $malibu 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.copyright-bar__widgets {
  float: right;

  display: flex;
  align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 4.375rem;
}
