.social-follow {
  width: fit-content;
}

.social-follow__icon-list {
  display: flex;
}

.social-follow__icon {
  width: 1.5rem;

  text-align: center;

  background: linear-gradient(180deg, $purple 0%, $malibu 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.social-follow__gap {
  padding-right: 1.25rem;
}
