section.card-invoice
  form(action = '#').js-card-invoice__form
    +hotel-room-heading().card-invoice__hotel-room-heading
    .card-invoice__mid-indent
      +dropdown-date({ name: 'dropdown-date-1st', left: 'ПРИБЫТИЕ', right: 'ВЫЕЗД' })(
        class = 'card-invoice__dropdown-date js-card-invoice__dropdown-date',
      )
    .card-invoice__mid-indent
      +dropdown-guests('dropdown-guests-1st', 'ГОСТИ')(
        class = 'card-invoice__dropdown-guests js-card-invoice__dropdown-guests',
      )
    .card-invoice__table-container.card-invoice__big-indent
      table.card-invoice__table
        tbody
          tr
            td.js-card-invoice__product 9 990 x 4
            td
            td.card-invoice__td-last-child.js-card-invoice__product-result 39 960
          tr
            td.card-invoice__service-charge Сбор за услуги #[span.card-invoice__discount.js-card-invoice__discount]
            td.card-invoice__service-charge-info
            td.card-invoice__td-last-child.js-card-invoice__service-charge-price 0
          tr
            td.card-invoice__addit-charge Сбор за дополнительные услуги
            td.card-invoice__addit-charge-info
            td.card-invoice__td-last-child.js-card-invoice__addit-charge-price 300
    .card-invoice__total.card-invoice__mid-indent
      .card-invoice__total-text Итого
      .card-invoice__total-dashed-border
      .card-invoice__total-price.js-card-invoice__total-price 38 081
    +button-long({ name: 'button-long-1st', text: 'ЗАБРОНИРОВАТЬ', fill: true, arrowed: true })(
      type = 'submit',
    )
