@use "sass:map";
@use "sass:color";
@use "../../styles/colors" as colors;
@use "../../styles/text-mixins" as fonts;

.card-invoice {
  box-sizing: border-box;
  width: 23.75rem;
  padding: 1.875rem;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card-invoice__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 1.875rem;
}

.card-invoice__heading-left {
  @include fonts.Montserrat-bold;
  color: map.get(colors.$map, dark-shade-100);
}

.card-invoice__heading-numero {
  font-size: 0.875rem;
}

.card-invoice__heading-number {
  position: relative;

  font-size: 1.5rem;
}

.card-invoice__label-number_lux {
  &::after {
    content: 'люкс';
    right: -2.5625rem;
    bottom: 0.4375rem;

    font-size: 0.75rem;
    text-transform: uppercase;
    color: map.get(colors.$map, 'purple');
  }
}

.card-invoice__heading-right {
  @include fonts.Montserrat-normal;
  color: map.get(colors.$map, dark-shade-50);
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.card-invoice__heading-price {
  @include fonts.Montserrat-bold;
  font-size: 0.875rem;
}

.card-invoice__table-container {
  padding: 0;
}

.card-invoice__table {
  min-width: calc(100% + 0.625rem);
  margin: -0.625rem -0.3125rem;
  border-collapse: separate;
  border-spacing:  0.3125rem 0.625rem;

  @include fonts.Montserrat-normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: map.get(colors.$map, dark-shade-75);

  & td {
    vertical-align: baseline;
  }
}

.card-invoice__service-info {
  position: relative;
  width: 1.25rem;

  &:after {
    content: 'i';

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25rem;

    border: 1px solid map.get(colors.$map, dark-shade-25);
    border-radius: 0.625rem;
    cursor: pointer;

    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: map.get(colors.$map, dark-shade-25);
  }
}

.card-invoice__additionar-service-info {
  position: relative;
  width: 1.25rem;

  &:after {
    content: 'i';
    position: absolute;
    top: 3.5px;
    left: 0;

    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25rem;

    border: 1px solid map.get(colors.$map, dark-shade-25);
    border-radius: 0.625rem;
    cursor: pointer;

    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: map.get(colors.$map, dark-shade-25);
  }
}

.card-invoice__td-last-child {
  text-align: end;
}

.card-invoice__service-charge {
  width: 13.375rem;
}

.card-invoice__addititonal-charge {
  width: 13.375rem;

  line-height: 1.125rem;
}
